---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import down_arrow from "../../public/Images/down-arrow.svg";
import up_arrow from "../../public/Images/up-arrow.svg";
import Customer_Communication from "../../public/Images/Customer_Communication.svg";
import erpnext_whatsapp from "../../public/Images/erpnext_whatsapp.svg";
import recent_statistics from "../../public/Images/recent_statistics.svg";
import statictics_vector1 from "../../public/Images/statictics_vector1.svg";
import statictics_vector2 from "../../public/Images/statictics_vector2.svg";
import Hassle_free_integration from "../../public/Images/Hassle_free_integration.svg";
import Sharing_Static from "../../public/Images/Sharing_Static.svg";
import end_to_end_user_activity from "../../public/Images/end_to_end_user_activity.svg";
import Easily_send_bulk from "../../public/Images/Easily_send_bulk.svg";
import Easily_send_bulk2 from "../../public/Images/Easily_send_bulk2.png";
import Easily_send_bulk3 from "../../public/Images/Easily_send_bulk3.png";
import Real_time_alerts from "../../public/Images/Real_time_alerts.svg";
import Templates_from_WATI1 from "../../public/Images/Templates_from_WATI1.svg";
import Templates_from_WATI2 from "../../public/Images/Templates_from_WATI2.svg";
import whatsapp_cloud from "../../public/Images/whatsapp_cloud.svg";
import whatsapp_getting_started from "../../public/Images/whatsapp_getting_started.svg";
import whatsapp_getting_started_2 from "../../public/Images/whatsapp_getting_started_2.svg";
import whatsapp_token from "../../public/Images/whatsapp_token.svg";
import whatsapp_templates from "../../public/Images/whatsapp_templates.svg";
---

<Layout
  title=" Whatsapp product Integration with ERPNext | Sanskar Technolab"
  ,
  keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
  ,
  description="Connect with your customers like never before with our seamless WhatsApp integration for ERPNEXT."
  ,
  canonical_href="https://sanskartechnolab.com/erpnext_whatsapp_integration"
>
  <!-- Heading intro start  -->
  <section
    class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div
      class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full md:w-6/12">
        <h1
          class="text-[1.75rem] md:text-[2.25rem] lg:text-[2.7rem] !leading-[2.25rem] md:!leading-[3.5rem] lg:leading-[4rem] text-[#31393C] font-extrabold"
        >
          Customer Communication Made Simpler!
        </h1>
        <p
          class="text[#31393C] text-sm md:text-base lg:text-lg leading-5 md:leading-6 mt-5"
        >
          Connect with your customers like never before with our<br
            class="hidden lg:block"
          /> seamless WhatsApp integration for ERPNEXT.
        </p>
        <Image
          loading="eager"
          src={erpnext_whatsapp}
          alt="erpnext_whatsapp"
          class="py-3"
        />
      </div>
      <Image
        loading="eager"
        src={Customer_Communication}
        alt="Customer_Communication"
        class="w-full md:w-6/12 lg:p-10 md:p-8"
      />
    </div>
  </section>

  <section
    class="section-bg flex items-center md:flex lg:hidden banner-bg py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div
      class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full lg:w-6/12 mt-5">
        <div
          class="text-[1.5rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
        >
          Customer Communication Made Simpler!
        </div>
        <p
          class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-3"
        >
          Connect with your customers like never before with our <br
            class="hidden lg:block"
          /> seamless WhatsApp integration for ERPNEXT.
        </p>
        <Image
          loading="eager"
          src={erpnext_whatsapp}
          alt="erpnext_whatsapp"
          class="py-3"
        />
      </div>
      <Image
        loading="eager"
        src={Customer_Communication}
        alt="Customer_Communication"
        class="w-full mb-5"
      />
    </div>
  </section>
  <!-- Heading intro End -->

  <!-- recent statistics! Start -->
  <section
    class="section-bg-left1 grid justify-items-center mx-5 md:max-w-full md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] lg:mt-5"
  >
    <div class="text-left sm:text-center md:text-center lg:text-center">
      <h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-bold">
        Don't take our word;<br class="hidden md:block" />
        let's look at the recent statistics!
      </h2>
    </div>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-14 mt-10">
      <div class="lg:ms-80">
        <Image
          loading="eager"
          src={recent_statistics}
          alt="recent_statistics"
          class="mx-auto"
        />
      </div>

      <div class="">
        <div class="flex flex-row gap-x-5">
          <Image
            loading="eager"
            src={statictics_vector1}
            alt="statictics_vector1"
            class="w-[35px] lg:w-[50px] h-[35px] lg:h-[48px]"
          />
          <p class="text-xs md:text-sm lg:text-base">
            According to the latest statistics, over<span
              class="text-[#3E96F4] font-semibold"
            >
              5 million<br class="hidden lg:block" /> businesses
            </span>are connecting with customers on<br
              class="sm:block md:hidden lg:block"
            /> WhatsApp.
          </p>
        </div>
        <div class="flex flex-row gap-x-5 mt-5 mb-5">
          <Image
            loading="eager"
            src={statictics_vector2}
            alt="statictics_vector2"
            class="w-[35px] lg:w-[50px] h-[35px] lg:h-[48px]"
          />
          <p class="text-xs md:text-sm lg:text-base">
            On top of it,<span class="text-[#3E96F4] font-bold">
              64% of WhatsApp
            </span> users agreed that<br class="hidden lg:block" /> WhatsApp helps
            them foster a personal<br class="hidden lg:block" /> connection to businesses.
          </p>
        </div>
        <div
          class="we-work p-6 lg:w-[449px] lg:h-[221px] rounded-tr-3xl rounded-br-3xl rounded-bl-3xl"
        >
          <p class="font-semibold text-xs md:text-sm lg:text-base">
            If you also want to tune into smoother <br
              class="hidden lg:block"
            />communication with your customers, then our<br
              class="hidden lg:block"
            /> WhatsApp integration product is all you need.  This<br
              class="hidden lg:block"
            /> feature-rich product helps businesses seamlessly<br
              class="hidden lg:block"
            /> integrate their ERPNEXT system with WhatsApp - <br
              class="hidden lg:block"
            />and tune to smoother communication and better <br
              class="hidden lg:block"
            />customer satisfaction.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- recent statistics! end  -->

  <!-- communication with your customers start -->
  <section class="section-bg-right1">
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
      <h2
        class="mx-auto text-left md:text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold mb-5 md:mb-10"
      >
        Let's understand how this integration will help you
        <br class="hidden lg:block" />streamline communication with your
        customers?
      </h2>

      <div class="lg:flex flex-row lg:mt-10">
        <div class="lg:basis-7/12">
          <Image
            loading="eager"
            src={Hassle_free_integration}
            alt="Hassle_free_integration"
            class="lg:w-[812px]"
          />
        </div>
        <div
          class="text-[#31393C] text-xs md:text-sm lg:text-base lg:mt-14 lg:basis-5/12 lg:ms-5"
        >
          <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
            Hassle-free integration with WhatsApp API:
          </p>

          <p class="mt-2">
            Our product allows businesses to integrate their ERPNEXT <br
              class="hidden lg:block"
            /> system with WhatsApp's API without any hassle.
          </p>

          <ul class="list-disc ml-7 mt-3 md:mt-3 lg:mt-7">
            <li>
              You can integrate it into your existing site as well as a <br
                class="hidden lg:block"
              />new one.
            </li>
            <li>User-friendly interface</li>
            <li>Streamlined setup process</li>
          </ul>
        </div>
      </div>

      <div class="lg:flex flex-row mt-5 md:mt-10 lg:mt-10">
        <div class="lg:basis-7/12 flex md:flex lg:hidden">
          <Image
            loading="eager"
            src={Sharing_Static}
            alt="Sharing_Static"
            class="lg:w-[812px] lg:-ml-10"
          />
        </div>
        <div
          class="text-[#31393C] text-xs md:text-sm lg:text-base lg:mt-14 lg:basis-5/12 lg:ms-5"
        >
          <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
            Sharing Static & Dynamic Content Through
            <br class="hidden lg:block" /> Whatsapp:
          </p>

          <p class="mt-2">
            With Sanskar's WhatsApp Integration product, businesses <br
              class="hidden lg:block"
            /> can seamlessly share both static and dynamic content with <br
              class="hidden lg:block"
            />customers through WhatsApp.
          </p>

          <ul class="list-disc ml-7 mt-3 md:mt-3 lg:mt-7">
            <li>
              Static content includes predefined messages, images, or <br
                class="hidden lg:block"
              />
              documents that can be easily shared with customers for <br
                class="hidden lg:block"
              />consistent communication.
            </li>
            <li>
              Dynamic content‌ enables businesses to send<br
                class="hidden lg:block"
              />
              personalized messages with variables such as customer <br
                class="hidden lg:block"
              />
              names, order numbers, and other relevant information.
            </li>
            <li>
              You can utilize pre-made master templates (as per the <br
                class="hidden lg:block"
              />
              receiver) such as supplier, customer, lead, etc to send<br
                class="hidden lg:block"
              /> messages accordingly.
            </li>
          </ul>
        </div>
        <div class="lg:basis-7/12 lg:w-auto hidden md:hidden lg:flex">
          <Image
            loading="eager"
            src={Sharing_Static}
            alt="Sharing_Static"
            class="lg:w-[812px] lg:-ml-10"
          />
        </div>
      </div>

      <div class="lg:flex flex-row mt-5 md:mt-10 lg:mt-10">
        <div class="lg:basis-7/12">
          <Image
            loading="eager"
            src={end_to_end_user_activity}
            alt="Hassle_free_integration"
            class="lg:w-[812px]"
          />
        </div>
        <div
          class="text-[#31393C] text-xs md:text-sm lg:text-base lg:mt-14 lg:basis-5/12 lg:ms-5"
        >
          <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
            Businesses can review end-to-end user activity:
          </p>

          <p class="mt-2">
            Our WhatsApp integration product provides businesses with <br
              class="hidden lg:block"
            /> the ability to track and review end-to-end user activity.
          </p>

          <ul class="list-disc ml-7 mt-3 md:mt-3 lg:mt-7">
            <li>
              You can review all the sent and received WhatsApp  <br
                class="hidden lg:block"
              />messages on your website or application.
            </li>
            <li>
              You can reply to Whatsapp chats from the users directly  <br
                class="hidden lg:block"
              />from the portal.
            </li>
            <li>
              Anyone with access to the portal, can view and manage <br
                class="hidden lg:block"
              /> user activity.
            </li>
          </ul>
        </div>
      </div>

      <div class="section-bg-center lg:flex flex-row mt-5 md:mt-10 lg:mt-10">
        <div class="lg:basis-7/12 flex md:flex lg:hidden">
          <Image
            loading="eager"
            src={Real_time_alerts}
            alt="Real_time_alerts"
            class="lg:w-[812px] lg:-ml-10"
          />
        </div>
        <div
          class="text-[#31393C] text-xs md:text-sm lg:text-base lg:mt-14 lg:basis-5/12 lg:ms-5"
        >
          <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
            Real-time alerts to keep you updated:
          </p>

          <p class="mt-2">
            Our product provides businesses with instant Whatsapp <br
              class="hidden lg:block"
            />
            notifications on the portal so that they can stay updated <br
              class="hidden lg:block"
            />with end-to-end user activity.
          </p>

          <ul class="list-disc ml-7 mt-3 md:mt-3 lg:mt-7">
            <li>
              Instant Whatsapp notification when you send or receive <br
                class="hidden lg:block"
              />Whatsapp messages.
            </li>
            <li>
              You can view the entire Whatsapp chat activity with any <br
                class="hidden lg:block"
              />user, through the portal.
            </li>
            <li>
              You can provide timely & convenient support to <br
                class="hidden lg:block"
              />customers through real-time alerts.
            </li>
          </ul>
        </div>
        <div class="lg:basis-7/12 hidden md:hidden lg:flex">
          <Image
            loading="eager"
            src={Real_time_alerts}
            alt="Real_time_alerts"
            class="lg:w-[812px] lg:-ml-10"
          />
        </div>
      </div>

      <!--  slider1 start -->
      <div class="lg:flex md:text-center sm:text-left mt-5 md:mt-5 lg:mt-10">
        <div class="lg:basis-7/12 mb-10 lg:mb-0">
          <div
            id="carouselExampleIndicators"
            class="relative"
            data-te-carousel-init
            data-te-carousel-slide
            data-te-ride="carousel"
          >
            <!--Carousel indicators-->
            <div
              class="absolute -bottom-[2.5rem] md:-bottom-[3rem] lg:-bottom-[3rem] left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0 gap-4"
              data-te-carousel-indicators
            >
              <button
                type="button"
                data-te-target="#carouselExampleIndicators"
                data-te-slide-to="0"
                data-te-carousel-active
                class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-current="true"
                aria-label="Slide 1"></button>
              <button
                type="button"
                data-te-target="#carouselExampleIndicators"
                data-te-slide-to="1"
                class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 2"></button>
              <button
                type="button"
                data-te-target="#carouselExampleIndicators"
                data-te-slide-to="2"
                class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"></button>
            </div>

            <!--Carousel items-->
            <div
              class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
            >
              <!--First item-->
              <div
                class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
                data-te-carousel-active
              >
                <div class="flex-wrap mt-5 gap-5">
                  <Image
                    loading="eager"
                    class="w-full h-full lg:basis-7/12"
                    src={Easily_send_bulk}
                    alt="slider image 1"
                  />
                </div>
              </div>
              <!--Second item-->
              <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
              >
                <div class="flex-wrap mt-5 gap-5">
                  <Image
                    loading="eager"
                    class="lg:basis-7/12 w-full h-full"
                    src={Easily_send_bulk2}
                    alt="slider image 2"
                  />
                </div>
              </div>
              <!--Third item-->
              <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
              >
                <div class="flex-wrap mt-5 gap-5">
                  <Image
                    loading="eager"
                    class="lg:basis-7/12 w-full h-full"
                    src={Easily_send_bulk3}
                    alt="slider image 3"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="relative float-right sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left lg:basis-5/12 lg:ms-7"
        >
          <div
            class="font-semibold text-base md:text-lg lg:text-xl lg:mt-16 md:mt-3 mb-2 md:mb-3"
          >
            Easily send bulk & individual messages:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Businesses can seamlessly send bulk and individual<br
              class="hidden lg:block"
            /> messages to their users through the product.
          </p>
          <ul
            class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3 md:mt-3 lg:mt-7"
          >
            <li>
              For bulk messages, you can seamlessly customize the<br
                class="hidden lg:block"
              /> messages as per your requirements.
            </li>
            <li>
              In the case of individual messages, you can get a <br
                class="hidden lg:block"
              />Whatsapp chat pop-up within the portal for better<br
                class="hidden lg:block"
              /> communication with your customers.
            </li>
            <li>
              You can target a specific user group(from customers, <br
                class="hidden lg:block"
              />suppliers, etc) for sending and receiving messages.
            </li>
          </ul>
        </div>
      </div>
      <!-- slider1 end -->

      <!--  slider2 start -->
      <div class="lg:flex md:text-center sm:text-left mt-5 md:mt-10 lg:mt-16">
        <div
          class="relative float-right sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left lg:basis-5/12 lg:ms-5 hidden md:hidden lg:block"
        >
          <div
            class="font-semibold text-base md:text-lg lg:text-xl mt-3 lg:mt-16 md:mt-3 mb-2 md:mb-3"
          >
            Automatically Get Templates from WATI
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            This feature of Sanskar's WhatsApp Integration product <br
              class="hidden lg:block"
            /> you to automatically GET pre-made or custom <br
              class="hidden lg:block"
            />templates from WATI.
          </p>
          <ul
            class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3 lg:mt-7"
          >
            <li>
              Users can preview the content when they GET templates <br
                class="hidden lg:block"
              />from WATI.
            </li>
            <li>Availability of the latest templates.</li>
            <li>
              Range of pre-made templates while you even make <br
                class="hidden lg:block"
              />customized ones.
            </li>
          </ul>
        </div>
        <div class="lg:basis-7/12 mb-10 lg:mb-0 lg:mr-10">
          <div
            id="carouselExampleIndicators1"
            class="relative"
            data-te-carousel-init
            data-te-carousel-slide
            data-te-ride="carousel"
          >
            <!--Carousel indicators-->
            <div
              class="absolute -bottom-[2.5rem] md:-bottom-[3rem] lg:-bottom-[3rem] left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0 gap-4"
              data-te-carousel-indicators
            >
              <button
                type="button"
                data-te-target="#carouselExampleIndicators1"
                data-te-slide-to="0"
                data-te-carousel-active
                class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-current="true"
                aria-label="Slide 1"></button>
              <button
                type="button"
                data-te-target="#carouselExampleIndicators1"
                data-te-slide-to="1"
                class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 2"></button>
            </div>

            <!--Carousel items-->
            <div
              class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
            >
              <!--First item-->
              <div
                class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
                data-te-carousel-active
              >
                <div class="mt-5 gap-5">
                  <Image
                    loading="eager"
                    class="lg:basis-7/12 w-full h-full"
                    src={Templates_from_WATI1}
                    alt="slider image 1"
                  />
                </div>
              </div>
              <!--Second item-->
              <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
              >
                <div class="mt-5 gap-5">
                  <Image
                    loading="eager"
                    class="w-full h-full lg:basis-7/12"
                    src={Templates_from_WATI2}
                    alt="slider image 1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="relative float-right sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left lg:basis-5/12 lg:ms-5 block lg:hidden"
        >
          <div
            class="font-semibold text-base md:text-lg lg:text-xl md:mt-3 mb-2 md:mb-3"
          >
            Automatically Get Templates from WATI
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            This feature of Sanskar's WhatsApp Integration product <br
              class="hidden lg:block"
            /> you to automatically GET pre-made or custom <br
              class="hidden lg:block"
            />templates from WATI.
          </p>
          <ul
            class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3 lg:mt-7"
          >
            <li>
              Users can preview the content when they GET templates <br
                class="hidden lg:block"
              />from WATI.
            </li>
            <li>Availability of the latest templates.</li>
            <li>
              Range of pre-made templates while you even make <br
                class="hidden lg:block"
              />customized ones.
            </li>
          </ul>
        </div>
      </div>
      <!-- slider2 end -->
    </section>
  </section>
  <!-- communication with your customers end -->

  <!-- Whatsapp product Integration with ERPNext start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] mt-44 md:mt-52 lg:mt-10"
  >
    <h2
      class="text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
    >
      Whatsapp product Integration with ERPNext.
    </h2>
    <div class="mt-5 md:mt-10 lg:mt-16 lg:ml-64">
      <!-- <div class="w-full lg:w-1/2 mt-10 lg:mt-0 border-l-2 border-dashed border-[#4D5F66] border-opacity-40"></div> -->
      <div
        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
      >
        <div class="">
          <div
            class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
          >
          </div>
        </div>
        <p
          class="hidden lg:block text-[#31393C] text-xs md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1"
        >
          Step 1:
        </p>
        <div class="md:-mt-[2px] lg:-mt-1 lg:ml-10">
          <p class="lg:hidden text-[#31393C] text-xs md:text-sm font-semibold">
            Step 1:
          </p>
          <p
            class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
          >
            Install the product:
          </p>
          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:max-w-[45rem]"
          >
            You can access our Whatsapp product through Frappe marketplace. To
            install our product, you need to pay monthly fees of $10.
          </p>
          <Image
            loading="eager"
            src={whatsapp_cloud}
            alt="whatsapp_cloud"
            class="mt-3 lg:mt-5"
          />
        </div>
      </div>

      <div
        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
      >
        <div class="">
          <div
            class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
          >
          </div>
        </div>
        <p
          class="hidden lg:block text-[#31393C] text-xs md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1"
        >
          Step 2:
        </p>
        <div class="md:-mt-[2px] lg:-mt-1 lg:ml-10">
          <p class="lg:hidden text-[#31393C] text-xs md:text-sm font-semibold">
            Step 2:
          </p>
          <p
            class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
          >
            Getting Started:
          </p>
          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:max-w-[45rem]"
          >
            After installing our integration product, to get started you have 3
            different scenarios.
          </p>
          <div class="getting_started p-2 mt-2 md:mt-2 lg:w-[908px]">
            <ul class="list-disc ml-5 md:ml-7 marker:text-blue-500">
              <li
                class="text-[#31393C] text-xs md:text-sm lg:text-base font-semibold"
              >
                If you already have a site, you just need to install our
                product.
              </li>
            </ul>
          </div>
          <Image
            loading="eager"
            src={whatsapp_getting_started}
            alt="whatsapp_getting_started"
            class="mt-3"
          />
          <div class="getting_started p-2 mt-3 md:mt-3 lg:w-[908px]">
            <ul class="list-disc ml-5 md:ml-7 marker:text-blue-500">
              <li
                class="text-[#31393C] text-xs md:text-sm lg:text-base font-semibold"
              >
                If you don't have a site you can create your own <a
                  href="https://frappecloud.com/docs/sites/creating-a-new-site"
                  class="text-[#3E96F4]">here</a
                > and install on it.
              </li>
              <li
                class="text-[#31393C] text-xs md:text-sm lg:text-base font-semibold"
              >
                If you have a bench you can install our product on the bench and
                then install it on site.
              </li>
            </ul>
          </div>
          <Image
            loading="eager"
            src={whatsapp_getting_started_2}
            alt="whatsapp_getting_started_2"
            class="mt-3"
          />
          <div class="getting_started p-2 mt-3 md:mt-3 lg:w-[908px]">
            <ul class="list-disc ml-5 md:ml-7 marker:text-blue-500">
              <li
                class="text-[#31393C] text-xs md:text-sm lg:text-base font-semibold"
              >
                If you don’t have a bench you can install it <a
                  href="https://frappecloud.com/docs/sites/creating-a-new-site"
                  class="text-[#3E96F4]">here</a
                >.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
      >
        <div class="flex-shrink-0">
          <div
            class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
          >
          </div>
        </div>
        <p
          class="hidden lg:block text-[#31393C] text-xs md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1"
        >
          Step 3:
        </p>
        <div class="md:-mt-[2px] lg:-mt-1 lg:ml-10">
          <p class="lg:hidden text-[#31393C] text-xs md:text-sm font-semibold">
            Step 3:
          </p>
          <p
            class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
          >
            Obtain the token from WATI:
          </p>
          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:w-[908px]"
          >
            Go to your WATI (WhatsApp API service provider), copy the token, and
            paste it into the bearer text box.  If you don't have a WATI
            account, <a
              href="https://app.wati.io/register/?_gl=1*vcwnn2*_gcl_aw*R0NMLjE2ODg5OTI3NzIuQ2p3S0NBancySzZsQmhCWEVpd0E1Ump0Q1REVnZDQ1VzVGR3MU9CZXlILVJGUjUzeGZQZk95QXlJRUxSMHppRUx4LXhwWk1QUDZPOXV4b0NmLWtRQXZEX0J3RQ..*_gcl_au*ODY5OTYzOTguMTY4MzU0MTU1Nw.."
              class="text-[#3E96F4]">here</a
            > is how you can create a free account.
          </p>
          <Image
            loading="eager"
            src={whatsapp_token}
            alt="whatsapp_token"
            class="mt-3 lg:mt-5"
          />
        </div>
      </div>
      <div
        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
      >
        <div class="">
          <div
            class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
          >
          </div>
        </div>
        <p
          class="hidden lg:block text-[#31393C] text-xs md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1"
        >
          Step 4:
        </p>
        <div class="md:-mt-[2px] lg:-mt-1 lg:ml-10">
          <p class="lg:hidden text-[#31393C] text-xs md:text-sm font-semibold">
            Step 4:
          </p>
          <p
            class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
          >
            GET your templates:
          </p>
          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:w-[908px]"
          >
            Search pre-made or custom Whatsapp templates from WATI and then GET
            your required template to send messages.
          </p>
          <Image
            loading="eager"
            src={whatsapp_templates}
            alt="whatsapp_templates"
            class="mt-3 lg:mt-5"
          />
        </div>
      </div>
      <div
        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
      >
        <div class="">
          <div
            class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
          >
          </div>
        </div>
        <p
          class="hidden lg:block text-[#31393C] text-xs md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1"
        >
          Step 5:
        </p>
        <div class="md:-mt-[2px] lg:-mt-1 lg:ml-10">
          <p class="lg:hidden text-[#31393C] text-xs md:text-sm font-semibold">
            Step 5:
          </p>
          <p
            class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
          >
            Choose the doc types & send messages
          </p>
          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:w-[908px]"
          >
            After getting the required template, you can choose the
            DocType(Suppliers, Customers, Leads, etc) to send dynamic & static
            messages accordingly.
          </p>
        </div>
      </div>
      <div
        class="flex gap-4 md:gap-5 lg:gap-6 mb-[1.75rem] lg:mb-[1rem] xl:mb-[1.5rem] 2xl:mb-[1.75rem]"
      >
        <div class="">
          <div
            class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
          >
          </div>
        </div>
        <p
          class="hidden lg:block text-[#31393C] text-xs md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1"
        >
          Step 6:
        </p>
        <div class="md:-mt-[2px] lg:-mt-1 lg:ml-10">
          <p class="lg:hidden text-[#31393C] text-xs md:text-sm font-semibold">
            Step 6:
          </p>
          <p
            class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
          >
            Send Individual & Bulk messages
          </p>
          <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
            You can easily send individual and bulk messages in a static and
            dynamic manner.
          </p>
          <ul
            class="list-disc text-[#31393C] text-xs md:text-sm lg:text-base ml-4 md:ml-6 lg:ml-8 mt-1"
          >
            <li>
              To send bulk messages, you need to select a custom doctype and
              fields to send dynamic messages.
            </li>
            <li>
              To send individual messages, you can just send static messages as
              per your customer's requirement.
            </li>
          </ul>
          <div
            class="bulk_msgs lg:w-[908px] p-2 md:p-3 lg:p-5 mt-5 md:mt-5 lg:mt-10"
          >
            <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
              Once you have completed these steps, your website or application
              is seamlessly integrated. You can now leverage the product's
              features to send personalized messages, track customer activity,
              receive real-time alerts, and boost customer collaboration.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Whatsapp product Integration with ERPNext end -->

  <!-- Frequently Asked Questions (FAQs) start -->
  <section
    class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div
      x-data="{ accordion: 0 }"
      class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
    >
      <p
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold ml-3 leading-9"
      >
        Frequently Asked Questions (FAQs)
      </p>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4"
          @click="accordion = accordion == 0 ? 1 : 0"
        >
          <div
            class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
          >
            What are some prerequisites required for this integration?
          </div>
          <Image
            loading="eager"
            :class="accordion === 1 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion !== 1 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>

        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Following are some prerequisites needed for seamless integration -
          </p>
          <ul
            class="list-disc text-xs md:text-sm lg:text-base ml-10 md:ml-12 mb-5"
          >
            <li>Account on WATI</li>
            <li>WATI configuration</li>
            <li>Access token & API for WATI</li>
          </ul>
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4"
          @click="accordion = accordion == 2 ? 0 : 2"
        >
          <div
            class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
          >
            Will I receive WhatsApp notifications on my ERPNext system through
            this product?
          </div>
          <Image
            loading="eager"
            :class="accordion !== 2 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 2 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, with this product integration, you will receive all the
            WhatsApp notifications on your ERPNext system. Apart from it, you
            will get all the real-time alerts from your users and can easily
            track their end-to-end activity.
          </p>
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4"
          @click="accordion = accordion == 3 ? 0 : 3"
        >
          <div
            class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
          >
            Can I send messages to both individual customers and groups using
            your product?
          </div>
          <Image
            loading="eager"
            :class="accordion !== 3 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 3 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Absolutely! Whether you need to send personalized messages to
            specific individuals or broadcast important updates to a larger
            group, our product allows you to easily manage and customize your
            messaging strategy.
          </p>
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4"
          @click="accordion = accordion == 4 ? 0: 4"
        >
          <div
            class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
          >
            How long does it take to integrate our ERPNEXT system with
            WhatsApp's API using your product?
          </div>
          <Image
            loading="eager"
            :class="accordion !== 4 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 4 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            The integration process of the product with ERPNext is quite simple
            and convenient for all our customers. Considering the easy-to-use
            interface and simple setup, completing the integration process will
            take around one hour.
          </p>
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4"
          @click="accordion = accordion == 5 ? 0: 5"
        >
          <div
            class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
          >
            How much does it cost to get your WhatsApp integration product?
          </div>
          <Image
            loading="eager"
            :class="accordion !== 5 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 5 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            You can purchase the integration product from the Frappe
            marketplace. The cost to purchase the product is $10/month.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Frequently Asked Questions (FAQs) end -->
</Layout>
<style>
  .getting_started {
    border-radius: 10px;
    border: 1px solid #dadada;
    background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
  }

  .bulk_msgs {
    border-radius: 10px;
    border: 1px solid #dadada;
    background: linear-gradient(135deg, #fff5e4 0%, #fff 100%);
  }

  .we-work {
    /* background: linear-gradient(135deg, #bfdeff 0%, #ecf5ff 100%); */
    background-color: #eef6ff;
    /* border: 2px solid black; */
  }

  /* .slider_shadow {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    } */
  .section-bg-right1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120rem;
    background-image: radial-gradient(
      ellipse at right,
      rgba(62, 150, 244, 0.15),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
    z-index: -1;
  }
  .section-bg-left1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100rem;
    background-image: radial-gradient(
      ellipse at left,
      rgba(62, 150, 244, 0.15),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
    z-index: -1;
  }
  .section-bg-center {
    position: relative;
  }

  .section-bg-center::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 120rem;
    background-image: radial-gradient(
      rgba(62, 150, 244, 0.1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
    background-origin: border-box;
    background-clip: padding-box, border-box;
    z-index: -1;
    margin-top: -10rem;
  }

  [data-te-carousel-indicators] button[data-te-carousel-active] {
    background-color: #3e96f4;
  }
</style>
