---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import erpnext_and_tata_smartflo from "../../public/Images/erpnext_and_tata_smartflo.svg";
import Telephony_API from "../../public/Images/Telephony_API.svg";
import connecting_to_call from "../../public/Images/connecting_to_call.svg";
import call_option from "../../public/Images/call_option.png";
import Product_Call_Details_Fetching from "../../public/Images/Product_Call_Details_Fetching.png";
import Product_Comprehensive_Dashboard from "../../public/Images/Product_Comprehensive_Dashboard.png";
import Product_Detailed_Call_Reports from "../../public/Images/Product_Detailed_Call_Reports.png";
import Product_Direct_Call_Management from "../../public/Images/Product_Direct_Call_Management.png";
import Product_End_to_End_Reports from "../../public/Images/Product_End-to-End_Reports.png";
import Product_One_Click_Calling from "../../public/Images/Product_One-Click_Calling.png";
import Product_Seamless_Calling_by_Agents from "../../public/Images/Product_Seamless_Calling_by_Agents.png";
import Product_Trend_Analysis from "../../public/Images/Product_Trend_Analysis.png";
import down_arrow from "../../public/Images/down-arrow.svg";
import up_arrow from "../../public/Images/up-arrow.svg";

---

<Layout
	title="Calling Made Easy with ERPNext + Tata Smart Flo for Unmatched Customer Support | Sanskar Technolab"
	,
	keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
	,
	description="Empower your business efficiency with Sanskar Technolabs' successful integration of ERPNext and Tata Smart Flo. Get enhanced collaboration & customer relationships."
	,
	canonical_href="https://sanskartechnolab.com/erpnext_calling_integration"
>


	<!-- Heading intro start  -->
    <section
        class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div
            class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full md:w-6/12">
                <h1
                class="text-[1.75rem] md:text-[2.25rem] lg:text-[2.7rem] !leading-[2.25rem] md:!leading-[3.5rem] lg:leading-[4rem] text-[#3E96F4] font-extrabold"
                >Telephony API </h1>
                <h2
				  class="text-[1.75rem] md:text-[2.25rem] lg:text-[2.7rem] !leading-[2.25rem] md:!leading-[3.5rem] lg:leading-[4rem] text-[#31393C] font-extrabold"
			  >
               Communicate, Enhance Customer Satisfaction, Repeat!
                </h2>
                <Image
                loading="eager"
                src={erpnext_and_tata_smartflo}
                alt="erpnext_and_tata_smartflo"
                class="py-3 "
            />
           
                <p
                    class="text[#31393C] text-sm md:text-base lg:text-lg leading-5 md:leading-6 mt-5"
                >
				Ever found yourself juggling customer details, trying to make <br class="hidden lg:block">that perfect call, and wishing for a simpler way to manage it all?
                </p>
            </div>

            <Image
                loading="eager"
                src={Telephony_API}
                alt="Telephony_API"
                class="w-full md:w-6/12 lg:p-10 md:p-8"
            />
        </div>
    </section>

    <section class="section-bg flex items-center md:flex lg:hidden banner-bg py-[2rem] md:py-[2rem] lg:py-[4rem] ">
        <div
            class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full lg:w-6/12 mt-5">
                <div
                    class="text-[1.5rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#3E96F4] font-bold"
                >Telephony API 
            </div>
                <div
                    class="text-[1.5rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
				Communicate, Enhance Customer Satisfaction, <br class="hidden lg:block">Repeat!
                </div>
                <Image
                loading="eager"
                src={erpnext_and_tata_smartflo}
                alt="erpnext_and_tata_smartflo"
                class=""
            />
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                Ever found yourself juggling customer details, trying to make that perfect call, and wishing for a simpler way to manage it all?
                </p>
               
            </div>

            <Image loading="eager" src={Telephony_API} alt="farm" class="w-full mb-5" />
        </div>
    </section>
    <!-- Heading intro End -->

    <!-- Connecting to call Start -->
    <section class=" section-bg-left1 grid justify-items-center mx-5 md:max-w-full md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] lg:mt-5 ">
    <div class="text-left sm:text-center md:text-center lg:text-center">
        <h2
            class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-bold"
        >
        We get it.<br class="hidden md:block" />
        And believe me, you are not the only one.
        </h2>
        <p
            class="text-[#31393C] items-center mx-0 md:mx-5 lg:mx-20 xl:mx-56 text-xs md:text-sm lg:text-base mt-5 font-bold"
        >
       That's why we're excited to introduce Sanskar Technolabs' game-changer: the<br class="hidden md:block"> integration of ERPNext with Tata Smart Flo's advanced calling system.    
        </p>
    </div>
    <div class=" grid lg:grid-cols-2 md:grid-cols-1 gap-14 mt-10 ">
    <div>
        <Image loading="eager" src={connecting_to_call} alt="connecting_to_call" class=""/>
    </div>


    <div class="">
        <Image loading="eager" src={call_option} alt="call_option" class="mb-3 md:mb-3 lg:mb-5 mx-auto lg:mx-0"/>
        <!-- <div class="flex flex-row gap-x-16 place-content-center -ms-10 ">
            <div>
                <Image loading="eager" src={make_call} alt="make_call" class=" "/>
                <p class="font-bold -ms-2 mt-1">Make Call</p>
            </div>
            <div>
                <Image loading="eager" src={reject_call} alt="reject_call" class=" "/>
                <p class="font-bold -ms-2 mt-1">Reject Call</p>
            </div>
            <div>
                <Image loading="eager" src={transfer_call} alt="transfer_call" class=" "/>
                <p class="font-bold -ms-2 mt-1">Transfer Call</p>
            </div>
        </div>
        <div class="flex flex-row gap-x-16 mt-7 ">
            <div>
                <Image loading="eager" src={hold_call} alt="make_call" class=" "/>
                <p class="font-bold mt-1">Hold Call</p>
            </div>
            <div>
                <Image loading="eager" src={Unhold_call} alt="reject_call" class=" "/>
                <p class="font-bold -ms-2 mt-1">Un-Hold Call</p>
            </div>
            <div>
                <Image loading="eager" src={mute_call} alt="transfer_call" class=" "/>
                <p class="font-bold -ms-2 mt-1">Mute Call</p>
            </div>
            <div>
                <Image loading="eager" src={Unmute_call} alt="transfer_call" class=" "/>
                <p class="font-bold -ms-2 mt-1">Un-Mute Call</p>
            </div>
        </div> -->
        <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 mt-5 lg:mt-10"
        >
        It helps you in having all your customer info in one place and<br class="hidden lg:block"> make calls directly from your ERPNext system with just one click. 
    </p>
    <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5"
        >
        It's not just about calls; it's about building awesome relationships, <br class="hidden lg:block">offering lightning-fast support, and having all your data in one <br class="hidden lg:block">universal platform. 
        
    </p>
    <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base "~
        >
        No more dealing with different platforms (for calling, tracking, and<br class="hidden lg:block"> managing leads) or customers complaining about
        bad after-sales<br class="hidden lg:block"> support —just seamless, efficient, and great customer satisfaction <br class="hidden lg:block">with our ERPNext calling integration product.
    </p>

    </div>
    </section>  
    <!-- Connecting to call end  -->

    <!-- product list start -->
    <section class="section-bg-right1">
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <h2
            class="mx-auto text-left md:text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
        >
        The product you know, the features you
        <br class="hidden lg:block">don’t - Let’s find out!
        </h2>

        <div class="grid grid-cols-1 lg:grid-cols-2 mt-10 gap-7 ">
            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5 ">
                <Image
                    loading="eager"
                    src={Product_Direct_Call_Management}
                    alt="dashboard_insights"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">Direct Call Management:</p>
                    <!-- lg:w-[25rem] -->
                    <p class="mt-2 ">
                        Streamline your workflow by making calls directly within the ERPNext system. No more dealing with different 
                        applications – enhance your efficiency and communication with this seamless feature.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            Make calls directly from ERPNext & boost workflow <br class="hidden md:block">efficiency
                        </li>
                        <li>
                            Eliminate the need to switch between applications.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_Call_Details_Fetching}
                    alt="trends_analysis"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">Call Details Fetching:</p>
                    <p class="mt-2">
                        Automate your call log management effortlessly. All call details and recordings are automatically fetched and stored within ERPNext,
                         ensuring easy access and quick reference at your fingertips.
                    </p>

                    <ul class="list-disc ml-7 mt-2 ">
                        <li>
                            Automatic fetching of call log details. 
                        </li>
                        <li>
                            Simplified access to call recordings.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_Comprehensive_Dashboard}
                    alt="history_fetching"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">Comprehensive Dashboard:</p>
                    <p class="mt-2">
                        Gain a holistic view of your call statistics with our intuitive dashboard. Track daily, weekly, and monthly call metrics, including total answered calls, missed calls, incoming calls, and outgoing calls.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            User-friendly dashboard design.
                        </li>
                        <li>
                            Daily, weekly, and monthly call statistics.
                        </li>
                        <li>Insights into answered, missed, incoming, and outgoing calls.</li>
                    </ul>
                </div>
            </div>

            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_Trend_Analysis}
                    alt="fetch_inquiries"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">Trend Analysis and Graphical Representations:</p>
                    <p class="mt-2">
                        Visualize call trends and patterns through graphical representations, offering valuable insights for better decision-making and understanding of communication dynamics.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            Graphical representation of call trends.
                        </li>
                        <li>
                            Pie charts to know about the missed & answered calls.
                        </li>
                        <li>
                            Better understanding of communication patterns and informed decision-making.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_One_Click_Calling}
                    alt="automated_inquiry"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">One-Click Calling:</p>
                    <p class="mt-2">
                        Facilitate quick and efficient communication with the one-click calling feature. Empower your team to initiate calls effortlessly, improving customer interactions and response times.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            Enable one-click calling for efficient communication.
                        </li>
                        <li>
                            Quick initiation of calls for improved interactions.
                        </li>
                        <li>
                            Enhanced response times
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_Seamless_Calling_by_Agents}
                    alt="generate_forms"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">Seamless Calling by Agents:</p>
                    <p class="mt-2">
                        With our one-of-a-kind integration, your agents to effortlessly initiate calls to potential customers. Enhance outreach efforts and improve customer engagement with this user-friendly and efficient calling feature.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            Agents can initiate calls with ease.
                        </li>
                        <li>
                            Improve outreach efforts.
                        </li>
                        <li>
                            Enhance customer engagement through seamless calling.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_Detailed_Call_Reports}
                    alt="generate_forms"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">Detailed Call Reports:</p>
                    <p class="mt-2">
                        Generate comprehensive call reports with detailed information such as personal details, reason for the call, date and time, call duration, call status, agent name, recording URL, and doctype linking.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            Detailed call reports for in-depth insights.
                        </li>
                        <li>
                            Information on personal details, call reasons, and more.
                        </li>
                        <li>
                            Comprehensive documentation for analysis and review.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="features_card flex p-5 gap-x-3 lg:gap-x-5">
                <Image
                    loading="eager"
                    src={Product_End_to_End_Reports}
                    alt="generate_forms"
                    class="w-[64px] h-[64px]"
                />
                <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                    <p class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]">End-to-End Reports:</p>
                    <p class="mt-2">
                        Access customizable reports directly in your ERPNext with the ability to filter based on various criteria, including date, status, and call type. Gain tailored insights into your communication dynamics and optimize your strategies accordingly.
                    </p>

                    <ul class="list-disc ml-7 mt-2">
                        <li>
                            Customizable reports based on various criteria.
                        </li>
                        <li>
                            Filter reports by date, status, and call type.
                        </li>
                        <li>
                            Gain tailored insights for strategic optimization. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    </section>
    <!-- product list End -->

    <!-- Guide to Integrate ERPNext with Tata Smart Flo Start-->
    <section class="section-bg-center grid justify-items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] gap  "
    >
    <div class="text-left sm:text-center md:text-center lg:text-center">
    <h2
        class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-bold"
    >
    The Guide to Integrate ERPNext with Tata Smart Flo: <br class="hidden lg:block">Getting Started!
    </h2>
    </div>
    <div class="flex-none lg:flex mt-5 lg:mt-10">
        <div class="w-full lg:w-1/2 pr-0 lg:pr-16 xl:pr-28 2xl:pr-24 ">
            <p class="font-bold">Before getting started with the process of installing and setting up the calling integration system within your ERPNext - you need to abide by the following:</p>
            <p class="text-base md:text-lg lg:text-xl font-bold mt-5 lg:mt-10">Pre-requisites</p>
            <ul class="list-disc ms-5 lg:ms-10 mt-3 ">
                <li>2 APIs for calling & call logs</li>
                <li>Authorization Key</li>
                <li>Limit to fetch the data & call logs</li>
            </ul>
        </div>
        <div class=" w-full lg:w-1/2 mt-10 lg:mt-0 border-mx-10 ">
            <!-- <div class="w-full lg:w-1/2 mt-10 lg:mt-0 border-l-2 border-dashed border-[#4D5F66] border-opacity-40"></div> -->
            <div class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem] ">
              <div class=" ">
                <div class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66] ">
                </div>
              </div>
              <div class=" ">
                <p class="text-xs md:text-sm lg:text-base leading-6 md:leading-6 lg:leading-7 -mt-1 md:-mt-[0.35rem] font-semibold text-[#31393C] ">
                  Step 1:
                </p>
                <p class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C ">
                    Installing the App:
                </p>
                <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] ">
                    You need to install our calling integration on your Bench or Site.
                    </p>
                <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] mt-3  border-[#31393C] ultimate_card p-2 md:w-[544px]">
                    Go to your bench or site, select app tabs > Add app > Search the<br class="hidden md:block"> app(Calling integration)
                  </p>
               
                <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] mt-3 ">
                    You can choose our app and install it easily<br class="hidden md:block">
                    (after making the payment).
                </p>
                
              </div>
            </div>
  
            <div class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem] ">
              <div class=" ">
                <div class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66] ">
                </div>
              </div>
              <div class=" ">
                <p class="text-xs md:text-sm lg:text-base leading-6 md:leading-6 lg:leading-7 -mt-1 md:-mt-[0.35rem] font-semibold text-[#31393C] ">
                  Step 2:
                </p>
                <p class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C] ">
                    Copy Two APIs from Tata Smart Flo:
                </p>
                <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] ">
                    Log in to the Tata Smart Flo system, and locate the API section. Copy the APIs for making calls and another for call logs.
                    </p>
                
              </div>
            </div>
  
            <div class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem] ">
              <div class="flex-shrink-0 ">
                <div class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66] ">
                </div>
              </div>
              <div class=" ">
                <p class="item-center text-xs md:text-sm lg:text-base leading-6 md:leading-6 -mt-1 md:-mt-[0.35rem] lg:leading-7 font-semibold text-[#31393C]">
                  Step 3:
                </p>
                <p class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">
                    Paste APIs in our App’s call setting:
                </p>
                <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] ">
                    Go to the app's call setting section in our dashboard and paste the previously copied APIs for making and managing calls.
                    </p>
              </div>
            </div>

            <div class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem] ">
              <div class=" ">
                <div class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66] ">
                </div>
              </div>
              <div class=" ">
                <p class="item-center text-xs md:text-sm lg:text-base leading-6 md:leading-6 -mt-1 md:-mt-[0.35rem] lg:leading-7 font-semibold text-[#31393C] ">
                  Step 4:
                </p>
                <p class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C] ">
                    Configure User Numbers for Calling:
                </p>
                <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] ">
                    Go to the app's call setting section in our dashboard and paste the previously copied APIs for making and managing calls.
                </p>
               
                
              </div>
            </div>
            <div class="flex gap-4 md:gap-5 lg:gap-6 mb-[1.75rem] lg:mb-[1rem] xl:mb-[1.5rem] 2xl:mb-[1.75rem] ">
                <div class="">
                  <div class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66] ">
                  </div>
                </div>
                <div class=" ">
                  <p class="item-center text-xs md:text-sm lg:text-base leading-6 md:leading-6 -mt-1 md:-mt-[0.35rem] lg:leading-7 font-semibold text-[#31393C] ">
                    Step 5:
                  </p>
                  <p class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C] ">
                    Start making calls:
                  </p>
                  <p class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] ">
                    After adding the registered mobile numbers, you can start calling your customers with just one click.
                  </p>
                 
                  
                </div>
              </div>
          </div>
        
    </div>
    </section>
    <!-- Guide to Integrate ERPNext with Tata Smart Flo end -->

    <!-- User review Start -->
    <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
        <div
            class="!overlay-container mx-5 md:mx-auto md:max-w-7xl md:px-20 2xl:px-2"
        >
            <div
                class="max-w-7xl items-end justify-between sm:flex sm:pe-6 lg:pe-8"
            >
                <h2
                    class="mx-auto text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                >
                Don’t believe us, let’s hear it from our end-users!
                </h2>
            </div>

            <div class="mt-10 lg:mx-0">
                <div class="swiper-container !overflow-hidden lg:py-5">
                    <div class="swiper-wrapper w-full ">
                        <div class="swiper-slide ">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[312px] md:h-[438px] lg:h-[454px] w-full md:w-[288px] lg:w-[354px] client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        Before this integration, managing calls and customer details was a real headache as we needed 
                                        to struggle between different apps which disrupted 
                                        our workflow. Then, we came across this application through the frappe marketplace. 
                                        Everything has been at ease ever since then!
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                        <p class="font-semibold">
                                            Client Name Here
                                        </p>
                                        <p>Accounts Head, Company Name</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[312px] md:h-[438px] lg:h-[454px] w-full md:w-[288px] lg:w-[354px] client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        Earlier, one agent from our sales team could manage 20 calls in a day, and now. We were 
                                        satisfied, we just wanted to make the process more structured and employee-friendly. Then, 
                                        this integration happened. Not only does that made it much easier for our team but it has actually 
                                        improved our employee efficiency as well. Now, a single team member can efficiently handle 28-30 
                                        calls on average. It's not just a boost; it's a substantial increase in our sales productivity, and we're
                                        thrilled with the results.
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                        <p class="font-semibold">
                                            Client Name Here
                                        </p>
                                        <p>Accounts Head, Company Name</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[312px] md:h-[438px] lg:h-[454px] w-full md:w-[288px] lg:w-[354px] client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        Initiating calls and managing details for customer support used to be a bit of a mess in one place. 
                                        The integration of Tata Smart flo with ERPNext has simplified everything. Agents can now make calls 
                                        directly through ERPNext, and all the necessary details are neatly organized within ERPNext. It's 
                                        made our customer support efforts much more manageable. The simplicity of having everything in one place 
                                        has significantly improved our efficiency and response times.
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                        <p class="font-semibold">
                                            Client Name Here
                                        </p>
                                        <p>Accounts Head, Company Name</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[312px] md:h-[438px] lg:h-[454px] w-full md:w-[288px] lg:w-[354px] client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        We were working with Sanskar Technolabs for our ERPNext implementation and we needed calling functions. 
                                        They have suggested Tata Smart Flo and helped us integrate this with our ERPNext system through their
                                        product. Our team is using this app to connect with customers and the process is so easy and structured.
                                        Thank you Sanskar technolab. 

                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                        <p class="font-semibold">
                                            Client Name Here
                                        </p>
                                        <p>Accounts Head, Company Name</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- button for md & lg screen start -->
            <div
                class="flex justify-center gap-4 mt-10 mb-0 md:mb-0 lg:mb-2 hidden md:flex"
            >
                <button
                    class="prev-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Previous Slide</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-5 w-5 rtl:rotate-180"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                    </svg>
                </button>

                <button
                    class="next-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Next Slide</span>
                    <svg
                        class="h-5 w-5 rtl:rotate-180"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9 5l7 7-7 7"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"></path>
                    </svg>
                </button>
            </div>
            <!-- button for md & lg screen end -->

            <!-- button for sm screen start -->
            <div
                class="justify-center mt-8 flex gap-4 lg:mt-0 mb-0 md:mb-0 lg:mb-2 flex md:hidden"
            >
                <button
                    class="prev-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Previous Slide</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-5 w-5 rtl:rotate-180"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                    </svg>
                </button>

                <button
                    class="next-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Next Slide</span>
                    <svg
                        class="h-5 w-5 rtl:rotate-180"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9 5l7 7-7 7"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"></path>
                    </svg>
                </button>
            </div>
            <!-- button for sm screen end -->
        </div>
    </section>
    <!-- User review end -->

    <!-- Frequently Asked Question Start -->
    <section
    class="mx-5 md:max-w-7xl md:mx-auto py-[2rem] md:py-[2rem] lg:py-[4rem] md:px-24 2xl:px-0"
    >
    <div
        class="hidden bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-5"
    >
        <h2
            class="text-[#3E96F4] text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] lg:text-center font-semibold mb-5 ml-3 leading-9"
        >
            Frequently Asked Questions (FAQs)
        </h2>
        <div class="flex flex-wrap">
            <div class="sm:w-full md:w-5/12 lg:w-5/12">
                <div
                    class="bg-white rounded-l-lg p-3 mb-3"
                    id="faq11"
                >
                    <button
                        class="font-semibold text-sm md:text-sm lg:text-base leading-[22px] text-left"
                        id="faq1"
                    >
                    How does direct call management within ERPNext benefit my workflow?
                    </button>
                </div>
                <div
                    class="  rounded-l-lg p-3 mb-3"
                    id="faq21"
                >
                    <button
                        class="font-semibold text-sm md:text-sm lg:text-base leading-[22px] text-left"
                        id="faq2"
                    >
                    How much does your product cost?
                    </button>
                </div>
                <div
                    class="  rounded-l-lg p-3 mb-3"
                    id="faq31"
                >
                    <button
                        class="font-semibold text-sm md:text-sm lg:text-base leading-[22px] text-left"
                        id="faq3"
                    >
                    How long can I access my call logs in the ERPNext system?
                    </button>
                </div>
                <div
                    class="  rounded-l-lg p-3 mb-3"
                    id="faq41"
                >
                    <button
                        class="font-semibold text-sm md:text-sm lg:text-base leading-[22px] text-left"
                        id="faq4"
                    >
                    Can I access call recordings easily with the call details fetching feature?
                    </button>
                </div>
                <div
                    class="  rounded-l-lg p-3 mb-3"
                    id="faq51"
                >
                    <button
                        class="font-semibold text-sm md:text-sm lg:text-base leading-[22px] text-left"
                        id="faq5"
                    >
                    How do trend analysis and graphical representations enhance decision-making?
                    </button>
                </div>
                <div
                class="  rounded-l-lg p-3 mb-3"
                id="faq51"
            >
                <button
                    class="font-semibold text-sm md:text-sm lg:text-base leading-[22px] text-left"
                    id="faq5"
                >
                Can two of our agents call at the same time?
                </button>
            </div>
            </div>

            <div
                class="sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                id="faq1_c"
            >
                <p
                    class="text-lg md:text-lg lg:text-xl font-semibold mb-7"
                >
                How does direct call management within ERPNext benefit my workflow?
                </p>
                <p class="text-base mb-7">
                    Direct call management eliminates the need to switch between applications or manage the contact and other personal details of customers.
                    Our products let you access all the data in ERPNext and one-click calling to streamline your workflow and enhance communication efficiency.
                </p>
            </div>

            <div
                class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                id="faq2_c"
            >
                <p
                    class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                >
                How much does your product cost? 

                </p>
                <p class="text-base mb-7">
                    You need to pay a nominal amount of $15 every month to access our calling integration product in your ERPNext system. 

                </p>
            </div>

            <div
                class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                id="faq3_c"
            >
                <p
                    class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                >
                How long can I access my call logs in the ERPNext system? 
                </p>
                <p class="text-base mb-7">
                    The call logs and call details will not be deleted until you decide to do it on your own. However, in the 
                    case of call recordings, they will be deleted after 180 days. 

                </p>
            </div>

            <div
                class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                id="faq4_c"
            >
                <p
                    class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                >
                Can I access call recordings easily with the call details fetching feature?

                </p>
                <p class="text-base mb-7">
                    Absolutely, call details and recordings from Tata Smart Flo are automatically fetched and stored within ERPNext for
                    simplified access and quick reference, at any time.

                </p>
            </div>
            <div
                class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                id="faq5_c"
            >
                <p
                    class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                >
                How do trend analysis and graphical representations enhance decision-making?

                </p>
                <p class="text-base mb-7">
                    Visualizing call trends through graphs and charts helps in understanding communication patterns between the customers and agents and even your team, facilitating
                    better decision-making and strategy-making when it comes to customer support and communications.
                </p>
            </div>
            <div
                class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                id="faq5_c"
            >
                <p
                    class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                >
                Can two of our agents call at the same time? 

                </p>
                <p class="text-base mb-7">
                    Yes, two or more agents can call at the same time from the system. The only prerequisite is that they should have their number 
                    registered in the Tata Smar flo application. 

                </p>
            </div>
        </div>
    </div>

    <div
        x-data="{ accordion: 0 }"
        class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
    >
        <p
            class="text-[#3E96F4] text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold ml-3 leading-9"
        >
            Frequently Asked Questions (FAQs)
        </p>
        <div class="bg-white rounded-2xl">
            <div
                class="flex justify-between p-4"
                @click="accordion = accordion == 0 ? 1 : 0"
            >
                <div
                    class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
                >
                How does direct call management within ERPNext benefit my workflow?

                </div>
                <Image loading="eager" 
                    :class="accordion === 1 ? 'block' : 'hidden'"
                    src={down_arrow}
                    alt="down-arrow"
                />
                <Image loading="eager" 
                    :class="accordion !== 1 ? 'block' : 'hidden'"
                    src={up_arrow}
                    alt="up-arrow"
                />
            </div>
            <div
                class="overflow-hidden bg-white rounded-b-[10px]"
                :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
            >
                <div
                    class="w-full bg-white  rounded-[10px] p-5"
                    id="faq1_c"
                >
                    <p
                        class="text-xs md:text-sm lg:text-base"
                    >
                    Direct call management eliminates the need to switch between applications or manage the contact and other personal details of customers. Our products let you access all the data in ERPNext and one-click calling to streamline your workflow and enhance communication efficiency.

                    </p>
                </div>
            </div>
        </div>
        <div class="bg-white rounded-2xl">
            <div
                class="flex justify-between p-4"
                @click="accordion = accordion == 2 ? 0 : 2"
            >
                <div
                    class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
                >
                How much does your product cost? 

                </div>
                <Image loading="eager" 
                    :class="accordion !== 2 ? 'block' : 'hidden'"
                    src={down_arrow}
                    alt="down-arrow"
                />
                <Image loading="eager" 
                    :class="accordion === 2 ? 'block' : 'hidden'"
                    src={up_arrow}
                    alt="up-arrow"
                />
            </div>
            <div
                class="overflow-hidden bg-white rounded-b-[10px]"
                :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
            >
                <p
                    class="text-xs md:text-sm lg:text-base p-5"
                >
                You need to pay a nominal amount of $15 every month to access our calling integration product in your ERPNext system. 

                </p>
            </div>
        </div>
        <div class="bg-white rounded-2xl">
            <div
                class="flex justify-between p-4"
                @click="accordion = accordion == 3 ? 0 : 3"
            >
                <div
                    class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
                >
                How long can I access my call logs in the ERPNext system? 

                </div>
                <Image loading="eager" 
                    :class="accordion !== 3 ? 'block' : 'hidden'"
                    src={down_arrow}
                    alt="down-arrow"
                />
                <Image loading="eager" 
                    :class="accordion === 3 ? 'block' : 'hidden'"
                    src={up_arrow}
                    alt="up-arrow"
                />
            </div>
            <div
                class="overflow-hidden bg-white rounded-b-[10px]"
                :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
            >
                <p
                    class="text-xs md:text-sm lg:text-base p-5"
                >
                The call logs and call details will not be deleted until you decide to do it on your own. However, in the case of 
                call recordings, they will be deleted after 180 days. 

                </p>
            </div>
        </div>
        <div class="bg-white rounded-2xl">
            <div
                class="flex justify-between p-4"
                @click="accordion = accordion == 4 ? 0: 4"
            >
                <div
                    class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
                >
                Can I access call recordings easily with the call details fetching feature?

                </div>
                <Image loading="eager" 
                    :class="accordion !== 4 ? 'block' : 'hidden'"
                    src={down_arrow}
                    alt="down-arrow"
                />
                <Image loading="eager" 
                    :class="accordion === 4 ? 'block' : 'hidden'"
                    src={up_arrow}
                    alt="up-arrow"
                />
            </div>
            <div
                class="overflow-hidden bg-white rounded-b-[10px]"
                :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
            >
                <p
                    class="text-xs md:text-sm lg:text-base p-5"
                >
                Absolutely, call details and recordings from Tata Smart Flo are automatically fetched and stored within ERPNext
                for simplified access and quick reference, at any time.

                </p>
            </div>
        </div>
        <div class="bg-white rounded-2xl">
            <div
                class="flex justify-between p-4"
                @click="accordion = accordion == 5 ? 0: 5"
            >
                <div
                    class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
                >
                How do trend analysis and graphical representations enhance decision-making?

                </div>
                <Image loading="eager" 
                    :class="accordion !== 5 ? 'block' : 'hidden'"
                    src={down_arrow}
                    alt="down-arrow"
                />
                <Image loading="eager" 
                    :class="accordion === 5 ? 'block' : 'hidden'"
                    src={up_arrow}
                    alt="up-arrow"
                />
            </div>
            <div
                class="overflow-hidden bg-white rounded-b-[10px]"
                :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
            >
                <p
                    class="text-xs md:text-sm lg:text-base p-5"
                >
                Visualizing call trends through graphs and charts helps in understanding communication patterns between the customers and 
                agents and even your team, facilitating better decision-making and strategy-making when it comes to customer support and communications.

                </p>
            </div>
        </div>
        <div class="bg-white rounded-2xl">
            <div
                class="flex justify-between p-4"
                @click="accordion = accordion == 6 ? 0: 6"
            >
                <div
                    class="font-semibold text-sm md:text-sm lg:text-base cursor-pointer"
                >
                Can two of our agents call at the same time? 
                </div>
                <Image loading="eager" 
                    :class="accordion !== 6 ? 'block' : 'hidden'"
                    src={down_arrow}
                    alt="down-arrow"
                />
                <Image loading="eager" 
                    :class="accordion === 6 ? 'block' : 'hidden'"
                    src={up_arrow}
                    alt="up-arrow"
                />
            </div>
            <div
                class="overflow-hidden bg-white rounded-b-[10px]"
                :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
            >
                <p
                    class="text-xs md:text-sm lg:text-base p-5"
                >
                Yes, two or more agents can call at the same time from the system. The only prerequisite is that they should have their 
                number registered in the Tata Smar flo application. 
                </p>
            </div>
        </div>
    </div>
    <!-- <section class="bg-[#3E96F4] flex mt-40 relative">
    <div
    class="bg-[url(../../public/Images/form-bg-3.png)] w-5/12 bg-no-repeat bg-center bg-cover"
    >
    <Image loading="eager" 
    src="../../public/Images/form-bg.svg"
    alt="Image description"
    class="absolute left-52 -top-32"
    />
    </div>
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 w-7/12 p-10">
    <h4 class="font-semibold text-white text-4xl">
    Let's craft awesomeness together!
    </h4>
    <div
    class="mt-5 flex justify-between bg-white rounded-lg px-5 py-3 w-56"
    >
    <a href="#" class="text-[#3E96F4] text-base font-semibold font-inter"
    >Fill up a form now.</a
    >
    <Image loading="eager"  src="../../public/Images/right.svg" alt="right" class="ml-0" />
    </div>
    </div>
    </section> -->
    <!-- <section class="bg-[#3E96F4] flex flex-wrap mt-40 relative">
    <div
    class="bg-form-3 w-full md:w-5/12 bg-no-repeat bg-center bg-cover"
    >
    <Image loading="eager" 
    src={form_bg}
    alt="form-bg"
    class="block md:absolute md:left-52 md:-top-32"
    />
    </div>
    <div
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 w-full md:w-7/12 p-10"
    >
    <h4 class="font-semibold text-white text-4xl">
    Let's craft awesomeness together!
    </h4>
    <div
    class="mt-5 flex justify-between bg-white rounded-lg px-5 py-3 w-56"
    >
    <a
    href="#"
    class="text-[#3E96F4] text-base font-semibold font-inter"
    >Fill up a form now.</a
    >
    <Image loading="eager"  src={right} alt="right" class="ml-0" />
    </div>
    </div>
    </section> -->
    </section>
    <!-- Frequently Asked Question End -->

</Layout>
<style>
    .features_card {
        border-radius: 10px;
        border: 2px solid #fff;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
        box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }
    .ultimate_card {
        border-radius: 10px;
        border: 1px solid #dadada;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
        
    }
    .overlay-container {
        position: relative;
        z-index: 0;
    }

    .card-size {
        width: 24rem;
    }

    .employee_card_height {
        height: 22rem;
    }

    @media (min-width: 768px) and (max-width: 770px) {
        .employee_card_height {
            height: 22.6rem;
        }
    }

    @media (min-width: 375px) and (max-width: 767px) {
        .employee_card_height {
            height: 31rem;
        }
    }

    @media (max-width: 374px) {
        .employee_card_height {
            height: 40rem;
        }
    }
   
    .client_card_height {
    height: 28rem;
    padding: 1.75rem;
    }

    @media (max-width: 374px) {
    .client_card_height {
        height: 30rem;
        padding: 1rem;
    }
    }

    .client_shadow {
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }
    /* .we-work {
    background: linear-gradient(135deg, #bfdeff 0%, #ecf5ff 100%);
  } */

    @media (min-width: 1024px) and (max-width: 1250px) {
    .client_card_height {
        height: 34rem;
        padding: 1rem;
    }
    }
    .overlay-container {
        position: relative;
        z-index: 0;
    }
    /* .slider_shadow {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    } */
    .section-bg-right1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120rem;
	background-image: radial-gradient(
                        ellipse at right,
                        rgba(62, 150, 244, 0.15),
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    );
    z-index: -1;
	}
    .section-bg-left1::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100rem;
            background-image: radial-gradient(
                ellipse at left,
                rgba(62, 150, 244, 0.15),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            );
            z-index: -1;
        }
        .section-bg-center {
            position: relative;
        }
                    
        .section-bg-center::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 120rem;
            background-image: radial-gradient(rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            background-origin: border-box;
            background-clip: padding-box, border-box;
            z-index: -1;
            margin-top: -10rem;
        }

</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".swiper-container", {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 0,
            autoplay: {
                delay: 3000,
            },
            navigation: {
                nextEl: ".next-button",
                prevEl: ".prev-button",
            },
            breakpoints: {
                640: {
                    slidesPerView: 1.5,
                    centeredSlides: true,
                },
                768: {
                    centeredSlides: false,
                    slidesPerView: 2,
                },
                1024: {
                    centeredSlides: false,
                    slidesPerView: 2,
                },
                1280: {
                    centeredSlides: false,
                    slidesPerView: 3,
                },
            },
        });
    });
</script>