---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import indiamart_img from "../../public/Images/indiamart_img.png";
import erpnext_indiamart from "../../public/Images/erpnext_indiamart_img.png";
import Sales from "../../public/Images/Sales.png";
import five_min from "../../public/Images/five_min.svg";
import hand_make from "../../public/Images/hand_make.svg";
import snap from "../../public/Images/snap.svg";
import dashboard_insights from "../../public/Images/dashboard_insights.svg";
import trends_analysis from "../../public/Images/trends_analysis.svg";
import history_fetching from "../../public/Images/history_fetching.svg";
import fetch_inquiries from "../../public/Images/fetch_inquiries.svg";
import automated_inquiry from "../../public/Images/automated_inquiry.svg";
import generate_forms from "../../public/Images/generate_forms.svg";
import indiamart_key from "../../public/Images/indiamart_key.svg";
import indiamart_key_img from "../../public/Images/indiamart_key_img.svg";
import authorization_key from "../../public/Images/authorization_key.svg";
import authorization_key_img from "../../public/Images/authorization_key_img.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
---

<Layout
    title="ERPNext Indiamart Integration Product | Sanskar Technolab"
    ,
    keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
    ,
    description="We are among the leading ERPNext development companies offering ERPNext solutions to scale & succeed."
    ,
    canonical_href="https://sanskartechnolab.com/erpnext_indiamart_integration_product"
>
    <!-- banner for lg screen start -->
    <section
        class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg"
    >
        <div
            class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full md:w-6/12">
                <h1
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Leads on Autopilot: Switch to Automated Benefits with
                </h1>

                <Image
                    loading="eager"
                    src={erpnext_indiamart}
                    alt="erpnext_indiamart"
                    class=""
                />
                <h1
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Integration!
                </h1>
                <p
                    class="text-[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-7"
                >
                    Ever feel the stress of juggling leads and inquiries from
                    IndiaMart & worried about missing out on potential business?
                </p>
                <br />
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-0"
                >
                    Worry not!
                </p>
            </div>

            <Image
                loading="eager"
                src={indiamart_img}
                alt="indiamart_1"
                class="w-full md:w-6/12 lg:p-10 md:p-8"
            />
        </div>
    </section>
    <!-- banner for lg screen end -->

    <!-- banner for sm & md screen start -->
    <section class="section-bg flex items-center md:flex lg:hidden banner-bg">
        <div
            class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full lg:w-6/12 mt-5">
                <div
                    class="text-[1.5rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Leads on Autopilot: Switch to Automated Benefits with
                </div>
                <Image
                    loading="eager"
                    src={erpnext_indiamart}
                    alt="erpnext_indiamart"
                    class=""
                />
                <h1
                    class="text-[1.75rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold mt-1"
                >
                    Integration!
                </h1>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Ever feel the stress of juggling leads and inquiries from
                    IndiaMart & worried about missing out on potential business?
                </p>
                <br />
                <p class="md:text-[18px] text-[14px] text-[#31393C]">
                    Worry not!
                </p>
            </div>

            <Image
                loading="eager"
                src={indiamart_img}
                alt="indiamart_1"
                class="w-full mb-5"
            />
        </div>
    </section>
    <!-- banner for sm & md screen end -->

    <!-- ERPNext-Indiamart Integration start -->
    <section class="section-bg-left_shadow">
        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
        >
            <h2
                class="mx-auto lg:w-[60rem] text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
            >
                Introducing Sanskar Technolab's game-changing ERPNext-Indiamart
                Integration.
            </h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 lg:space-x-5 mt-10">
                <div>
                    <Image loading="eager" src={Sales} alt="Sales" class="" />
                </div>

                <div class="mt-7 space-y-7">
                    <div
                        class="card flex p-3 md:p-5 gap-x-3 md:gap-x-5 lg:mr-10"
                    >
                        <Image
                            loading="eager"
                            src={five_min}
                            alt="five_min"
                            class="h-[45px] md:h-[56px] w-[45px] md:w-[56px]"
                        />
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            Imagine this - within every 5 minutes, your
                            IndiaMart inquiries seamlessly sync with your
                            ERPNext system, with no manual hassle.
                        </p>
                    </div>

                    <div
                        class="card flex p-3 md:p-5 gap-x-3 md:gap-x-5 lg:mr-10"
                    >
                        <Image
                            loading="eager"
                            src={hand_make}
                            alt="hand_make"
                            class="h-[45px] md:h-[56px] w-[45px] md:w-[56px]"
                        />
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            It's like having a virtual assistant dedicated to
                            lead management! Say goodbye to lead loss fears, as
                            our feature-packed system simplifies the entire
                            process, making lead tracking and conversions a
                            breeze.
                        </p>
                    </div>

                    <div
                        class="card flex p-3 md:p-5 gap-x-3 md:gap-x-5 lg:mr-10"
                    >
                        <Image
                            loading="eager"
                            src={snap}
                            alt="snap"
                            class="h-[45px] md:h-[56px] w-[45px] md:w-[56px]"
                        />
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            Boost your business with Sanskar Technolab's
                            ERPNext-Indiamart Integration – where leads flow in,
                            and conversions flow out effortlessly!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- ERPNext-Indiamart Integration end -->

    <!-- Features Unveiled start -->
    <section class="section-bg-right">
        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
        >
            <h2
                class="mx-auto lg:w-[50rem] text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
            >
                ERPNext-IndiaMart Integration Product Features Unveiled!
            </h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 mt-10 gap-7">
                <div class="features_card flex p-3 md:p-5 gap-x-3 md:gap-x-5">
                    <Image
                        loading="eager"
                        src={dashboard_insights}
                        alt="dashboard_insights"
                        class="h-[50px] md:h-[64px] w-[50px] md:w-[64px]"
                    />
                    <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        <p
                            class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                        >
                            Comprehensive Dashboard Insights:
                        </p>
                        <p class="mt-2">
                            Gain end-to-end tracking and make data-driven
                            decisions effortlessly with our comprehensive
                            dashboard.
                        </p>

                        <ul class="list-disc ml-7 mt-2">
                            <li>
                                Time-wise tracking: Daily, weekly, monthly, and
                                overall inquiry count.
                            </li>
                            <li>
                                Status-wise tracking: Open, converted, repeat,
                                do not contact, and not interested inquiries.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="features_card flex p-3 md:p-5 gap-x-3 md:gap-x-5">
                    <Image
                        loading="eager"
                        src={trends_analysis}
                        alt="trends_analysis"
                        class="h-[50px] md:h-[64px] w-[50px] md:w-[64px]"
                    />
                    <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        <p
                            class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                        >
                            Trends and Analysis:
                        </p>
                        <p class="mt-2">
                            Visualize inquiry trends and types with dynamic
                            graphical representations for informed
                            decision-making.
                        </p>

                        <ul class="list-disc ml-7 mt-2">
                            <li>
                                Gain end-to-end insights about the leads and
                                their effective comparison and overview through
                                graphical representation.
                            </li>
                            <li>
                                Analyze trends for strategic planning and make
                                result-driven decisions.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="features_card flex p-3 md:p-5 gap-x-3 md:gap-x-5">
                    <Image
                        loading="eager"
                        src={history_fetching}
                        alt="history_fetching"
                        class="h-[50px] md:h-[64px] w-[50px] md:w-[64px]"
                    />
                    <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        <p
                            class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                        >
                            Past History Fetching:
                        </p>
                        <p class="mt-2">
                            Retrieve all past leads from Indiamart to ERPNext
                            seamlessly, ensuring a complete historical record.
                        </p>

                        <ul class="list-disc ml-7 mt-2">
                            <li>
                                Fetch historical data effortlessly & ensure a
                                comprehensive overview of past leads
                            </li>
                            <li>
                                Add the start and end date(of 7 days) and you
                                will get the details of leads generated within
                                that particular time frame.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="features_card flex p-3 md:p-5 gap-x-3 md:gap-x-5">
                    <Image
                        loading="eager"
                        src={fetch_inquiries}
                        alt="fetch_inquiries"
                        class="h-[50px] md:h-[64px] w-[50px] md:w-[64px]"
                    />
                    <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        <p
                            class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                        >
                            Fetch Inquiries with Customizable Filters:
                        </p>
                        <p class="mt-2">
                            You can easily search and sort leads with filters
                            like name, status, contact info, and more with
                            customized filters.
                        </p>

                        <ul class="list-disc ml-7 mt-2">
                            <li>
                                Efficient data retrieval with customized
                                filtering
                            </li>
                            <li>
                                Fetch inquiries on the go based on specific
                                criteria
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="features_card flex p-3 md:p-5 gap-x-3 md:gap-x-5">
                    <Image
                        loading="eager"
                        src={automated_inquiry}
                        alt="automated_inquiry"
                        class="h-[50px] md:h-[64px] w-[50px] md:w-[64px]"
                    />
                    <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        <p
                            class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                        >
                            Automated Inquiry Type Updates:
                        </p>
                        <p class="mt-2">
                            Experience automated updates to the inquiry type
                            based on customer behavior, ensuring accurate
                            categorization.
                        </p>

                        <ul class="list-disc ml-7 mt-2">
                            <li>Streamline inquiry-type updates</li>
                            <li>Enhance accuracy through automation</li>
                            <li>Real-time lead updated in every 5 minutes</li>
                        </ul>
                    </div>
                </div>

                <div class="features_card flex p-3 md:p-5 gap-x-3 md:gap-x-5">
                    <Image
                        loading="eager"
                        src={generate_forms}
                        alt="generate_forms"
                        class="h-[50px] md:h-[64px] w-[50px] md:w-[64px]"
                    />
                    <div class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        <p
                            class="font-semibold text-[16px] md:text-[18px] lg:text-[20px]"
                        >
                            Generate Comprehensive Lead Forms:
                        </p>
                        <p class="mt-2">
                            Create detailed lead forms instantly post-lead
                            conversion, ensuring all necessary details are
                            captured and effective management is possible.
                        </p>

                        <ul class="list-disc ml-7 mt-2">
                            <li>
                                Generate lead forms seamlessly & capture
                                comprehensive lead information
                            </li>
                            <li>
                                Effortlessly view and manage all inquiries in
                                Indiamart with user-friendly navigation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Features Unveiled start -->

    <!-- The Ultimate Guide start -->
    <section class="section-bg-center">
        <section
            class="grid justify-items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
        >
            <h2
                class="mx-auto lg:w-[55rem] text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
            >
                The Ultimate Guide You Need to Integrate ERPNext with Indimart:
                Getting Started!
            </h2>

            <div class="flex-none lg:flex mt-3 lg:mt-10">
                <div class="w-full lg:w-1/2 pr-0 lg:pr-16 xl:pr-28 2xl:pr-24">
                    <p class="font-bold">
                        Before getting started with the process of installing
                        and setting up the calling integration system within
                        your ERPNext - you need to abide by the following:
                    </p>
                    <p
                        class="text-base md:text-lg lg:text-xl font-bold mt-5 lg:mt-10"
                    >
                        Pre-requisites
                    </p>
                    <ul
                        class="list-disc ms-5 lg:ms-10 mt-3 text-[#31393C] text-xs md:text-sm lg:text-base"
                    >
                        <li class="font-semibold">Indiamart URL</li>
                        <a
                            class="text-[#3E96F4]"
                            href="https://mapi.indiamart.com/wservce/crm/crmListing/v2/"
                            >https://mapi.indiamart.com/wservce/crm/crmListing/v2/</a
                        >
                        <li class="font-semibold mt-2">
                            Indiamart Authorization Key:
                        </li>
                        <p class="font-semibold">
                            Here’s how you to get your authorization key:
                        </p>
                        <p>Indiamart > lead manager > Menu > CRM integration</p>
                        <Image
                            loading="eager"
                            src={indiamart_key_img}
                            alt="indiamart_key_img"
                            class="h-[134px] w-[198px] mt-2 cursor-pointer"
                            id="popup-trigger-one"
                        />
                        <div class="popup-container" id="popup-container-one">
                            <div class="popup-content">
                                <span
                                    class="close-btn"
                                    onclick="closePopup('popup-container-one')"
                                                                        >&times;</span
                                >
                                <Image
                                    loading="eager"
                                    src={indiamart_key}
                                    alt="indiamart_key"
                                    class=""
                                />
                            </div>
                        </div>

                        <p class="mt-2">Generate Authorization Key</p>

                        <Image
                            loading="eager"
                            src={authorization_key_img}
                            alt="authorization_key_img"
                            class="h-[96px] w-[198px] mt-2 cursor-pointer"
                            id="popup-trigger-two"
                        />
                        <div class="popup-container" id="popup-container-two">
                            <div class="popup-content">
                                <span
                                    class="close-btn"
                                    onclick="closePopup('popup-container-two')"
                                                                        >&times;</span
                                >
                                <Image
                                    loading="eager"
                                    src={authorization_key}
                                    alt="authorization_key"
                                    class=""
                                />
                            </div>
                        </div>
                        <li class="mt-2 font-semibold">
                            Registered Mobile Number with Indiamart
                        </li>
                        <p>
                            At the time of Indiamart registration, the mobile
                            number number which you have added, the same will be
                            added here
                        </p>
                    </ul>
                </div>

                <div class="w-full lg:w-1/2 mt-10 lg:mt-0 border-mx-10">
                    <!-- <div class="w-full lg:w-1/2 mt-10 lg:mt-0 border-l-2 border-dashed border-[#4D5F66] border-opacity-40"></div> -->
                    <div
                        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
                    >
                        <div class="">
                            <div
                                class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
                            >
                            </div>
                        </div>
                        <div class="">
                            <p
                                class="text-xs md:text-sm lg:text-base leading-6 md:leading-6 lg:leading-7 -mt-1 md:-mt-[0.35rem] font-semibold text-[#31393C]"
                            >
                                Step 1:
                            </p>
                            <p
                                class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C"
                            >
                                Installing the App:
                            </p>
                            <p
                                class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C]"
                            >
                                You need to install our Indimart integration on
                                your Bench or Site.
                            </p>
                            <p
                                class="ultimate_card_blue p-1 md:p-2 text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] mt-3 border-[#31393C]"
                            >
                                Go to your bench or site, select app tabs > Add
                                app > Search the app(Indimart integration by
                                Sanskar Technolab)
                            </p>

                            <p
                                class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] mt-3"
                            >
                                You can choose our app and install it easily<br
                                    class="hidden md:block"
                                />
                                (after making the payment of $12).
                            </p>
                        </div>
                    </div>

                    <div
                        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
                    >
                        <div class="">
                            <div
                                class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
                            >
                            </div>
                        </div>
                        <div class="">
                            <p
                                class="text-xs md:text-sm lg:text-base leading-6 md:leading-6 lg:leading-7 -mt-1 md:-mt-[0.35rem] font-semibold text-[#31393C]"
                            >
                                Step 2:
                            </p>
                            <p
                                class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C]"
                            >
                                Enabling Indimart settings:
                            </p>
                            <p
                                class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C]"
                            >
                                After installing, you will be redirected to the
                                Indiamart workspace.
                            </p>
                            <p
                                class="ultimate_card_blue p-1 md:p-2 text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] mt-3 border-[#31393C]"
                            >
                                Go to the Indiamart settings and click to enable
                                it.
                            </p>
                        </div>
                    </div>

                    <div
                        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
                    >
                        <div class="flex-shrink-0">
                            <div
                                class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
                            >
                            </div>
                        </div>
                        <div class="">
                            <p
                                class="item-center text-xs md:text-sm lg:text-base leading-6 md:leading-6 -mt-1 md:-mt-[0.35rem] lg:leading-7 font-semibold text-[#31393C]"
                            >
                                Step 3:
                            </p>
                            <p
                                class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C]"
                            >
                                Adding the required details:
                            </p>
                            <p
                                class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C]"
                            >
                                After enabling, one form will appear, you need
                                to add the Indiamart URL, Authorization Key, and
                                registered mobile number with Indiamart.
                            </p>
                            <p
                                class="ultimate_card_yellow p-1 md:p-2 text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C] mt-3 border-[#31393C]"
                            >
                                (Check the prerequisites for seamless set-up)
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
                    >
                        <div class="">
                            <div
                                class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
                            >
                            </div>
                        </div>
                        <div class="">
                            <p
                                class="item-center text-xs md:text-sm lg:text-base leading-6 md:leading-6 -mt-1 md:-mt-[0.35rem] lg:leading-7 font-semibold text-[#31393C]"
                            >
                                Step 4:
                            </p>
                            <p
                                class="mb-1 md:mb-2 lg:mb-1 xl:mb-2 2xl:mb-2 item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 lg:leading-7 font-semibold text-[#31393C]"
                            >
                                You are all set:
                            </p>
                            <p
                                class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C]"
                            >
                                The set-up has been completed. Now, you can go
                                to the Indiamart inquiries to check whether all
                                the inquiries have been fetched or not.
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex gap-4 md:gap-5 lg:gap-6 mb-[1.75rem] lg:mb-[1rem] xl:mb-[1.5rem] 2xl:mb-[1.75rem]"
                    >
                        <div class="">
                            <div
                                class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
                            >
                            </div>
                        </div>
                        <div class="">
                            <p
                                class="item-center text-base md:text-lg lg:text-xl leading-6 md:leading-6 -mt-1 md:-mt-[0.35rem] lg:leading-7 font-semibold text-[#31393C]"
                            >
                                Bonus:
                            </p>
                            <p
                                class="text-xs md:text-sm lg:text-base leading-5 md:leading-5 lg:leading-6 font-normal text-[#31393C]"
                            >
                                You can even fetch the past inquiries. Just add
                                the start date and end date(of 7 days) and you
                                will get inquiries.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- The Ultimate Guide end -->

    <!-- What our customers are saying slider start -->
    <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
        <div
            class="overlay-container mx-5 md:mx-auto md:max-w-7xl md:px-20 2xl:px-2"
        >
            <div
                class="max-w-7xl items-end justify-between sm:flex sm:pe-6 lg:pe-8"
            >
                <h2
                    class="mx-auto text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                >
                    What our customers are saying? Hear in their Words!
                </h2>
            </div>

            <div class="mt-10 lg:mx-0">
                <div class="swiper-container !overflow-hidden lg:pl-5 py-5">
                    <div class="swiper-wrapper w-full">
                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[17rem] md:h-[28rem] lg:h-[25rem] w-full md:w-72 lg:w-80 xl:w-80 2xl:w-96 client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        I've been a client of Sanskar Technolabs
                                        for years, and they recommended this
                                        lead tracking and management solution
                                        for streamlined processes. The
                                        out-of-the-box features and the simple
                                        setup process made it a breeze to manage
                                        leads effectively. Now, we can easily
                                        track and follow up with leads,
                                        resulting in a significant boost in
                                        conversions.
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                    <p class="font-semibold">
                                        Client Name Here
                                    </p>
                                    <p>Accounts Head, Company Name</p>
                                </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[17rem] md:h-[28rem] lg:h-[25rem] w-full md:w-72 lg:w-80 xl:w-80 2xl:w-96 client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        Our team has across Indiamart ERPNext
                                        integration products on the frappe
                                        marketplace. Earlier, our team was
                                        struggling with inefficient lead
                                        tracking, and management, ending up
                                        wasting their time to keep up with
                                        leads. This product streamlined
                                        everything and helped our team save time
                                        & costs.
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                    <p class="font-semibold">
                                        Client Name Here
                                    </p>
                                    <p>Accounts Head, Company Name</p>
                                </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[17rem] md:h-[28rem] lg:h-[25rem] w-full md:w-72 lg:w-80 xl:w-80 2xl:w-96 client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        We are using Excel and other MS tools
                                        for lead tracking and management through
                                        Indiamart. That’s when we stumbled upon
                                        this lead management gem on the Frappe
                                        Marketplace. The features were exactly
                                        what our business needed to streamline
                                        the Indiamart and ERPNext leads. Lead
                                        tracking was a mess, but this solution
                                        turned chaos into order. The
                                        straightforward approach and seamless
                                        tracking saved us time and headaches.
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                    <p class="font-semibold">
                                        Client Name Here
                                    </p>
                                    <p>Accounts Head, Company Name</p>
                                </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="">
                                <div
                                    class="we-work px-5 py-5 md:py-8 lg:py-5 h-[17rem] md:h-[28rem] lg:h-[25rem] w-full md:w-72 lg:w-80 xl:w-80 2xl:w-96 client_shadow text-xs md:text-sm lg:text-base"
                                >
                                    <p>
                                        Frappe marketplace includes so many
                                        amazing integrations and plugins
                                        available. And, we have come across
                                        Indiamart and ERPNext integration - the
                                        integration we didn’t know we needed. We
                                        were doing fine, but considering the
                                        features - we have decided to give it a
                                        try. After the installation, the results
                                        are amazing. It has not only helped us
                                        in lead tracking and management but has
                                        also resulted in time & cost savings.
                                    </p>
                                    <!-- <div class="absolute bottom-0 mb-5">
                                    <p class="font-semibold">
                                        Client Name Here
                                    </p>
                                    <p>Accounts Head, Company Name</p>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- button for md & lg screen start -->
            <div
                class="flex justify-center gap-4 mt-10 mb-0 md:mb-0 lg:mb-2 hidden md:flex"
            >
                <button
                    class="prev-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Previous Slide</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-5 w-5 rtl:rotate-180"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                    </svg>
                </button>

                <button
                    class="next-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Next Slide</span>
                    <svg
                        class="h-5 w-5 rtl:rotate-180"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9 5l7 7-7 7"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"></path>
                    </svg>
                </button>
            </div>
            <!-- button for md & lg screen end -->

            <!-- button for sm screen start -->
            <div
                class="justify-center mt-8 flex gap-4 lg:mt-0 mb-0 md:mb-0 lg:mb-2 flex md:hidden"
            >
                <button
                    class="prev-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Previous Slide</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-5 w-5 rtl:rotate-180"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                    </svg>
                </button>

                <button
                    class="next-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
                >
                    <span class="sr-only">Next Slide</span>
                    <svg
                        class="h-5 w-5 rtl:rotate-180"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9 5l7 7-7 7"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"></path>
                    </svg>
                </button>
            </div>
            <!-- button for sm screen end -->
        </div>
    </section>
    <!-- What our customers are saying slider end -->

    <!-- Frequently Asked Questions (FAQs) start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto py-[2rem] md:py-[2rem] lg:py-[4rem] md:px-24 2xl:px-0"
    >
        <div
            x-data="{ accordion: 0 }"
            class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
        >
            <p
                class="text-[#31393C] text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold ml-3 leading-9"
            >
                Frequently Asked Questions (FAQs)
            </p>

            <div class="bg-white rounded-2xl">
                <div
                    class="flex justify-between p-4 cursor-pointer"
                    @click="accordion = accordion == 0 ? 1 : 0"
                >
                    <div class="font-semibold text-sm md:text-sm lg:text-base">
                        What is ERPNext-Indiamart Integration, and how does it
                        benefit my business?
                    </div>
                    <Image
                        loading="eager"
                        :class="accordion === 1 ? 'block' : 'hidden'"
                        src={down_arrow}
                        alt="down-arrow"
                    />
                    <Image
                        loading="eager"
                        :class="accordion !== 1 ? 'block' : 'hidden'"
                        src={up_arrow}
                        alt="up-arrow"
                    />
                </div>
                <div
                    class="overflow-hidden bg-white rounded-b-[10px]"
                    :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
                >
                    <div class="w-full bg-white rounded-[10px] p-5" id="faq1_c">
                        <p class="text-xs md:text-sm lg:text-base">
                            ERPNext-Indiamart Integration is a powerful solution
                            that seamlessly connects your IndiaMart inquiries
                            with the ERPNext system, ensuring real-time updates
                            and streamlined lead management. It can help you
                            with end-to-end lead tracking, efficient data
                            retrieval, and automated updates for better
                            decision-making.
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-2xl">
                <div
                    class="flex justify-between p-4 cursor-pointer"
                    @click="accordion = accordion == 2 ? 0 : 2"
                >
                    <div class="font-semibold text-sm md:text-sm lg:text-base">
                        Can the integration be seamlessly integrated into my
                        existing workflow and ERPNext system?
                    </div>
                    <Image
                        loading="eager"
                        :class="accordion !== 2 ? 'block' : 'hidden'"
                        src={down_arrow}
                        alt="down-arrow"
                    />
                    <Image
                        loading="eager"
                        :class="accordion === 2 ? 'block' : 'hidden'"
                        src={up_arrow}
                        alt="up-arrow"
                    />
                </div>
                <div
                    class="overflow-hidden bg-white rounded-b-[10px]"
                    :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
                >
                    <p class="text-xs md:text-sm lg:text-base p-5">
                        Yes, the integration is designed for seamless
                        incorporation into your existing workflow and ERPNext
                        system. Our goal is to simplify the integration process,
                        allowing you to enhance your lead management without
                        disrupting your established operations.
                    </p>
                </div>
            </div>

            <div class="bg-white rounded-2xl">
                <div
                    class="flex justify-between p-4 cursor-pointer"
                    @click="accordion = accordion == 3 ? 0 : 3"
                >
                    <div class="font-semibold text-sm md:text-sm lg:text-base">
                        Does the integration support multi-user access for
                        collaborative lead management?
                    </div>
                    <Image
                        loading="eager"
                        :class="accordion !== 3 ? 'block' : 'hidden'"
                        src={down_arrow}
                        alt="down-arrow"
                    />
                    <Image
                        loading="eager"
                        :class="accordion === 3 ? 'block' : 'hidden'"
                        src={up_arrow}
                        alt="up-arrow"
                    />
                </div>
                <div
                    class="overflow-hidden bg-white rounded-b-[10px]"
                    :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
                >
                    <p class="text-xs md:text-sm lg:text-base p-5">
                        Yes, the ERPNext-Indiamart Integration supports
                        multi-user access, allowing collaborative lead
                        management. Multiple team members can access and work on
                        lead data simultaneously, fostering efficient teamwork
                        within your organization.
                    </p>
                </div>
            </div>

            <div class="bg-white rounded-2xl">
                <div
                    class="flex justify-between p-4 cursor-pointer"
                    @click="accordion = accordion == 4 ? 0: 4"
                >
                    <div class="font-semibold text-sm md:text-sm lg:text-base">
                        What is the pricing?
                    </div>
                    <Image
                        loading="eager"
                        :class="accordion !== 4 ? 'block' : 'hidden'"
                        src={down_arrow}
                        alt="down-arrow"
                    />
                    <Image
                        loading="eager"
                        :class="accordion === 4 ? 'block' : 'hidden'"
                        src={up_arrow}
                        alt="up-arrow"
                    />
                </div>
                <div
                    class="overflow-hidden bg-white rounded-b-[10px]"
                    :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
                >
                    <p class="text-xs md:text-sm lg:text-base p-5">
                        To access the Indiamart ERPNext Integrated product, you
                        need to pay a monthly subscription fee of $12.
                    </p>
                </div>
            </div>

            <div class="bg-white rounded-2xl">
                <div
                    class="flex justify-between p-4 cursor-pointer"
                    @click="accordion = accordion == 5 ? 0: 5"
                >
                    <div class="font-semibold text-sm md:text-sm lg:text-base">
                        How long does the Indiamart integration installation
                        process take?
                    </div>
                    <Image
                        loading="eager"
                        :class="accordion !== 5 ? 'block' : 'hidden'"
                        src={down_arrow}
                        alt="down-arrow"
                    />
                    <Image
                        loading="eager"
                        :class="accordion === 5 ? 'block' : 'hidden'"
                        src={up_arrow}
                        alt="up-arrow"
                    />
                </div>
                <div
                    class="overflow-hidden bg-white rounded-b-[10px]"
                    :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
                >
                    <p class="text-xs md:text-sm lg:text-base p-5">
                        The installation process is swift and user-friendly. On
                        average, it takes just a few minutes to install the
                        Indiamart integration on your Bench or Site, allowing
                        you to set it up in no time.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Frequently Asked Questions (FAQs) end -->
</Layout>

<style>
    .card {
        border-radius: 10px;
        border: 1px solid #3e96f4;
        background: linear-gradient(
            90deg,
            #ecf5ff 0%,
            rgba(255, 255, 255, 0) 100%
        );
    }

    .features_card {
        border-radius: 10px;
        border: 2px solid #fff;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
        box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }
    .ultimate_card_blue {
        border-radius: 10px;
        border: 1px solid #dadada;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
    }
    .ultimate_card_yellow {
        border-radius: 10px;
        border: 1px solid #dadada;
        background: linear-gradient(135deg, #fff9ec 0%, #fff 100%);
    }

    .section-bg-left_shadow {
        position: relative;
    }

    .section-bg-left_shadow::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100rem;
        background-image: radial-gradient(
            ellipse at left,
            rgba(62, 150, 244, 0.1),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        z-index: -1;
        margin-top: 0rem;
    }

    .section-bg-right::before {
        content: "";
        position: absolute;
        width: 100%;

        height: 120rem;
        background-image: radial-gradient(
            ellipse at right,
            rgba(62, 150, 244, 0.1),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        z-index: -1;
    }

    @media (max-width: 640px) {
        .section-bg-right::before {
            content: "";
            position: absolute;
            width: 100%;

            height: 0;
            background-image: radial-gradient(
                ellipse at right,
                rgba(62, 150, 244, 0.1),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            );
            z-index: -1;
        }
    }
    .section-bg-center {
        position: relative;
    }

    .section-bg-center::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 120rem;
        background-image: radial-gradient(
            rgba(62, 150, 244, 0.1),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        z-index: -1;
        margin-top: 30rem;
    }

    .overlay-container {
        position: relative;
        z-index: 0;
    }

    .client_shadow {
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .popup-content {
        max-width: 80%;
        max-height: 80%;
    }

    .popup-content img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: white;
        font-size: 20px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".swiper-container", {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 0,
            autoplay: {
                delay: 3000,
            },
            navigation: {
                nextEl: ".next-button",
                prevEl: ".prev-button",
            },
            breakpoints: {
                640: {
                    slidesPerView: 1.5,
                    centeredSlides: true,
                },
                768: {
                    centeredSlides: false,
                    slidesPerView: 2,
                },
                1024: {
                    centeredSlides: false,
                    slidesPerView: 2,
                },
                1280: {
                    centeredSlides: false,
                    slidesPerView: 3,
                },
            },
        });
    });
</script>
<script>
    var popupTriggerone = document.getElementById("popup-trigger-one");
    var popupTriggertwo = document.getElementById("popup-trigger-two");
    var popupContainerOne = document.getElementById("popup-container-one");
    var popupContainerTwo = document.getElementById("popup-container-two");

    // Add click event to trigger
    popupTriggerone.addEventListener(
        "click",
        openPopup.bind(null, popupContainerOne)
    );
    popupTriggertwo.addEventListener(
        "click",
        openPopup.bind(null, popupContainerTwo)
    );

    // Function to open the popup
    function openPopup(popupContainer) {
        popupContainer.style.display = "flex";
    }

    // Function to close the popup
    function closePopup(popupContainer) {
        popupContainer.style.display = "none";
    }

    // Close the popup if clicked outside the image
    document.addEventListener("click", function (event) {
        var popupContainers = [popupContainerOne, popupContainerTwo];
        popupContainers.forEach(function (popupContainer) {
            if (event.target === popupContainer) {
                closePopup(popupContainer);
            }
        });
    });

    // Close the popup when the close button is clicked
    var closeBtns = document.querySelectorAll(".close-btn");
    closeBtns.forEach(function (closeBtn) {
        closeBtn.addEventListener("click", function (event) {
            event.stopPropagation();
            var popupContainer = closeBtn.closest(".popup-container");
            closePopup(popupContainer);
        });
    });
</script>
