---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import special_project from "../../public/Images/special_project.svg";
import overview from "../../public/Images/overview.png";
import nattyam from "../../public/Images/nattyam.svg";
import client_vision_mission from "../../public/Images/client_vision_mission.svg";
import gd_number_1 from "../../public/Images/gd_number_1.svg";
import gd_number_2 from "../../public/Images/gd_number_2.svg";
import gd_number_3 from "../../public/Images/gd_number_3.svg";
import gd_number_4 from "../../public/Images/gd_number_4.svg";
import bug_fix from "../../public/Images/bug_fix.svg";
import module from "../../public/Images/module.svg";
import end_to_end from "../../public/Images/end_to_end.svg";
import inefficiences_stock_tracking from "../../public/Images/inefficiences_stock_tracking.svg";
import sales_and_accounting from "../../public/Images/sales_and_accounting.svg";
import manufacturing_packaging from "../../public/Images/manufacturing_packaging.svg";
import gst_complexity from "../../public/Images/gst_complexity.svg";
import crm_pos from "../../public/Images/crm_pos.svg";
import gd_CRM from "../../public/Images/gd_CRM.svg";
import gd_Sales from "../../public/Images/gd_Sales.svg";
import gd_Purchase from "../../public/Images/gd_Purchase.svg";
import gd_Pos from "../../public/Images/gd_Pos.svg";
import gd_Manufacturing from "../../public/Images/gd_Manufacturing.svg";
import gd_Inventory from "../../public/Images/gd_Inventory.svg";
---

<Layout
    title="Tech Magic Behind GramDharaa Gaushala! | Sanskar Technolab"
    ,
    keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
    ,
    description="Find out how we used ERPNext to help our client in the dairy industry sync their operations effortlessly between their gaushalas and stores, making their process smoother and more efficient."
    ,
    canonical_href="https://sanskartechnolab.com/gramdharaa_gaushala"
>
    <!-- GramDharaa start  -->

    <section
        class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg"
    >
        <div
            class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full md:w-6/12">
                <h1
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Our Special Project: Tech Magic Behind GramDharaa Gaushala!
                </h1>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Find out how we used ERPNext to help our client in the dairy
                    industry sync their operations effortlessly between their
                    gaushalas and stores, making their process smoother and more
                    efficient.
                </p>
                <br />
                <p class="text-[18px] font-bold text-[#31393C] mt-2">
                    This is a very special project for us, keep scrolling to
                    know why.
                </p>
                <!-- <div
              class="mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
            >
              <a
                href="/contact-us"
                class="text-white text-base font-semibold font-inter"
                >Schedule a Free Demo Now</a
              >
              <Image
                loading="eager"
                src={right}
                width={6}
                height={12}
                alt="right arrow "
              />
            </div> -->
            </div>

            <Image
                loading="eager"
                src={special_project}
                alt="special_project"
                class="w-full md:w-6/12 lg:p-10 md:p-8"
            />
        </div>
    </section>

    <section class="section-bg flex items-center md:flex lg:hidden banner-bg">
        <div
            class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full lg:w-6/12 mt-5">
                <div
                    class="text-[1.5rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Our Special Project: Tech Magic Behind GramDharaa Gaushala!
                </div>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Find out how we used ERPNext to help our client in the dairy
                    industry sync their operations effortlessly between their
                    gaushalas and stores, making their process smoother and more
                    efficient.
                </p>
                <br />
                <p
                    class="md:text-[18px] text-[14px] font-bold text-[#31393C] mt-1"
                >
                    This is a very special project for us, keep scrolling to
                    know why.
                </p>
                <!-- <div
              class="mt-4 md:mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
            >
              <a
                href="/contact-us"
                class="text-white text-base font-semibold font-inter"
                >Schedule a Free Demo Now</a
              >
              <Image
                loading="eager"
                src={right}
                width={6}
                height={12}
                alt="right arrow"
              />
            </div> -->
            </div>

            <Image
                loading="eager"
                src={special_project}
                alt="overview"
                class="w-full mb-5"
            />
        </div>
    </section>
    <!-- GramDharaa end  -->

    <!-- general overview start -->

    <section
        class="section-bg-left_gramdhara py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div class="max-w-[1300px] mx-auto md:px-5 px-3 lg:px-0">
            <h2
                class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
            >
                General Overview!
            </h2>
        </div>

        <div class="max-w-[1300px] mx-auto mt-5">
            <div class="lg:flex">
                <div class="lg:basis-6/12 md:px-5 px-3 lg:px-0">
                    <Image
                        loading="eager"
                        src={overview}
                        alt="overview"
                        class="lg:h-72 w-full"
                    />
                    <!-- <Image
                    loading="eager"
                    src={group_637}
                    alt="group_637"
                    class=""
		        /> -->
                </div>

                <div class="lg:basis-6/12 md:p-5 p-3">
                    <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        GramDharaa Gaushala owns several gaushala stores,
                        selling cow-based products across India. They have
                        started NETTYAM, an initiative of Gramdharaa Gaushala
                        towards a healthy lifestyle by selling eco-friendly and
                        panchgavya products.
                    </p>

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5"
                    >
                        Struggling to keep both gaushala and stores in sync,
                        along with inefficient inventory and logistics
                        management - they reached out to Sanskar Technolabs for
                        end-to-end management(right from manufacturing, and
                        inventory to sales and CRM).
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- general overview end -->

    <!-- special project part start  -->
    <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
        <div class="container mx-auto max-w-[1300px]">
            <h2
                class="overview lg:mx-2 md:mx-5 mx-3 text-2xl md:text-3xl lg:text-4xl"
            >
                Why this special project for Sanskar Technolabs?
            </h2>

            <div
                class="grid lg:mx-2 md:mx-5 mx-3 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 mt-8"
            >
                <div>
                    <Image
                        loading="eager"
                        src={nattyam}
                        alt="nattyam"
                        class=""
                    />
                </div>
                <div>
                    <p
                        class="lg:text-xl md:text-lg text-sm lg:mt-0 md:mt-0 mt-10 font-semibold"
                    >
                        We didn't charge any money for this work!
                    </p>
                    <p class="text-xs md:text-sm lg:text-base mt-2">
                        It's part of our special CSR(Corporate Social
                        Responsibility) program to help our peers and make a
                        good impact in what we do best(technology and ERPNext).
                    </p>
                </div>
                <div class="lg:pl-10 lg:mt-0 md:mt-8 mt-7">
                    <p class="mb-1 font-bold lg:text-xl md:text-lg text-sm">
                        Client Location
                    </p>
                    <p class="mb-1 text-xs md:text-sm lg:text-base">
                        <span class="font-semibold">Office:</span> Sangli, Maharashtra
                    </p>
                    <p class="text-xs md:text-sm lg:text-base">
                        <span class="font-semibold">Goshala:</span> Ved Khillar Goshala,
                        Kolhapur, Maharashtra.
                    </p>
                    <p class="font-semibold mt-4 lg:text-xl md:text-lg text-sm">
                        Industry
                    </p>
                    <p class="text-xs md:text-sm lg:text-base">
                        Panchgavya Manufacturing
                    </p>
                </div>
                <div class="lg:mt-0 md:mt-8 mt-5">
                    <p class="lg:text-xl md:text-lg text-sm font-semibold">
                        Tech-Stack
                    </p>
                    <p class="text-xs md:text-sm lg:text-base">
                        Web Server: Frappe Cloud <br /> Database: MySQL (Maria DB)
                        <br /> ERPNext Version: 14.13.0
                    </p>

                    <p class="lg:text-xl md:text-lg text-sm font-semibold mt-5">
                        Project Methodology
                    </p>
                    <p class="text-xs md:text-sm lg:text-base">
                        Agile Scrum Methodology
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- special project part end  -->

    <!-- Clients Vision & Mission! for lg screen start -->

    <section class="hidden lg:block py-[2rem] md:py-[2rem] lg:py-[4rem]">
        <div class="relative max-w-[1300px] mx-auto">
            <!-- <img
                src="client_vision_mission"
                alt="Your Image"
                class="w-full h-auto"
            /> -->
            <Image
                loading="eager"
                src={client_vision_mission}
                alt="client_vision_mission"
                class="w-full h-auto"
            />

            <div class="absolute top-0 text-black w-1/2 mt-20 ml-10">
                <h2
                    class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                >
                    Clients Vision & Mission!
                </h2>

                <p class="text-[#31393C] text-xs md:text-sm lg:text-base mt-10">
                    Our client and founder of GramDharaa Gaushala are willing to
                    normalize the consumption and appliance of cow-based organic
                    products(in our day-to-day lives). However, to achieve his
                    not-so-normal vision, efficient and comprehensive management
                    is the key. To help them, boost efficiency and sales(of
                    course), we leveraged the one-of-kind features of ERPNext.
                </p>

                <p class="text-[#31393C] text-xs md:text-sm lg:text-base mt-10">
                    With ERPNext’s various features and modules - we have
                    streamlined (almost) every process for our client.
                </p>
            </div>
        </div>
    </section>

    <!-- Clients Vision & Mission! for lg screen end -->

    <!-- Clients Vision & Mission! for sm & md screen start -->

    <section class="lg:hidden py-[2rem]">
        <div class="mx-2 md:mx-5 bg-[#F6FBFF] rounded-xl p-3 md:p-0">
            <h2
                class="text-[#3E96F4] text-2xl md:text-3xl font-semibold md:p-5"
            >
                Clients Vision & Mission!
            </h2>

            <p
                class="text-[#31393C] text-xs md:text-sm lg:text-base md:px-5 md:mt-0 mt-2"
            >
                Our client and founder of GramDharaa Gaushala are willing to
                normalize the consumption and appliance of cow-based organic
                products(in our day-to-day lives). However, to achieve his
                not-so-normal vision, efficient and comprehensive management is
                the key. To help them, boost efficiency and sales(of course), we
                leveraged the one-of-kind features of ERPNext.
            </p>

            <p
                class="text-[#31393C] text-xs md:text-sm lg:text-base md:px-5 md:mt-4 mt-3"
            >
                With ERPNext’s various features and modules - we have
                streamlined (almost) every process for our client.
            </p>
        </div>
    </section>

    <!-- Clients Vision & Mission! for sm & md screen end -->

    <!-- features and number part start  -->
    <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
        <div
            class="container max-w-[1300px] mx-auto grid grid-cols-1 lg:grid-cols-2 px-3 md:px-5 lg:px-0"
        >
            <div class="left">
                <h2
                    class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                >
                    But, which features?
                </h2>
                <p
                    class="text-[#31393C] text-xs md:text-sm lg:text-base mt-3 md:mt-3 lg:mt-5"
                >
                    Our team has connected with our client to better understand
                    their needs, business processes, challenges and what
                    solutions are they targeting.
                </p>
                <p
                    class="text-[#31393C] text-xs md:text-sm lg:text-base mt-3 md:mt-3 lg:mt-5"
                >
                    After getting a thorough idea of their work and the
                    solutions needed, our team seamlessly integrated ERPNext
                    modules, managing manufacturing with precision, organizing
                    inventory management, optimizing purchasing processes,
                    enhancing customer relationships through CRM, and
                    facilitating swift transactions at the point of sale.
                </p>
                <p
                    class="text-[#31393C] text-xs md:text-sm lg:text-base mt-3 md:mt-3 lg:mt-5"
                >
                    The result is a cohesive system that blends the operations
                    of gaushalas and stores for a more efficient and
                    interconnected workflow.
                </p>
            </div>

            <div class="right mt-3 md:mt-5 lg:mt-0 lg:ml-10">
                <h2
                    class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold md:mt-3 mt-5"
                >
                    Here are the numbers!
                </h2>
                <div
                    class="grid md:grid-cols-2 bg-[#FFFFFF] gap-5 mt-5 container mx-auto md:mx-0"
                >
                    <div
                        class="container bg-[#ECF5FF] shadow-right shadow-bottom shadow-lg rounded-lg p-5"
                    >
                        <div class="flex justify-end">
                            <Image
                                loading="eager"
                                src={gd_number_1}
                                alt="gd_number_1"
                                class=""
                            />
                        </div>
                        <p class="text-[#31393C] text-[64px] font-bold">24%</p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            GramDharaa Gaushala experienced a significant boost
                            of 24% in sales.
                        </p>
                    </div>

                    <div
                        class="container bg-[#ECF5FF] shadow-right shadow-bottom shadow-lg rounded-lg p-5 md:mt-0 mt-2"
                    >
                        <div class="flex justify-end">
                            <Image
                                loading="eager"
                                src={gd_number_2}
                                alt="gd_number_2"
                                class=""
                            />
                        </div>
                        <p class="text-[#31393C] text-[64px] font-bold">36%</p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            Our streamlined processes didn't just save time but
                            supercharged employee efficiency by 36%.
                        </p>
                    </div>

                    <div
                        class="container bg-[#ECF5FF] shadow-right shadow-bottom shadow-lg rounded-lg p-5 md:mt-0 mt-2"
                    >
                        <div class="flex justify-end">
                            <Image
                                loading="eager"
                                src={gd_number_3}
                                alt="gd_number_3"
                                class=""
                            />
                        </div>
                        <p class="text-[#31393C] text-[64px] font-bold">98%</p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            With ERPNext, GramDharaa Gaushala now enjoys an
                            impressive 98% accuracy with inventory management.
                        </p>
                    </div>

                    <div
                        class="container bg-[#ECF5FF] shadow-right shadow-bottom shadow-lg rounded-lg p-5 md:mt-0 mt-2"
                    >
                        <div class="flex justify-end">
                            <Image
                                loading="eager"
                                src={gd_number_4}
                                alt="gd_number_4"
                                class=""
                            />
                        </div>
                        <p class="text-[#31393C] text-[64px] font-bold">92%</p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            The enhanced CRM features contributed to an
                            impressive 92% customer satisfaction rate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- feature and numbers part end  -->

    <!-- slider start -->

    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div class="md:text-center sm:text-left">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold mb-2 md:mb-3 lg:mb-4 mx-2 md:text-center"
            >
                The ERPNext Modules we have implemented for GramDharaa Gaushala!
            </h2>
            <!-- </div> -->

            <div
                id="carouselExampleIndicators"
                class="relative"
                data-te-carousel-init
                data-te-carousel-slide
                data-te-ride="carousel"
            >
                <!--Carousel indicators-->
                <div
                    class="absolute -bottom-[3.5rem] md:-bottom-[4rem] lg:-bottom-[4rem] left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0 gap-4"
                    data-te-carousel-indicators
                >
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="0"
                        data-te-carousel-active
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="1"
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 2"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="2"
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 3"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="3"
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 4"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="4"
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 5"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="5"
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 6"></button>
                </div>

                <!--Carousel items-->
                <div
                    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
                >
                    <!--First item-->
                    <div
                        class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                        data-te-carousel-active
                    >
                        <div
                            class="sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5"
                        >
                            <Image
                                loading="eager"
                                class="sm:w-full md:w-full lg:w-7/12"
                                src={gd_Purchase}
                                alt="slider image 1"
                            />

                            <div
                                class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left"
                            >
                                <div
                                    class="font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1"
                                >
                                    Purchase Module
                                </div>
                                <p class="text-xs md:text-sm lg:text-base">
                                    In addressing GramDharaa Gaushala's
                                    procurement challenges, our enhancements in
                                    the Purchase Module have significantly
                                    streamlined their purchasing processes.
                                </p>
                                <ul
                                    class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3"
                                >
                                    <li>
                                        <span class="font-semibold"
                                            >Purchase order & invoice
                                            management:</span
                                        > Introduced a custom field in the item child
                                        table, for precise item selection based on
                                        company and item code, for purchase orders
                                        and invoice management.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Customized print format:</span
                                        > Implemented a tailored print format to
                                        ensure that documentation aligns seamlessly
                                        with the organization's requirements.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Email configurations for suppliers:</span
                                        > The establishment of email configurations
                                        for better supplier correspondence & supplier
                                        relationship management.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >GST purchase management:</span
                                        > With the ERPNext Purchase module, our client
                                        can seamlessly handle GST intricacies, for
                                        tax management between loose and packaged
                                        products.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Second item-->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                        <div
                            class="sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5"
                        >
                            <Image
                                loading="eager"
                                class="sm:w-full md:w-full lg:w-7/12"
                                src={gd_Manufacturing}
                                alt="slider image 2"
                            />

                            <div
                                class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left"
                            >
                                <div
                                    class="font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1"
                                >
                                    Manufacturing Module
                                </div>
                                <p class="text-xs md:text-sm lg:text-base">
                                    In revolutionizing GramDharaa Gaushala's
                                    manufacturing processes, our interventions
                                    in the Manufacturing Module have been
                                    instrumental. We have tailored the solutions
                                    to create a cohesive manufacturing
                                    ecosystem.
                                </p>
                                <ul
                                    class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3"
                                >
                                    <li>
                                        <span class="font-semibold"
                                            >Bill of materials:</span
                                        > We have set up and customized the Bill
                                        of Material (BOM) to ensure accurate product
                                        assembly.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Customized production plan:</span
                                        > Configuring and customizing the Production
                                        Plan and Operation modules for comprehensive
                                        production planning and operational efficiency.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Workstation setup:</span
                                        > Our team has helped them with workstation
                                        setup and configuration to streamline the
                                        manufacturing workflow.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Production control:</span
                                        > The introduction of work orders and Job
                                        Cards, coupled with routing configurations,
                                        for better production control and management.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Third item-->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                        <div
                            class="sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5"
                        >
                            <Image
                                loading="eager"
                                class="sm:w-full md:w-full lg:w-7/12"
                                src={gd_Inventory}
                                alt="slider image 3"
                            />

                            <div
                                class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left"
                            >
                                <div
                                    class="font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1"
                                >
                                    Inventory Module
                                </div>
                                <p class="text-xs md:text-sm lg:text-base">
                                    Our implementations in the Inventory Module
                                    have brought about a paradigm shift in Gram
                                    Dhara Gaushala's stock management.
                                </p>
                                <ul
                                    class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3"
                                >
                                    <li>
                                        <span class="font-semibold">
                                            Multi-location management:</span
                                        > Configured the Warehouse Master for multi-location
                                        stock tracking across different locations.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Batch-wise tracking:</span
                                        > The introduction of batch-wise product
                                        definitions in the Item Master enhances control
                                        and precise inventory management.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Easy re-ordering:</span
                                        > Re-order level configurations optimize
                                        the replenishment process, guaranteeing timely
                                        restocking of essential items.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Enhanced categorization:</span
                                        > Development of custom fields for item templates
                                        for specific item variants selection, for
                                        streamlined categorization.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Fourth item -->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                        <div
                            class="sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5"
                        >
                            <Image
                                loading="eager"
                                class="sm:w-full md:w-full lg:w-7/12"
                                src={gd_Sales}
                                alt="slider image 4"
                            />

                            <div
                                class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left"
                            >
                                <div
                                    class="font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1"
                                >
                                    Sales Module
                                </div>
                                <p class="text-xs md:text-sm lg:text-base">
                                    Our enhancements in the Sales Module have
                                    been pivotal in transforming GramDharaa
                                    Gaushala's sales operations.
                                </p>
                                <ul
                                    class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3"
                                >
                                    <li>
                                        <span class="font-semibold"
                                            >Sales Order & Invoice Management:</span
                                        > Implemented custom fields in the item child
                                        table for precise item selection based on
                                        company and item code in the Sales Order
                                        and Invoice modules.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Customized print formats:</span
                                        > The customization of print formats to ensure
                                        precise sales documentation.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Better leads and opportunities
                                            management:</span
                                        > GramDharaa Gaushala can better manage leads,
                                        contacts, and opportunities effectively
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Fifth item -->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                        <div
                            class="sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5"
                        >
                            <Image
                                loading="eager"
                                class="sm:w-full md:w-full lg:w-7/12"
                                src={gd_CRM}
                                alt="slider image 5"
                            />

                            <div
                                class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left"
                            >
                                <div
                                    class="font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1"
                                >
                                    CRM Module
                                </div>
                                <p class="text-xs md:text-sm lg:text-base">
                                    Our team at Sanskar Technolabs has also
                                    implemented the ERPNext CRM module for Gram
                                    Dhara Gaushala to improve their
                                    customer-centric operations and boost
                                    customer satisfaction.
                                </p>
                                <ul
                                    class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3"
                                >
                                    <li>
                                        <span class="font-semibold"
                                            >Master setup:</span
                                        > We have set up the Customer Master, Address
                                        and Contact Master, Territory Master, and
                                        Brand Master for better management of customer
                                        data, contacts, and brand relationships.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >End-to-End Customer data
                                            management:</span
                                        > The configuration of the CRM module enables
                                        effective lead management and opportunity
                                        tracking.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Analytics for the win:</span
                                        > ERPNext CRM modules have reports and analytics
                                        tools that offer valuable insights to make
                                        data-driven decisions and enhance overall
                                        business performance.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- sixth item -->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                        <div
                            class="sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5"
                        >
                            <Image
                                loading="eager"
                                class="sm:w-full md:w-full lg:w-7/12"
                                src={gd_Pos}
                                alt="slider image 5"
                            />

                            <div
                                class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left"
                            >
                                <div
                                    class="font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1"
                                >
                                    POS Module
                                </div>
                                <p class="text-xs md:text-sm lg:text-base">
                                    In revolutionizing GramDharaa Gaushala's
                                    payments and retail experience as a whole,
                                    we have set up a POS module for them. By
                                    creating, updating, and deleting different
                                    POS profiles, we've tailored the system to
                                    the organization's specific needs.
                                </p>
                                <ul
                                    class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-3"
                                >
                                    <li>
                                        <span class="font-semibold"
                                            >Managing payments:</span
                                        > The configuration of POS profiles includes
                                        managing modes of payment, opening entries,
                                        and closing entries for smooth retail transactions.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Advanced features implementation:</span
                                        > We've introduced features like managing
                                        POS shifts, handling returns and refunds,
                                        and even advance payments.
                                    </li>
                                    <li>
                                        <span class="font-semibold"
                                            >Branch-wise management:</span
                                        > Configured branch-wise POS profiles for
                                        versatile store management across different
                                        areas.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- slider end -->

    <!-- Their Challenges with Local ERP & Our solutions with Power-Packed ERPNext! -->

    <section
        class="section-bg-left-challanges section-bg-left py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
        >
            <!-- <div class="grid justify-items-center gap-20"> -->
            <div class="md:text-center sm:text-left">
                <h2
                    class="text-2xl md:text-3xl lg:text-4xl !leading-[2rem] md:!leading-[2.25rem] lg:!leading-[2.75rem] text-[#3E96F4] font-semibold"
                >
                    Their Challenges & Our Solutions(Leveraging ERPNext)
                </h2>
            </div>
            <!-- </div> -->

            <table
                class="hidden md:inline-table table-fixed w-full text-left mt-10 md:mt-14 lg:mt-20 text-[#31393C]"
            >
                <thead>
                    <tr class="border-b border-[#ADBDCD]">
                        <th></th>
                        <th
                            class="text-base md:text-lg lg:text-xl font-semibold bg-[#F6FBFF] p-5 rounded-tl-[10px]"
                            >Challenge</th
                        >
                        <th
                            class="text-base md:text-lg lg:text-xl font-semibold bg-[#DFEFFF] p-5 rounded-tr-[10px]"
                            >Solution</th
                        >
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-[#ADBDCD]">
                        <td>
                            <div class="lg:flex-row md:flex-col flex xl:gap-3">
                                <Image
                                    loading="eager"
                                    src={inefficiences_stock_tracking}
                                    alt="inefficiences_stock_tracking"
                                    width={63}
                                    height={63}
                                    class="lg:mx-0 mx-0 md:mx-auto"
                                />
                                <p
                                    class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 lg:text-left text-center"
                                >
                                    Inefficiencies in stock tracking and
                                    management
                                </p>
                            </div>
                        </td>
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pb-14"
                            >The existing custom software struggled to
                            effectively handle stock, leading to inefficiencies
                            in tracking and managing inventory levels.</td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
                            >ERPNext brought an integrated approach to inventory
                            management, providing a unified platform for
                            seamless tracking and efficient management of
                            inventory throughout the manufacturing cycle.</td
                        >
                    </tr>
                    <tr class="border-b border-[#ADBDCD]">
                        <td>
                            <div class="lg:flex-row md:flex-col flex xl:gap-3">
                                <Image
                                    loading="eager"
                                    src={sales_and_accounting}
                                    alt="sales_and_accounting"
                                    width={60}
                                    height={60}
                                    class="lg:mx-0 mx-0 md:mx-auto"
                                />
                                <p
                                    class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
                                >
                                    Sales and Accounting Hassles
                                </p>
                            </div></td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-0"
                            >Sales and accounting issues are also piling up,
                            with the current software falling short of providing
                            a comprehensive solution. The lack of integration
                            between the ledger, accounting, and inventory caused
                            disruptions in the financial workflow.</td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
                            >Sanskar Technolabs completed the integration of
                            ledger, accounting, and inventory within ERPNext to
                            eliminate the challenges in the sales and accounting
                            departments. This comprehensive approach streamlined
                            financial processes and ensured accuracy.</td
                        >
                    </tr>
                    <tr class="border-b border-[#ADBDCD]">
                        <td>
                            <div class="lg:flex-row md:flex-col flex xl:gap-3">
                                <Image
                                    loading="eager"
                                    src={manufacturing_packaging}
                                    alt="manufacturing_packaging"
                                    width={69}
                                    height={69}
                                    class="lg:mx-0 mx-0 md:mx-auto"
                                />
                                <p
                                    class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 lg:text-left text-center"
                                >
                                    Manufacturing and Packaging Disconnect
                                </p>
                            </div></td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5"
                            >The manufacturing process in the gaushala and
                            subsequent packaging in the store for selling lacked
                            synchronization. This disjointed approach hindered
                            the seamless flow of products from production to the
                            store shelves, leading to inefficient tracking and
                            management of operations.</td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5 pb-10"
                            >ERPNext bridged the gap between gaushala
                            manufacturing and store packaging, ensuring a smooth
                            transition of products from production to store
                            shelves. This synchronization enhanced the
                            efficiency of the entire manufacturing cycle.</td
                        >
                    </tr>
                    <tr class="border-b border-[#ADBDCD]">
                        <td>
                            <div class="lg:flex-row md:flex-col flex xl:gap-3">
                                <Image
                                    loading="eager"
                                    src={gst_complexity}
                                    alt="gst_complexity"
                                    width={70}
                                    height={70}
                                    class="lg:mx-0 mx-0 md:mx-auto"
                                />
                                <p
                                    class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
                                >
                                    GST Complexity
                                </p>
                            </div></td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-6"
                            >In the textile industry, tracking gray inward, its
                            processing, and costing becomes difficult, which
                            also increases the total time spent throughout the
                            entire process.</td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
                            >The ERPNext system was configured to handle GST
                            intricacies, accurately distinguishing between loose
                            products and packaged store products for end-to-end
                            management.</td
                        >
                    </tr>

                    <tr>
                        <td>
                            <div class="lg:flex-row md:flex-col flex xl:gap-3">
                                <Image
                                    loading="eager"
                                    src={crm_pos}
                                    alt="crm_pos"
                                    width={70}
                                    height={70}
                                    class="lg:mx-0 mx-0 md:mx-auto"
                                />
                                <p
                                    class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
                                >
                                    Missing CRM and POS
                                </p>
                            </div></td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-6"
                            >The absence of Customer Relationship Management
                            (CRM) and Point of Sale (POS) systems hindered
                            customer management and payments. This gap in
                            technology impacted the overall customer experience
                            and the efficiency of payment processes.</td
                        >
                        <td
                            class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
                            >ERPNext introduced CRM and POS modules, addressing
                            the lack of customer management and payment
                            efficiency. It leads to a better overall customer
                            experience, allowing for better communication and
                            streamlined payment processes.</td
                        >
                    </tr>
                </tbody>
            </table>

            <!-- for small screen -->
            <div
                class="block md:hidden table-fixed w-full text-left mt-10 md:mt-14 lg:mt-20 text-[#31393C]"
            >
                <div>
                    <div class="flex mb-1">
                        <Image
                            loading="eager"
                            src={inefficiences_stock_tracking}
                            alt="inefficiences_stock_tracking"
                            width={45}
                            height={45}
                        />
                        <p
                            class="text-base md:text-lg lg:text-xl font-semibold p-3"
                        >
                            Inefficiencies in stock tracking and management
                        </p>
                    </div>

                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
                    >
                        <p class="text-sm font-semibold mb-1">Challenge</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            The existing custom software struggled to
                            effectively handle stock, leading to inefficiencies
                            in tracking and managing inventory levels..
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
                    >
                        <p class="text-sm font-semibold mb-1">Solution</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            ERPNext brought an integrated approach to inventory
                            management, providing a unified platform for
                            seamless tracking and efficient management of
                            inventory throughout the manufacturing cycle.
                        </p>
                    </div>
                </div>

                <div class="mt-8">
                    <div class="flex mb-1">
                        <Image
                            loading="eager"
                            src={sales_and_accounting}
                            alt="sales_and_accounting"
                            width={40}
                            height={40}
                        />
                        <p
                            class="text-base md:text-lg lg:text-xl font-semibold p-3"
                        >
                            Sales and Accounting Hassles
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
                    >
                        <p class="text-sm font-semibold mb-1">Challenge</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            Sales and accounting issues are also piling up, with
                            the current software falling short of providing a
                            comprehensive solution. The lack of integration
                            between the ledger, accounting, and inventory caused
                            disruptions in the financial workflow.
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
                    >
                        <p class="text-sm font-semibold mb-1">Solution</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            Sanskar Technolabs completed the integration of
                            ledger, accounting, and inventory within ERPNext to
                            eliminate the challenges in the sales and accounting
                            departments. This comprehensive approach streamlined
                            financial processes and ensured accuracy.
                        </p>
                    </div>
                </div>

                <div class="mt-8">
                    <div class="flex mb-1">
                        <Image
                            loading="eager"
                            src={manufacturing_packaging}
                            alt="manufacturing_packaging"
                            width={45}
                            height={45}
                        />
                        <p
                            class="text-base md:text-lg lg:text-xl font-semibold p-3"
                        >
                            Manufacturing and Packaging Disconnect
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
                    >
                        <p class="text-sm font-semibold mb-1">Challenge</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            The manufacturing process in the gaushala and
                            subsequent packaging in the store for selling lacked
                            synchronization. This disjointed approach hindered
                            the seamless flow of products from production to the
                            store shelves, leading to inefficient tracking and
                            management of operations.
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
                    >
                        <p class="text-sm font-semibold mb-1">Solution</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            ERPNext bridged the gap between gaushala
                            manufacturing and store packaging, ensuring a smooth
                            transition of products from production to store
                            shelves. This synchronization enhanced the
                            efficiency of the entire manufacturing cycle.
                        </p>
                    </div>
                </div>

                <div class="mt-8">
                    <div class="flex mb-1">
                        <Image
                            loading="eager"
                            src={gst_complexity}
                            alt="gst_complexity"
                            width={45}
                            height={45}
                        />
                        <p
                            class="text-base md:text-lg lg:text-xl font-semibold p-3"
                        >
                            GST Complexity
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
                    >
                        <p class="text-sm font-semibold mb-1">Challenge</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            In the textile industry, tracking gray inward, its
                            processing, and costing becomes difficult, which
                            also increases the total time spent throughout the
                            entire process.
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
                    >
                        <p class="text-sm font-semibold mb-1">Solution</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            The ERPNext system was configured to handle GST
                            intricacies, accurately distinguishing between loose
                            products and packaged store products for end-to-end
                            management.
                        </p>
                    </div>
                </div>

                <div class="mt-8">
                    <div class="flex mb-1">
                        <Image
                            loading="eager"
                            src={crm_pos}
                            alt="crm_pos"
                            width={45}
                            height={45}
                        />
                        <p
                            class="text-base md:text-lg lg:text-xl font-semibold p-3"
                        >
                            Missing CRM and POS
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
                    >
                        <p class="text-sm font-semibold mb-1">Challenge</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            The absence of Customer Relationship Management
                            (CRM) and Point of Sale (POS) systems hindered
                            customer management and payments. This gap in
                            technology impacted the overall customer experience
                            and the efficiency of payment processes.
                        </p>
                    </div>
                    <div
                        class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
                    >
                        <p class="text-sm font-semibold mb-1">Solution</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">
                            ERPNext introduced CRM and POS modules, addressing
                            the lack of customer management and payment
                            efficiency. It leads to a better overall customer
                        </p>
                    </div>
                </div>
            </div>

            <!-- our services extend start -->

            <section class="section-bg-center lg:mt-[4rem] mt-[2rem]">
                <div class="max-w-[1300px] mx-auto md:px-1">
                    <h2
                        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl mx-0 md:text-center font-semibold"
                    >
                        Our services extend beyond ERPNext implementation!
                    </h2>
                </div>

                <div
                    class="max-w-[1300px] mx-auto grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-5 px-0 md:px-5 lg:px-0"
                >
                    <div class="">
                        <Image
                            loading="eager"
                            src={end_to_end}
                            alt="end_to_end"
                            class=""
                        />
                        <p
                            class="text-[#31393C] text-base md:text-lg lg:text-xl font-semibold mt-5"
                        >
                            End-to-End Training
                        </p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:mt-5 mt-3"
                        >
                            Our commitment extended beyond implementation as we
                            provided comprehensive end-to-end training sessions.
                            It involves assisting the team at GramDharaa
                            Gaushala by using and managing the ERPNext system,
                            ensuring they gain a thorough understanding of its
                            functionalities and capabilities.
                        </p>
                    </div>

                    <div class="">
                        <Image
                            loading="eager"
                            src={module}
                            alt="module"
                            class=""
                        />
                        <p
                            class="text-[#31393C] text-base md:text-lg lg:text-xl font-semibold mt-5"
                        >
                            Modules-wise Sessions
                        </p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5"
                        >
                            To facilitate a deeper comprehension, we conducted
                            specialized modules-wise training sessions for their
                            team. Each module, including manufacturing,
                            inventory, purchase, sales, CRM, and POS, was
                            meticulously explained, allowing the GramDharaa
                            Gaushala team to grasp the nuances of each feature
                            and maximize its utility.
                        </p>
                    </div>

                    <div class="">
                        <Image
                            loading="eager"
                            src={bug_fix}
                            alt="bug_fix"
                            class=""
                        />
                        <p
                            class="text-[#31393C] text-base md:text-lg lg:text-xl font-semibold mt-5"
                        >
                            Bug-Fixing and Error Rectifications
                        </p>
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base lg:mt-5 mt-3"
                        >
                            Understanding the importance of a smooth and
                            error-free system, our support extended to
                            bug-fixing and error rectifications. We promptly
                            addressed any issues that arose, ensuring a seamless
                            and uninterrupted experience for GramDharaa
                            Gaushala.
                        </p>
                    </div>
                </div>
            </section>

            <!-- our services extend end -->
            <!-- the feedback start -->

            <section class="lg:mt-[4rem] mt-[2rem]">
                <div class="max-w-[1300px] mx-auto">
                    <h2
                        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl mx-0 md:text-center font-semibold"
                    >
                        The feedback of our client!
                    </h2>
                </div>

                <div class="max-w-[850px] mx-auto mt-3 lg:mt-5">
                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base px-0 md:px-10 lg:px-12 md:text-center"
                    >
                        Here’s something that keeps inspiring us to deliver the
                        desired outcomes and bring out the best results for our
                        clients.
                    </p>
                </div>

                <div
                    class="bg-[#FFFFFF] happy-customer-shadow rounded-3xl max-w-[734px] lg:mx-auto mt-10 mx-0 md:mx-0 p-5 md:p-7 lg:p-10"
                >
                    <div>
                        <Image
                            loading="eager"
                            src={nattyam}
                            alt="nattyam"
                            class=""
                        />
                    </div>

                    <p
                        class="text-[#31393C] text-base md:text-lg lg:text-xl font-semibold mt-5"
                    >
                        Nettyam
                    </p>

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2"
                    >
                        Jay Gau Mata
                    </p>

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5"
                    >
                        Thanks for your quick support for providing us ERPNext's
                        modules as per our needs. Completed modules provided
                        from your team is buying, selling, manufacturing, CRM
                        and POS. Currently we are entering our trial data and
                        also We are checking and working on the same. We will
                        soon activate all modules to fulfill Ved khillar Goshala
                        admin purpose.
                    </p>

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5"
                    >
                        Thanks again for your great gesture.
                    </p>

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5"
                    >
                        Gomata's Blessings will always with you.
                    </p>

                    <p
                        class="text-[#31393C] text-base md:text-lg lg:text-xl font-[600] mt-3"
                    >
                        Nitesh Ojha
                    </p>
                </div>
            </section>

            <!-- the feedback end -->

            <style>
                .overview {
                    color: #3e96f4;
                    font-family: Open Sans;

                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px; /* 133.333% */
                    letter-spacing: -0.72px;
                }

                .cow-text {
                    color: #31393c;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }

                .happy-customer-shadow {
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
                }

                [data-te-carousel-indicators] button[data-te-carousel-active] {
                    background-color: #3e96f4;
                }

                .section-bg-left_gramdhara {
                    position: relative;
                }

                .section-bg-left_gramdhara::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100rem;
                    background-image: radial-gradient(
                        ellipse at left,
                        rgba(62, 150, 244, 0.1),
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    );
                    z-index: -1;
                    margin-top: 0rem;
                }

                @media (max-width: 640px) {
                    .section-bg-left_gramdhara::before {
                        height: 60rem;
                        margin-top: 20rem;
                    }
                }

                @media (max-width: 768px) {
                    .section-bg-left_gramdhara::before {
                        height: 60rem;
                        margin-top: 22rem;
                    }
                }

                .section-bg-left-challanges {
                    position: relative;
                }

                .section-bg-left-challanges::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 80rem;
                    background-image: radial-gradient(
                        ellipse at left,
                        rgba(62, 150, 244, 0.2),
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    );
                    z-index: -1;
                    margin-top: 0rem;
                }

                @media (max-width: 640px) {
                    .section-bg-left-challanges::before {
                        height: 60rem;
                        margin-top: 20rem;
                    }
                }

                @media (max-width: 768px) {
                    .section-bg-left-challanges::before {
                        height: 60rem;
                        margin-top: 22rem;
                    }
                }

                .section-bg-center {
                    position: relative;
                }

                .section-bg-center::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 120rem;
                    background-image: radial-gradient(
                        rgba(62, 150, 244, 0.1),
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    );
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                    z-index: -1;
                    margin-top: 10rem;
                }
            </style>
        </div>
    </section>
</Layout>