---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import product_banner_img from "../../public/Images/product_banner_img.png";
import right_arrow from "../../public/Images/right-arrow.svg";
import product_crm from "../../public/Images/product_crm.svg";
import product_whatsapp from "../../public/Images/product_whatsapp.svg";
import product_indiamart from "../../public/Images/product_indiamart.svg";
import product_tata from "../../public/Images/product_tata.svg";
import product_whatsapp_img from "../../public/Images/product_whatsapp_img.svg";
import product_whatsapp_1 from "../../public/Images/product_whatsapp_1.svg";
import product_erpnext_whatsapp from "../../public/Images/product_erpnext_whatsapp.svg";
import product_indiamart_img from "../../public/Images/product_indiamart_img.svg";
import product_indiamart_2 from "../../public/Images/product_indiamart_2.svg";
import product_erpnext_indiamart from "../../public/Images/product_erpnext_indiamart.svg";
import product_tata_img from "../../public/Images/product_tata_img.svg";
import product_tata_3 from "../../public/Images/product_tata_3.svg";
import product_erpnext_tata from "../../public/Images/product_erpnext_tata.svg";
import product_crm_bg from "../../public/Images/product_crm_bg.svg";
---

<Layout
    title="Products Page | Sanskar Technolab"
    ,
    keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
    ,
    description="We are among the leading ERPNext development companies offering ERPNext solutions to scale & succeed."
    ,
    canonical_href="https://sanskartechnolab.com/products"
>
    <!-- Bannner Start -->
    <section class="shadow-2xl">
        <div
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-10 md:py-16 lg:py-20"
        >
            <div class="lg:flex">
                <div class="lg:basis-5/12 flex flex-col justify-center">
                    <div class="relative">
                        <Image
                            loading="eager"
                            src={product_crm_bg}
                            alt="product_crm_bg"
                            class="w-full"
                        />
                        <div
                            class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-center p-2 md:p-4 lg:p-4"
                        >
                            <div
                                class="flex space-x-2 md:space-x-3 lg:space-x-3"
                            >
                                <div class="flex items-center">
                                    <Image
                                        loading="eager"
                                        src={product_crm}
                                        alt="product_crm "
                                        class="w-12 md:w-auto"
                                    />
                                </div>

                                <div class="flex flex-col justify-center">
                                    <p
                                        class="text-[#4D4C4D] text-xs md:text-sm lg:text-base ml-[2px] md:ml-1 lg:ml-1"
                                    >
                                        Our Product
                                    </p>
                                    <h1
                                        class="text-2xl md:text-3xl lg:text-4xl text-[#4D4C4D] font-semibold md:mt-1 lg:mt-1"
                                    >
                                        Real Estate CRM
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="bg-[#C6E1FF] rounded-xl p-2 lg:p-3 flex gap-x-3 lg:w-[28rem]">
                        <div class="flex items-center">
                            <Image
                                loading="eager"
                                src={product_crm}
                                alt="product_crm "
                                class=""
                            />
                        </div>

                        <div class="flex flex-col justify-center">
                            <p class="text-[#4D4C4D] text-xs md:text-sm lg:text-base ml-1">
                                Our Product
                            </p>
                            <h1
                                class="text-2xl md:text-3xl lg:text-4xl text-[#4D4C4D] font-semibold mt-1"
                            >
                                Real Estate CRM
                            </h1>
                        </div>
                    </div> -->

                    <h1
                        class="text-2xl md:text-3xl lg:text-4xl lg:leading-[3rem] text-[#3E96F4] font-semibold mt-5 md:mt-7 lg:mt-10"
                    >
                        Transform Your <br class="hidden lg:block" /> Real Estate
                        Business with a <br class="hidden lg:block" /> Cutting-edge
                        CRM Solution.
                    </h1>

                    <p
                        class="text-[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5 md:mt-7"
                    >
                        Unify Data, Tools, and Processes for Seamless
                        Automation,<br class="hidden lg:block" />
                        Empowering Your Team to Drive Business Growth.
                    </p>

                    <div
                        class="flex justify-between bg-[#3E96F4] rounded-lg p-2 md:px-4 md:py-2 w-[10rem] mt-5 md:mt-7 lg:mt-10 cursor-pointer"
                    >
                        <a
                            href="/real-estate-crm"
                            class="text-[#FFFFFF] font-semibold text-base font-inter"
                            >Learn more</a
                        >
                        <Image
                            loading="eager"
                            src={right_arrow}
                            alt="right_arrow"
                            width={6}
                            height={12}
                        />
                    </div>
                </div>

                <div class="lg:basis-7/12 mt-10 md:mt-14 lg:mt-0">
                    <Image
                        loading="eager"
                        src={product_banner_img}
                        alt="product_banner_img"
                        class=""
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- Bannner End -->

    <!-- Integrate your favorite apps into ERPNext Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] md:mt-5"
    >
        <h2
            class="mx-auto text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-bold"
        >
            Integrate your favorite apps into ERPNext
        </h2>

        <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base font-semibold text-center mt-5"
        >
            Let Sanskar Technolab streamline your business operations with
            on-the-go integrations.
        </p>

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 md:mt-7 lg:mt-10 gap-3 lg:gap-0"
        >
            <div class="flex justify-center">
                <Image
                    loading="eager"
                    src={product_whatsapp}
                    alt="product_whatsapp"
                    class=""
                />
            </div>

            <div class="flex justify-center">
                <Image
                    loading="eager"
                    src={product_indiamart}
                    alt="product_indiamart"
                    class=""
                />
            </div>

            <div class="flex justify-center">
                <Image
                    loading="eager"
                    src={product_tata}
                    alt="product_tata"
                    class=""
                />
            </div>
        </div>
    </section>
    <!-- Integrate your favorite apps into ERPNext End -->

    <!-- ERPNext WhatsApp Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="flex justify-center">
                <Image
                    loading="eager"
                    src={product_whatsapp_img}
                    alt="product_whatsapp_img"
                    class=""
                />
            </div>

            <div class="flex flex-col justify-center mt-5 md:mt-10 lg:mt-0">
                <div class="flex items-center gap-x-3 md:gap-x-4 lg:gap-x-5">
                    <Image
                        loading="eager"
                        src={product_whatsapp_1}
                        alt="product_whatsapp_1"
                        class=""
                    />

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base font-bold"
                    >
                        WhatsApp integration for ERPNEXT.
                    </p>
                </div>

                <div class="mt-2 md:mt-3 lg:mt-5">
                    <p
                        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                    >
                        Customer Communication <br class="hidden lg:block" /> Made
                        Simpler!
                    </p>
                </div>

                <div class="mt-3 md:mt-3 lg:mt-5">
                    <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        Connect with your customers like never before with our <br
                            class="hidden lg:block"
                        />
                        seamless WhatsApp integration for ERPNEXT.
                    </p>
                </div>

                <div class="mt-3 md:mt-4 lg:mt-5">
                    <Image
                        loading="eager"
                        src={product_erpnext_whatsapp}
                        alt="product_erpnext_whatsapp"
                        class=""
                    />
                </div>

                <div
                    class="flex justify-between bg-[#3E96F4] rounded-lg p-2 md:p-3 lg:px-5 lg:py-2 w-[10rem] mt-5 md:mt-7 lg:mt-10 cursor-pointer"
                >
                    <a
                        href="/erpnext_whatsapp_integration"
                        class="text-[#FFFFFF] font-semibold text-base font-inter"
                        >Learn more</a
                    >
                    <Image
                        loading="eager"
                        src={right_arrow}
                        alt="right_arrow"
                        width={6}
                        height={12}
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- ERPNext WhatsApp End -->

    <!-- ERPNext Indiamart Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="flex justify-center">
                <Image
                    loading="eager"
                    src={product_indiamart_img}
                    alt="product_indiamart_img"
                    class=""
                />
            </div>

            <div class="flex flex-col justify-center mt-5 md:mt-10 lg:mt-0">
                <div class="flex items-center gap-x-3 md:gap-x-4 lg:gap-x-5">
                    <Image
                        loading="eager"
                        src={product_indiamart_2}
                        alt="product_indiamart_2"
                        class=""
                    />

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base font-bold"
                    >
                        Indiamart integration for ERPNEXT.
                    </p>
                </div>

                <div class="mt-2 md:mt-3 lg:mt-5">
                    <p
                        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                    >
                        Leads on Autopilot with <br class="hidden lg:block" /> IndiaMart
                        Integration!
                    </p>
                </div>

                <div class="mt-3 md:mt-3 lg:mt-5">
                    <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        Ever feel the stress of juggling leads and inquiries
                        from <br class="hidden lg:block" /> IndiaMart & worried about
                        missing out on potential business?
                    </p>
                </div>

                <div class="mt-3 md:mt-4 lg:mt-5">
                    <Image
                        loading="eager"
                        src={product_erpnext_indiamart}
                        alt="product_erpnext_indiamart"
                        class=""
                    />
                </div>

                <div
                    class="flex justify-between bg-[#3E96F4] rounded-lg p-2 md:p-3 lg:px-5 lg:py-2 w-[10rem] mt-5 md:mt-7 lg:mt-10 cursor-pointer"
                >
                    <a
                        href="/erpnext_indiamart_integration"
                        class="text-[#FFFFFF] font-semibold text-base font-inter"
                        >Learn more</a
                    >
                    <Image
                        loading="eager"
                        src={right_arrow}
                        alt="right_arrow"
                        width={6}
                        height={12}
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- ERPNext Indiamart End -->

    <!-- ERPNext TATA Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="flex justify-center">
                <Image
                    loading="eager"
                    src={product_tata_img}
                    alt="product_tata_img"
                    class=""
                />
            </div>

            <div class="flex flex-col justify-center mt-5 md:mt-10 lg:mt-0">
                <div class="flex items-center gap-x-3 md:gap-x-4 lg:gap-x-5">
                    <Image
                        loading="eager"
                        src={product_tata_3}
                        alt="product_tata_3"
                        class=""
                    />

                    <p
                        class="text-[#31393C] text-xs md:text-sm lg:text-base font-bold"
                    >
                        TATA Smartflo integration for ERPNEXT.
                    </p>
                </div>

                <div class="mt-2 md:mt-3 lg:mt-5">
                    <p
                        class="text-[#4D4C4D] text-2xl md:text-3xl lg:text-4xl font-bold"
                    >
                        Telephony API
                    </p>
                </div>

                <div class="mt-2 md:mt-3 lg:mt-3">
                    <p
                        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
                    >
                        Communicate, Enhance <br class="hidden lg:block" /> Customer
                        Satisfaction, Repeat!
                    </p>
                </div>

                <div class="mt-3 md:mt-3 lg:mt-5">
                    <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
                        Ever found yourself juggling customer details, trying to
                        make <br class="hidden lg:block" /> that perfect call, and
                        wishing for a simpler way to manage it all?
                    </p>
                </div>

                <div class="mt-2 md:mt-3 lg:mt-4">
                    <Image
                        loading="eager"
                        src={product_erpnext_tata}
                        alt="product_erpnext_tata"
                        class=""
                    />
                </div>

                <div
                    class="flex justify-between bg-[#3E96F4] rounded-lg p-2 md:p-3 lg:px-5 lg:py-2 w-[10rem] mt-3 md:mt-4 lg:mt-7 cursor-pointer"
                >
                    <a
                        href="/erpnext_calling_integration"
                        class="text-[#FFFFFF] font-semibold text-base font-inter"
                        >Learn more</a
                    >
                    <Image
                        loading="eager"
                        src={right_arrow}
                        alt="right_arrow"
                        width={6}
                        height={12}
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- ERPNext TATA End -->
</Layout>