---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import crm_page_banner_img from "../../public/Images/crm_page_banner_img.svg";
import crm_page_elevate_property_img from "../../public/Images/crm_page_elevate_property_img.svg";
import crm_page_realtime_benifits from "../../public/Images/crm_page_realtime_benifits.svg";
import right_arrow from "../../public/Images/right-arrow.svg";
import cta_mobile from "../../public/Images/cta-mobile.svg";
import crm_page_real_estat_agencies from "../../public/Images/crm_page_real_estat_agencies.svg";
import crm_page_property_developers from "../../public/Images/crm_page_property_developers.svg";
import crm_page_real_estate_brokerages from "../../public/Images/crm_page_real_estate_brokerages.svg";
import crm_page_property_rental_agencies from "../../public/Images/crm_page_property_rental_agencies.svg";
import crm_page_individual_agents from "../../public/Images/crm_page_individual_agents.svg";
import crm_page_real_estate_investors from "../../public/Images/crm_page_real_estate_investors.svg";
import crm_page_customization from "../../public/Images/crm_page_customization.svg";
import crm_page_indepth from "../../public/Images/crm_page_indepth.svg";
import crm_page_focus from "../../public/Images/crm_page_focus.svg";
import crm_page_keeping from "../../public/Images/crm_page_keeping.svg";
import crm_page_user_centric from "../../public/Images/crm_page_user_centric.svg";
import crm_page_integration from "../../public/Images/crm_page_integration.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
import crm_page_lead_img     from "../../public/Images/crm_page_lead_img.svg";
import crm_page_automated_img from "../../public/Images/crm_page_automated_img.svg";
import crm_page_site_visit_img from "../../public/Images/crm_page_site_visit_img.svg";
import crm_page_all_channel_img from "../../public/Images/crm_page_all_channel_img.svg";
import crm_page_reporting_img from "../../public/Images/crm_page_reporting_img.svg";
---

<Layout
    title="Real Estate CRM | Sanskar Technolab"
    ,
    keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
    ,
    description="We are among the leading ERPNext development companies offering ERPNext solutions to scale & succeed."
    ,
    canonical_href="https://sanskartechnolab.com/real-estate-crm"
>
    <!-- CRM Banner Start -->
    <section
        class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg"
    >
        <div
            class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 relative"
        >
            <div class="w-full md:w-6/12">
                <h1
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Transform Your <br class="hidden lg:block" /> Real Estate Business
                    with a Cutting-edge CRM Solution.
                </h1>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Unify Data, Tools, and Processes for Seamless Automation, <br
                        class="hidden lg:block"
                    />
                    Empowering Your Team to Drive Business Growth.
                </p>
            </div>

            <Image
                loading="eager"
                src={crm_page_banner_img}
                alt="crm_page_banner_img"
                class=""
            />
        </div>
    </section>

    <section class="section-bg flex items-center md:flex lg:hidden banner-bg">
        <div
            class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full lg:w-6/12 mt-5">
                <h1
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Transform Your Real Estate Business with a Cutting-edge CRM
                    Solution.
                </h1>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Unify Data, Tools, and Processes for Seamless Automation,
                    Empowering Your Team to Drive Business Growth.
                </p>
            </div>

            <Image
                loading="eager"
                src={crm_page_banner_img}
                alt="crm_page_banner_img"
                class=""
            />
        </div>
    </section>
    <!-- CRM Banner End -->

    <!-- Elevate Property Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] md:mt-5 lg:mt-10"
    >
        <h2
            class="mx-auto lg:w-[55rem] text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
        >
            Elevate Property Marketing, Streamline Sales, and Boost Productivity
            With Our Real-Estate CRM.
        </h2>

        <div class="mt-5">
            <p
                class="text-[#31393C] text-xs md:text-sm lg:text-base text-center"
            >
                Transform your operations, enhance client relationships, and
                achieve <br class="hidden lg:block" /> unprecedented levels of efficiency
                and success.
            </p>
        </div>

        <Image
            loading="eager"
            src={crm_page_elevate_property_img}
            alt="crm_page_elevate_property_img"
            class="mt-5 md:mt-7 w-full"
        />
    </section>
    <!-- Elevate Property End -->

    <!-- Real-Time Benefits Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] section-bg-center"
    >
        <div>
            <h2
                class="mx-auto lg:w-[55rem] text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
            >
                Real-Time Benefits of CRM for Real-estate businesses &
                individuals.
            </h2>

            <div class="grid grid-cols-1 lg:grid-cols-3 mt-5 gap-5">
                <div class="grid-1">
                    <div
                        class="real_time_benifits_card md:text-center lg:text-right p-2 md:p-3 lg:py-4 lg:pr-4 lg:mt-14"
                    >
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            Automated data entries and marketing <br
                                class="hidden lg:block"
                            />leads accelerate response time by over <br
                                class="hidden lg:block"
                            />
                            <span class="text-[#007BFF] font-bold">12%.</span>
                        </p>
                    </div>

                    <div
                        class="real_time_benifits_card md:text-center lg:text-right p-2 md:p-3 lg:py-4 lg:pr-4 mt-5 md:mt-7 lg:mt-12"
                    >
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            <span class="text-[#007BFF] font-bold"
                                >230+
                            </span>Manpower hours saved(every <br
                                class="hidden lg:block"
                            /> month) through the automated <br
                                class="hidden lg:block"
                            />assignment of leads and inquiries.
                        </p>
                    </div>
                </div>

                <div class="grid-2">
                    <div class="flex justify-center">
                        <Image
                            loading="eager"
                            src={crm_page_realtime_benifits}
                            alt="crm_page_realtime_benifits"
                            class=""
                        />
                    </div>

                    <div
                        class="real_time_benifits_card text-center p-2 md:p-3 lg:p-4 mt-3 lg:mt-5"
                    >
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            <span class="text-[#007BFF] font-bold">97%</span> customer
                            retention due to a <br class="hidden lg:block" /> personalized
                            and customer-centric <br class="hidden lg:block" />
                            approach.
                        </p>
                    </div>
                </div>

                <div class="grid-3">
                    <div
                        class="real_time_benifits_card text-center lg:text-left p-2 md:p-3 lg:py-4 lg:pl-4 md:mt-2 lg:mt-14"
                    >
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            Cost savings of over <span
                                class="text-[#007BFF] font-bold">16%</span
                            > due to <br class="hidden lg:block" /> automated lead
                            management and <br class="hidden lg:block" /> marketing
                            processes.
                        </p>
                    </div>

                    <div
                        class="real_time_benifits_card text-center lg:text-left p-2 md:p-3 lg:py-4 lg:pl-4 mt-5 md:mt-7 lg:mt-12"
                    >
                        <p
                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                        >
                            More consolidated data increased <br
                                class="hidden lg:block"
                            />marketing ROI by over <span
                                class="text-[#007BFF] font-bold">122%</span
                            > in just 6 <br class="hidden lg:block" />months.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Real-Time Benefits End -->

    <!-- CRM Product Different! Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div>
            <h2
                class="mx-auto text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
            >
                Here are the functionalities that make our Real-Estate <br
                    class="hidden lg:block"
                /> CRM Product Different!
            </h2>
        </div>

        <div class="grid lg:grid-cols-12 mt-5 lg:gap-x-3">
            <div class="col-span-5 lg:mt-20">
                <div
                    x-data="{ accordion: 0 }"
                    class="grid gap-5 rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5"
                >
                    <div
                        class="bg-white border-[#C7D6E2] border-2 rounded-[20px]"
                    >
                        <div
                            class="flex justify-between p-3 md:p-4 clickable-div cursor-pointer"
                            @click="accordion = accordion == 0 ? 1 : 0"
                        >
                            <div
                                class="font-semibold text-sm md:text-sm lg:text-base"
                            >
                                Lead Generation & Management
                            </div>
                            <Image
                                loading="eager"
                                :class="accordion === 1 ? 'block' : 'hidden'"
                                src={down_arrow}
                                alt="down-arrow"
                            />
                            <Image
                                loading="eager"
                                :class="accordion !== 1 ? 'block' : 'hidden'"
                                src={up_arrow}
                                alt="up-arrow"
                            />
                        </div>
                        <div
                            class="overflow-hidden bg-white rounded-b-[20px]"
                            :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
                        >
                            <div
                                class="w-full bg-white rounded-[10px] p-3 md:p-4"
                                id="faq1_c"
                            >
                                <p class="text-xs md:text-sm lg:text-base">
                                    Attract more prospects with our robust lead
                                    generation tools. Our CRM not only helps you
                                    capture new inquiries but also efficiently
                                    manages and nurtures these leads to increase
                                    conversion rates.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white border-[#C7D6E2] border-2 rounded-2xl">
                        <div
                            class="flex justify-between p-3 md:p-4 clickable-div cursor-pointer"
                            @click="accordion = accordion == 2 ? 0 : 2"
                        >
                            <div
                                class="font-semibold text-sm md:text-sm lg:text-base"
                            >
                                Automated Follow-ups
                            </div>
                            <Image
                                loading="eager"
                                :class="accordion !== 2 ? 'block' : 'hidden'"
                                src={down_arrow}
                                alt="down-arrow"
                            />
                            <Image
                                loading="eager"
                                :class="accordion === 2 ? 'block' : 'hidden'"
                                src={up_arrow}
                                alt="up-arrow"
                                p-4
                            />
                        </div>
                        <div
                            class="overflow-hidden bg-white rounded-b-[20px]"
                            :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
                        >
                            <p
                                class="text-xs md:text-sm lg:text-base p-3 md:p-4"
                            >
                                Stay top-of-mind with your clients through
                                automated follow-up communications. Our system
                                ensures that no potential deal slips through the
                                cracks, enhancing client engagement and
                                satisfaction.
                            </p>
                        </div>
                    </div>

                    <div class="bg-white border-[#C7D6E2] border-2 rounded-2xl">
                        <div
                            class="flex justify-between p-3 md:p-4 clickable-div cursor-pointer"
                            @click="accordion = accordion == 3 ? 0 : 3"
                        >
                            <div
                                class="font-semibold text-sm md:text-sm lg:text-base"
                            >
                                Site Visit Coordination
                            </div>
                            <Image
                                loading="eager"
                                :class="accordion !== 3 ? 'block' : 'hidden'"
                                src={down_arrow}
                                alt="down-arrow"
                            />
                            <Image
                                loading="eager"
                                :class="accordion === 3 ? 'block' : 'hidden'"
                                src={up_arrow}
                                alt="up-arrow"
                            />
                        </div>
                        <div
                            class="overflow-hidden bg-white rounded-b-[20px]"
                            :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
                        >
                            <p
                                class="text-xs md:text-sm lg:text-base p-3 md:p-4"
                            >
                                Easily schedule and manage property site visits.
                                Our CRM integrates scheduling tools that
                                facilitate seamless coordination between your
                                agents and clients, ensuring a smooth and
                                professional experience.
                            </p>
                        </div>
                    </div>

                    <div class="bg-white border-[#C7D6E2] border-2 rounded-2xl">
                        <div
                            class="flex justify-between p-3 md:p-4 clickable-div cursor-pointer"
                            @click="accordion = accordion == 4 ? 0: 4"
                        >
                            <div
                                class="font-semibold text-sm md:text-sm lg:text-base"
                            >
                                All-Channel Communication
                            </div>
                            <Image
                                loading="eager"
                                :class="accordion !== 4 ? 'block' : 'hidden'"
                                src={down_arrow}
                                alt="down-arrow"
                            />
                            <Image
                                loading="eager"
                                :class="accordion === 4 ? 'block' : 'hidden'"
                                src={up_arrow}
                                alt="up-arrow"
                            />
                        </div>
                        <div
                            class="overflow-hidden bg-white rounded-b-[20px]"
                            :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
                        >
                            <p
                                class="text-xs md:text-sm lg:text-base p-3 md:p-4"
                            >
                                Communicate with clients via their preferred
                                channels. Whether it's email, SMS, social media,
                                or phone calls, our CRM provides a unified
                                platform for all your communication needs,
                                ensuring a consistent and personalized client
                                experience.
                            </p>
                        </div>
                    </div>

                    <div class="bg-white border-[#C7D6E2] border-2 rounded-2xl">
                        <div
                            class="flex justify-between p-3 md:p-4 clickable-div cursor-pointer"
                            @click="accordion = accordion == 5 ? 0: 5"
                        >
                            <div
                                class="font-semibold text-sm md:text-sm lg:text-base"
                            >
                                Reporting & Analytics
                            </div>
                            <Image
                                loading="eager"
                                :class="accordion !== 5 ? 'block' : 'hidden'"
                                src={down_arrow}
                                alt="down-arrow"
                            />
                            <Image
                                loading="eager"
                                :class="accordion === 5 ? 'block' : 'hidden'"
                                src={up_arrow}
                                alt="up-arrow"
                            />
                        </div>
                        <div
                            class="overflow-hidden bg-white rounded-b-[20px]"
                            :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
                        >
                            <p
                                class="text-xs md:text-sm lg:text-base p-3 md:p-4"
                            >
                                Gain valuable insights into your business
                                performance. Our CRM's advanced analytics tools
                                help you track key metrics, understand market
                                trends, and make data-driven decisions to grow
                                your business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-7 mt-5">
                <div class="image-container">
                    <Image
                        loading="eager"
                        src={crm_page_lead_img}
                        alt="crm_page_lead_img"
                        class="lg:w-full"
                    />
                </div>

                <div class="image-container">
                    <Image
                        loading="eager"
                        src={crm_page_automated_img}
                        alt="crm_page_automated_img"
                        class="lg:w-full"
                    />
                </div>

                <div class="image-container">
                    <Image
                        loading="eager"
                        src={crm_page_site_visit_img}
                        alt="crm_page_site_visit_img"
                        class="lg:w-full"
                    />
                </div>

                <div class="image-container">
                    <Image
                        loading="eager"
                        src={crm_page_all_channel_img}
                        alt="crm_page_all_channel_img"
                        class="lg:w-full"
                    />
                </div>

                <div class="image-container">
                    <Image
                        loading="eager"
                        src={crm_page_reporting_img}
                        alt="crm_page_reporting_img"
                        class="lg:w-full"
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- CRM Product Different! End -->

    <!-- Functionalities Unlocked of our CRM for Real-Estate Industry! Start -->
    <section class="section-bg-right">
        <section
            class="mx-5 md:max-w-7xl md:mx-auto py-[2rem] md:py-[2rem] lg:py-[4rem] md:px-24 2xl:px-0"
        >
            <div
                x-data="{ accordion: 0 }"
                class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
            >
                <p
                    class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold ml-3 leading-9"
                >
                    Functionalities Unlocked of our CRM for Real-Estate
                    Industry!
                </p>
                <div class="bg-white rounded-2xl">
                    <div
                        class="flex justify-between p-4 cursor-pointer"
                        @click="accordion = accordion == 0 ? 1 : 0"
                    >
                        <div
                            class="text-[#000000] font-semibold text-sm md:text-base lg:text-lg"
                        >
                            Admin Module
                        </div>
                        <Image
                            loading="eager"
                            :class="accordion === 1 ? 'block' : 'hidden'"
                            src={down_arrow}
                            alt="down-arrow"
                        />
                        <Image
                            loading="eager"
                            :class="accordion !== 1 ? 'block' : 'hidden'"
                            src={up_arrow}
                            alt="up-arrow"
                        />
                    </div>
                    <div
                        class="overflow-hidden bg-white rounded-b-[10px]"
                        :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
                    >
                        <div class="w-full bg-white rounded-[10px]" id="faq1_c">
                            <div
                                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-5"
                            >
                                <div class="bg-box">
                                    <div class="p-2 md:p-3">
                                        <p
                                            class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                        >
                                            Manage users
                                        </p>
                                    </div>
                                    <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                    <div class="p-2 md:p-3">
                                        <p
                                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                        >
                                            The admin can seamlessly access and
                                            input multiple user details through
                                            an easy and quick process.
                                        </p>
                                    </div>
                                </div>

                                <div class="bg-box">
                                    <div class="p-2 md:p-3">
                                        <p
                                            class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                        >
                                            Assign Roles
                                        </p>
                                    </div>
                                    <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                    <div class="p-2 md:p-3">
                                        <p
                                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                        >
                                            The admin accesses the user creation
                                            section, inputs user details, and
                                            can even assign roles to the new
                                            user.
                                        </p>
                                    </div>
                                </div>

                                <div class="bg-box">
                                    <div class="p-2 md:p-3">
                                        <p
                                            class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                        >
                                            Manage Roles
                                        </p>
                                    </div>
                                    <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                    <div class="p-2 md:p-3">
                                        <p
                                            class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                        >
                                            The system allows the admin to
                                            create new roles and define
                                            permissions for each role, while
                                            easily managing each & every user!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white rounded-2xl">
                    <div
                        class="flex justify-between p-4 cursor-pointer"
                        @click="accordion = accordion == 2 ? 0 : 2"
                    >
                        <div
                            class="text-[#000000] font-semibold text-sm md:text-base lg:text-lg"
                        >
                            Marketing Module
                        </div>
                        <Image
                            loading="eager"
                            :class="accordion !== 2 ? 'block' : 'hidden'"
                            src={down_arrow}
                            alt="down-arrow"
                        />
                        <Image
                            loading="eager"
                            :class="accordion === 2 ? 'block' : 'hidden'"
                            src={up_arrow}
                            alt="up-arrow"
                        />
                    </div>
                    <div
                        class="overflow-hidden bg-white rounded-b-[10px]"
                        :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
                    >
                        <div
                            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-5"
                        >
                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Lead Capture
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system monitors incoming leads,
                                        storing them in the CRM and segmenting
                                        them based on predefined criteria (e.g.,
                                        location, property type, budget).
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Email Campaigns
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The marketing manager can create and
                                        design email campaigns. They can choose
                                        target recipients and their preferences.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Automated Follow-Ups
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The marketing manager can set up
                                        automated follow-up emails triggered by
                                        lead actions, such as property views or
                                        clicks.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Property Listings
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system matches property listings
                                        with leads' preferences. Property
                                        updates and new listings are
                                        automatically sent to leads.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Behavior Tracking
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system tracks lead interactions with
                                        emails, website visits, and property
                                        views. The data is stored for further
                                        customizations.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Lead Scoring
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system assigns scores to leads based
                                        on engagement level, actions taken, and
                                        demographic data.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Property Portal Integration
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system captures leads from different
                                        property portals and stores them in the
                                        CRM.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Social Media Integration
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The marketing manager can automate
                                        property listings and updates on social
                                        media platforms. They can even engage
                                        with leads through automated responses.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        WhatsApp and SMS Marketing
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can send property
                                        brochures via WhatsApp and other crucial
                                        information via SMS and WhatsApp.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Multi-channel marketing campaigns
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The marketing manager can integrate
                                        WhatsApp and SMS messages into
                                        multi-channel marketing campaigns.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white rounded-2xl">
                    <div
                        class="flex justify-between p-4 cursor-pointer"
                        @click="accordion = accordion == 3 ? 0 : 3"
                    >
                        <div
                            class="text-[#000000] font-semibold text-sm md:text-base lg:text-lg"
                        >
                            Sales Module
                        </div>
                        <Image
                            loading="eager"
                            :class="accordion !== 3 ? 'block' : 'hidden'"
                            src={down_arrow}
                            alt="down-arrow"
                        />
                        <Image
                            loading="eager"
                            :class="accordion === 3 ? 'block' : 'hidden'"
                            src={up_arrow}
                            alt="up-arrow"
                        />
                    </div>
                    <div
                        class="overflow-hidden bg-white rounded-b-[10px]"
                        :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
                    >
                        <div
                            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-5"
                        >
                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Lead Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system captures and stores lead from
                                        various sources and even priotize them
                                        based on scores, engagement, and
                                        demographics.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Lead Assignment
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system automatically assigns leads
                                        to agents or sales representatives based
                                        on predefined criteria.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Contact Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can maintain a
                                        comprehensive database of contacts,
                                        including buyers, sellers, investors,
                                        and other stakeholders.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Pipeline Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The sales manager can manage sales
                                        pipelines that reflect the stages of the
                                        real estate sales process, from lead to
                                        closing, and can even track the
                                        progress.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Quoting Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can generate and
                                        manage sales quotes and proposals for
                                        diverse prospects.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Territory Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The sales manager can define, and manage
                                        sales territories and assign sales
                                        representatives accordingly.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Call Integration
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can make calls
                                        from the CRM system with click-to-call
                                        functionality, call recording, and call
                                        history tracking.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Property Tracking
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can keep track of
                                        available properties, including details
                                        like property type, location, features,
                                        price, and status
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Task and Activity Tracking
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can schedule and
                                        manage tasks, appointments, follow-ups,
                                        and reminders within the Frappe CRM.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Site Visit Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can keep track of
                                        which properties clients have visited,
                                        when they visited, and their feedback on
                                        the same as well to get a better idea.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Real-Time Updates
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The system sends real-time updates to
                                        field agents about upcoming customer
                                        visits, so they can prepare for customer
                                        visits and provide better service.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Document Management
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Sales representatives can store and
                                        organize important documents, such as
                                        contracts, agreements, property
                                        documents, and client paperwork.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Forecasting and Goal Tracking
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        The sales manager can set sales targets
                                        for agents and track progress toward
                                        achieving them for better management and
                                        achievement of goals.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Commission Tracking
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        the CRM system calculates and tracks
                                        commissions for agents based on closed
                                        deals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white rounded-2xl">
                    <div
                        class="flex justify-between p-4 cursor-pointer"
                        @click="accordion = accordion == 4 ? 0: 4"
                    >
                        <div
                            class="text-[#000000] font-semibold text-sm md:text-base lg:text-lg"
                        >
                            Report
                        </div>
                        <Image
                            loading="eager"
                            :class="accordion !== 4 ? 'block' : 'hidden'"
                            src={down_arrow}
                            alt="down-arrow"
                        />
                        <Image
                            loading="eager"
                            :class="accordion === 4 ? 'block' : 'hidden'"
                            src={up_arrow}
                            alt="up-arrow"
                        />
                    </div>
                    <div
                        class="overflow-hidden bg-white rounded-b-[10px]"
                        :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
                    >
                        <div
                            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-5"
                        >
                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Lead Conversion Analysis
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        You can get a lead conversion report
                                        showing the number of leads generated
                                        from different sources and how many of
                                        them progressed to become clients or
                                        closed deals. Include a conversion rate
                                        analysis.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Marketing Campaign ROI
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        You can easily generate an ROI report
                                        that compares the total cost of each
                                        marketing campaign with the revenue
                                        generated from leads generated by those
                                        campaigns.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Property Performance Analysis
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Get an end-to-end property performance
                                        dashboard that includes metrics like the
                                        number of property views, inquiries,
                                        offers received, and average time on the
                                        market for each property listing.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Agent/Productivity Metrics
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Get individual agent performance
                                        reports, including lead conversion
                                        rates, the number of deals closed, and
                                        response times to inquiries. Compare
                                        performance across agents and teams.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Sales Forecasting
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Get a sales forecasting model that uses
                                        historical data and trends to provide
                                        estimates of future sales, helping to
                                        plan resources and set realistic
                                        targets.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Site Visit Analysis
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        You can create a site visit analysis
                                        report that includes data on which
                                        properties are most visited, the average
                                        duration of visits, and feedback from
                                        site visitors.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Goal Tracking
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Set and track their goals within the
                                        CRM. Provide goal-tracking reports that
                                        show progress over time and allow for
                                        adjustments.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Territory Performance Analysis
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Generate territory performance reports
                                        with data on leads generated,
                                        conversions, and revenue within each
                                        territory. Visualize performance trends
                                        and allocate resources accordingly.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Call Analytics
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Get call analytics reports with metrics
                                        such as call volume, average call
                                        duration, and outcomes (e.g.,
                                        appointment scheduled, lead generated).
                                        Identify peak calling times and agent
                                        performance.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Price Trend Analysis
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Easily create price trend reports that
                                        show historical and current price trends
                                        for specific property types or
                                        locations. Make pricing decisions based
                                        on market fluctuations.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Multi-Channel Marketing Analysis
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Analyze the performance of marketing
                                        campaigns across different channels,
                                        including social media, email, and
                                        online advertising. Show which channels
                                        yield the highest ROI and engagement.
                                    </p>
                                </div>
                            </div>

                            <div class="bg-box">
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] font-semibold text-xs md:text-sm lg:text-base"
                                    >
                                        Customer Journey Mapping
                                    </p>
                                </div>
                                <hr class="bg-[#C2B9A4] lg:h-[2px]" />
                                <div class="p-2 md:p-3">
                                    <p
                                        class="text-[#31393C] text-xs md:text-sm lg:text-base"
                                    >
                                        Create customer journey maps that
                                        visualize the steps clients take from
                                        initial contact to closing a deal.
                                        Identify touchpoints and opportunities
                                        for personalized interactions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Functionalities Unlocked of our CRM for Real-Estate Industry! End -->

    <!-- Contact our sales team now! Start -->
    <section class="section-bg-left_shadow">
        <section class="py-[2rem] md:py-[0rem] lg:py-[0rem]">
            <!-- for lg screen start -->
            <div class="hidden lg:block md:max-w-7xl md:mx-auto md:px-24">
                <div
                    class="bg-partner bg-cover bg-no-repeat bg-center md:bg-contain md:bg-right h-96 grid p-24 pt-24 items-center"
                >
                    <h2
                        class="w-10/12 pr-16 lg:text-2xl lg:leading-[2rem] xl:leading-[2.5rem] text-white font-semibold"
                    >
                        Leads, Marketing, Reports & everything beyond. Customize
                        it with our CRM for your real estate business.
                    </h2>
                    <div
                        class="text-white text-base font-semibold flex items-center gap-3 lg:-mt-20 xl:-mt-16 font-inter"
                    >
                        <div
                            class="flex justify-between bg-white rounded-lg lg:px-4 xl:px-5 py-2 w-[18rem] mt-7"
                        >
                            <a
                                href="/contact-us?page=real-estate-crm"
                                class="text-[#3E96F4] font-semibold text-base font-inter"
                                >Contact our sales team now!</a
                            >
                            <Image
                                loading="eager"
                                src={right_arrow}
                                alt="right_arrow"
                                width={6}
                                height={12}
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- for lg screen end -->

            <!-- for sm & md screen start -->
            <div
                class="block lg:hidden md:max-w-7xl md:mx-auto md:px-24 bg-[#3E96F4] pb-10"
            >
                <div class="mx-5">
                    <Image loading="eager" src={cta_mobile} alt="cta-mobile" />
                    <h2
                        class="text-xl md:text-2xl lg:text-3xl !leading-[1.75rem] md:!leading-[2rem] text-white font-semibold"
                    >
                        Leads, Marketing, Reports & everything beyond. Customize
                        it with our CRM for your real estate business.
                    </h2>
                    <div
                        class="text-white text-base font-semibold flex items-center gap-3 mt-3 md:mt-5 font-inter"
                    >
                        <div
                            class="flex justify-between bg-white rounded-lg px-4 py-2 w-[18rem]"
                        >
                            <a
                                href="/contact-us?page=real-estate-crm"
                                class="text-[#3E96F4] font-semibold text-base font-inter"
                                >Contact our sales team now!</a
                            >
                            <Image
                                loading="eager"
                                src={right_arrow}
                                alt="Drive To Innovation"
                                width={6}
                                height={12}
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- for sm & md screen end -->
        </section>
    </section>
    <!-- Contact our sales team now! End -->

    <!-- Who can leverage this CRM Product? Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <h2
            class="mx-auto text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
        >
            Who can leverage this CRM Product?
        </h2>

        <div class="mt-5">
            <p
                class="text-[#31393C] text-xs md:text-sm lg:text-base text-center"
            >
                Sanskar Technolabs Real-Estate CRM software is
                a versatile solution that can be beneficial <br
                    class="hidden lg:block"
                /> for various types of real estate businesses.
            </p>
        </div>

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-10 lg:gap-0 text-[#31393C] mt-10 md:mt-12 lg:mt-20"
        >
            <div class="flex flex-wrap gap-4">
                <Image
                    loading="eager"
                    src={crm_page_real_estat_agencies}
                    alt="crm_page_real_estat_agencies"
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Real Estate Agencies:
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Real estate agencies, whether in commercial or
                        residential, and also both can use this CRM to
                        streamline their operations by efficiently managing
                        leads, appointments, and communication with clients.
                        They can track lead sources, assign leads, monitor lead
                        progress through the sales pipeline, and ensure a
                        personalized and efficient client journey.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4">
                <Image
                    loading="eager"
                    src={crm_page_property_developers}
                    alt="crm_page_property_developers"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Property Developers:
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Property developers can also leverage the CRM to manage
                        and market their real estate developments. They can keep
                        property details organized, track site visits, and
                        effectively engage with potential buyers. Additionally,
                        the CRM provides tools for managing leads generated from
                        marketing campaigns and other things in mind as well.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_real_estate_brokerages}
                    alt="crm_page_real_estate_brokerages"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Real Estate Brokerages:
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        This CRM can also be used by real estate
                        brokerages to enhance their lead management and agent
                        productivity by using this CRM. It allows them to
                        efficiently assign leads to agents based on predefined
                        criteria and optimize the entire sales process.
                        Furthermore, the CRM's reporting and analytics can help
                        brokerages monitor diverse agents performance and their
                        brokerages based on sales and conversions.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_property_rental_agencies}
                    alt="crm_page_property_rental_agencies"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Property Rental Agencies:
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Property rental agencies can use the CRM to streamline
                        inquiries related to rental properties. They can manage
                        and organize rental property details, schedule site
                        visits, and facilitate communication between renters and
                        property owners. The CRM can also be used to engage
                        potential renters through marketing campaigns.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_individual_agents}
                    alt="crm_page_individual_agents"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 lg:w-2/12 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Individual Real Estate Agents:
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Independent real estate agents can even manage their
                        leads, appointments, and marketing efforts more
                        effectively using this CRM. It offers lead management
                        tools, automated follow-ups, and the ability to
                        integrate communication channels like WhatsApp, calling,
                        email, and SMS. This allows individual agents to provide
                        a higher level of service to their clients.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_real_estate_investors}
                    alt="crm_page_real_estate_investors "
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Real Estate Investors:
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Real estate investors can benefit from the CRM by
                        tracking their investments, analyzing property
                        performance, and engaging with potential buyers or
                        renters. The software helps investors make data-driven
                        decisions by providing insights into property trends and
                        performance.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Who can leverage this CRM Product? End -->

    <!-- What Sanskar technolabs Start -->
    <section
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <h2
            class="mx-auto text-center text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
        >
            What Sanskar technolabs do differently to develop this <br
                class="hidden lg:block"
            /> CRM product for Real-Estate Business?
        </h2>

        <div class="mt-5">
            <p
                class="text-[#31393C] text-xs md:text-sm lg:text-base text-center"
            >
                Sanskar Technolabs has set itself apart in the development of
                its CRM product for real estate businesses by <br
                    class="hidden lg:block"
                /> implementing a range of innovative approaches and industry-focused
                strategies.
            </p>

            <p
                class="text-[#31393C] text-xs md:text-sm lg:text-base text-center font-semibold mt-5"
            >
                Here are some of the ones we implemented:
            </p>
        </div>

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-10 lg:gap-0 text-[#31393C] mt-10 md:mt-12 lg:mt-20"
        >
            <div class="flex flex-wrap gap-4">
                <Image
                    loading="eager"
                    src={crm_page_customization}
                    alt="crm_page_customization"
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Customization for the Win
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Sanskar Technolabs understands that the real estate
                        industry is highly diverse, with different types of
                        businesses having unique needs. To address this, we have
                        designed the CRM to be highly customizable to meet the
                        specific requirements of different real estate
                        companies, enabling them to mold the CRM as per their
                        workflows and processes.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4">
                <Image
                    loading="eager"
                    src={crm_page_indepth}
                    alt="crm_page_indepth"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        In-depth Understanding of Industry Challenges
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        The team at Sanskar Technolabs has gained first-hand
                        experience and insights into the challenges that real
                        estate businesses face. This comprehensive knowledge and
                        insights have helped our team create a CRM that
                        addresses these challenges directly, ensuring that the
                        product is highly relevant and effective for real estate
                        businesses.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_focus}
                    alt="crm_page_focus"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-14 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Focus on Cost-Savings and Enhanced Customer Experience
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        Real estate companies usually deal with high operational
                        and marketing costs. Sanskar Technolabs has designed the
                        CRM with a focus on cost-savings by automating many
                        manual and time-consuming tasks. By streamlining
                        processes, the CRM not only saves money but also
                        enhances the customer experience.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_keeping}
                    alt="crm_page_keeping"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Keeping Up with Development Trends
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        To create a CRM that is both current and future-ready,
                        Sanskar Technolabs has continuously updated and evolved
                        its product in line with the latest development
                        trends and best coding practices. This commitment to
                        staying up-to-date ensures that the CRM remains
                        technologically relevant and secure.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_user_centric}
                    alt="crm_page_user_centric"
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 lg:w-2/12 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        User-Centric Design
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        The CRM is designed with a strong focus on the user
                        experience. Sanskar Technolabs has paid close attention
                        to user-friendly interfaces, intuitive navigation, and
                        efficient workflows to ensure that the software is not
                        only powerful but also easy to use. This, in turn,
                        increases user adoption and overall productivity.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap gap-4 lg:mt-10">
                <Image
                    loading="eager"
                    src={crm_page_integration}
                    alt="crm_page_integration "
                    width={64}
                    height={64}
                    class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                />
                <div class="w-full md:w-9/12">
                    <div
                        class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
                    >
                        Integration Capabilities
                    </div>
                    <p class="text-xs md:text-sm lg:text-base">
                        The CRM has been designed with the ability to integrate
                        with various external systems, allowing real estate
                        companies to connect their CRM with other tools and
                        platforms they use in their daily operations. This
                        integration helps to centralize data and streamline
                        processes.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- What Sanskar technolabs Start -->
</Layout>

<style>
    .real_time_benifits_card {
        border-radius: 10px;
        border: 2px solid #fff;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
        box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }

    .bg-partner {
        background-image: url("../../public/Images/join-hand.svg");
    }

    .bg-box {
        border-radius: 10px;
        border: 2px solid #fff;
        background: linear-gradient(135deg, #fff7e5 0%, #fff 100%);
        box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }

    .section-bg-center {
        position: relative;
    }

    .section-bg-center::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 120rem;
        background-image: radial-gradient(
            rgba(62, 150, 244, 0.1),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        z-index: -1;
        margin-top: 10rem;
    }

    .section-bg-left_shadow {
        position: relative;
    }

    .section-bg-left_shadow::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100rem;
        background-image: radial-gradient(
            ellipse at left,
            rgba(62, 150, 244, 0.2),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        z-index: -1;
        margin-top: 60rem;
    }

    .section-bg-right::before {
        content: "";
        position: absolute;
        width: 100%;

        height: 120rem;
        background-image: radial-gradient(
            ellipse at right,
            rgba(62, 150, 244, 0.2),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        z-index: -1;
    }

    @media (max-width: 640px) {
        .section-bg-right::before {
            content: "";
            position: absolute;
            width: 100%;

            height: 0;
            background-image: radial-gradient(
                ellipse at right,
                rgba(62, 150, 244, 0.1),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            );
            z-index: -1;
        }
    }
</style>

<style>
    .image-container {
        display: none;
    }

    .active {
        display: block;
    }

    /* Add any other styling you need */
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const divs = document.querySelectorAll(".clickable-div");
        const images = document.querySelectorAll(".image-container");

        // Show the first image by default
        images[0].classList.add("active");

        divs.forEach((div, index) => {
            div.addEventListener("click", function () {
                // Hide all images
                images.forEach((image) => {
                    image.classList.remove("active");
                });

                // Show the clicked image
                images[index].classList.add("active");
            });
        });
    });
</script>