---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import choose_erpnext_banner from "../../public/Images/choose-erpnext-banner.svg";


import reason1 from "../../public/Images/reason1.svg";

import cta_mobile from "../../public/Images/cta-mobile.svg";
import right_arrow from "../../public/Images/right-arrow.svg";

import agile_ERP from "../../public/Images/agile_ERP.svg";

import framework from "../../public/Images/framework.svg";
import api_first from "../../public/Images/api_first.svg";
import ready_integration from "../../public/Images/ready_integration.svg";
import scalable_r_2 from "../../public/Images/scalable_r_2.svg";

import user_friendly from "../../public/Images/user_friendly.svg";
import integrated_crm_r6 from "../../public/Images/integrated_crm_r6.svg";
import integration_capabilities_r6 from "../../public/Images/integration_capabilities_r6.svg";
import loved_by_user from "../../public/Images/loved_by_user.svg";

import eric_kimberlerg from "../../public/Images/eric_kimberlerg.svg";
import deepak_ingle from "../../public/Images/deepak_ingle.svg";
import reliance_industries from "../../public/Images/reliance_industries.svg";
import geoffrey_karani from "../../public/Images/geoffrey_karani.svg";
import seibert_media from "../../public/Images/seibert_media.svg";
import kailash_nath from "../../public/Images/kailash_nath.svg";
import zerodhaa from "../../public/Images/zerodhaa.svg";

import mobile_accessibility from "../../public/Images/mobile_accessibility.svg";
import multi_currency from "../../public/Images/multi_currency.svg";
import real_time_analytics from "../../public/Images/real_time_analytics.svg";
import security_features from "../../public/Images/security_features.svg";
import supplier_customer_portals from "../../public/Images/supplier_customer_portals.svg";
import workflow_automation from "../../public/Images/workflow_automation.svg";

import costing_varied_pricing_plans from "../../public/Images/costing_varied_pricing_plans.svg";
import experienced_team from "../../public/Images/experienced_team.svg";
import highly_customize from "../../public/Images/highly_customize.svg";
import latest_trends_practices from "../../public/Images/latest_trends_practices.svg";
import serving_various_industries from "../../public/Images/serving_various_industries.svg";
import support_training from "../../public/Images/support_training.svg";
import gartner_logo from "../../public/Images/gartner_logo.svg";
import get_app_logo from "../../public/Images/get_app_logo.svg"; 
---

<Layout
  title=" Why Choose ERPNext Page | Sanskar Technolab"
  ,
  keyword="Open source, customization, cost-effective, Comprehensive, User-friendly, easy adoption, Scalable, Community support, collaborative, Cloud, on-premises, flexibility, modular, efficient, Affordable, no licensing fees, SME-friendly"
  ,
  description="Why Should You Choose ERPNext? Learn how ERPNext streamlines business processes, enhances efficiency, and ensures smooth operations."
  ,
  canonical_href="https://sanskartechnolab.com/why-choose-erpnext"
>
  <!-- Banner Section -->
  <section
    class="hidden lg:block section-bg h-auto xl:h-[80vh] 2xl:h-[75vh] flex flex-col items-center banner-bg"
  >
    <div
      class="items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex flex-col h-full relative"
    >
      <div class="flex-grow">
        <div
          class="flex flex-col items-center justify-center mt-10 xl:mt-16 mb-10 flex-grow"
        >
          <h1
            class="text-[1.75rem] lg:text-[2.75rem] xl:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold text-center"
          >
            <span class="text-[#0089FF] font-bold">ERPNext</span> : The top 1% ERP
            in the market!
          </h1>
          <p
            class="text-[#31393C] text-base md:text-lg leading-5 md:leading-6 mt-5 text-center"
          >
            Simplify, Optimize & Prosper: Leverage the ERPNext Advantage for
            Your Business!
          </p>
        </div>
      </div>

      <Image
        loading="eager"
        src={choose_erpnext_banner}
        alt="Choose Erpnext Banner"
        class="w-full h-auto"
        width={1114}
        height={410}
      />
    </div>
  </section>

 <!-- lg screen  -->
  <section class="hidden lg:block">
  <section class="bg-[#3E96F4] lg:h-48 flex justify-center items-center">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="grid grid-cols-2">
        <div class="flex items-center"> <!-- Adjusted -->
          <div>
            <Image loading="eager" src={gartner_logo} alt="gartner_logo" />
          </div>
          <div class="font-bold lg:text-2xl  text-[#FFFFFF] ml-5">
            Gartner rates ERPNext as <br/> among the top 5 ERP system! <br />
            <span
              ><a class="underline underline-offset-1 text-base" href="https://www.gartner.com/en/research/magic-quadrant"
                >View Report</a
              ></span>
          </div>
        </div>
        <div class="flex items-center">
          <div>
            <Image loading="eager" src={get_app_logo} alt="get_app_logo" />
          </div>
          <div class="font-bold text-2xl text-[#FFFFFF] ml-5">
            ERPNext has been rated as a Category Leader by GetApp.
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
 

  

  <section
    class="md:block lg:hidden section-bg h-auto xl:h-[80vh] 2xl:h-[75vh] flex flex-col items-center banner-bg"
  >
    <div
      class="items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex flex-col h-full relative"
    >
      <div class="flex-grow">
        <div
          class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] mt-5 md:mt-10 text-[#31393C] font-semibold"
        >
          <span class="text-[#0089FF] font-bold">ERPNext</span> : The top 1% ERP
          in the market!
        </div>
        <p
          class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-3 md:mt-5 mb-10"
        >
          Simplify, Optimize & Prosper: Leverage the ERPNext Advantage for Your
          Business!
        </p>
      </div>

      <Image
        loading="eager"
        src={choose_erpnext_banner}
        alt="Choose Erpnext Banner"
        class="banner-image w-full"
        width={1114}
        height={410}
      />
    </div>
  </section>

   <!-- md screen  -->

<section class="hidden lg:hidden md:block">
  <section class="bg-[#3E96F4] h-28 flex justify-center items-center">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24">
      <div class="grid grid-cols-2">
        <div class="flex items-center"> <!-- Adjusted -->
          <div>
            <Image loading="eager" src={gartner_logo} alt="gartner_logo" />
          </div>
          <div class="font-bold text-sm  text-[#FFFFFF] ml-5">
            Gartner rates ERPNext as among the top 5 ERP system! <br />
            <span
              ><a class="underline underline-offset-1 text-xs" href="https://www.gartner.com/en/research/magic-quadrant"
                >View Report</a
              ></span>
          </div>
        </div>
        <div class="flex items-center"> <!-- Adjusted -->
          <div>
            <Image loading="eager" src={get_app_logo} alt="get_app_logo" />
          </div>
          <div class="font-bold text-sm text-[#FFFFFF] ml-5">
            ERPNext has been rated as a Category Leader by GetApp.
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

 <!-- sm screen -->

<section class="md:hidden block">
  <section class="bg-[#3E96F4] h-16 flex justify-center items-center">
    <div class="mx-5 ">
      <div class="grid grid-cols-2">
        <div class="flex items-center"> <!-- Adjusted -->
          <div>
            <Image loading="eager" src={gartner_logo} alt="gartner_logo" />
          </div>
          <div class="font-bold text-[8px]  text-[#FFFFFF] ml-2">
            Gartner rates ERPNext as among the top 5 ERP system! <br />
            <span
              ><a class="underline underline-offset-1 text-[6px]" href="https://www.gartner.com/en/research/magic-quadrant"
                >View Report</a
              ></span>
          </div>
        </div>
        <div class="flex items-center ml-4"> <!-- Adjusted -->
          <div>
            <Image loading="eager" src={get_app_logo} alt="get_app_logo" />
          </div>
          <div class="font-bold text-[8px] text-[#FFFFFF] ml-2">
            ERPNext has been rated as a Category Leader by GetApp.
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
  

  <!-- Most Agile Erp Start -->
  <section class="py-[2rem] md:py-[3rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="md:text-center sm:text-left mb-0 md:mb-5">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] text-[#3E96F4] font-bold"
        >
          The most agile ERP on the planet
        </h2>
        <p class="text-xs md:text-sm lg:text-lg font-semibold mt-3 2xl:mx-72">
          ERPNext is the world's best free and open source ERP.
        </p>
      </div>
      <div class="flex justify-center">
        <Image
          loading="eager"
          class="mt-4 md:mt-6 lg:mt-10 mx-auto"
          src={agile_ERP}
          alt="agile_ERP"
        />
      </div>
    </div>

    <!-- Why Choose ERPNext instead of other ERPs? -->
    
    <section class="py-[2rem] md:py-[2rem] lg:py-[4rem] md:pt-[3rem] lg:pt-[7rem]">
      <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
        <div class="md:text-center sm:text-left mb-0 md:mb-5">
          <h2
            class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] text-[#3E96F4] font-bold"
          >
            Why Choose ERPNext instead of other ERPs?
          </h2>
          <h2
            class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] text-[#31393C] font-bold"
          >
            Reasons Explained.
          </h2>
        </div>
    

        <!-- reason 1 -->
    
        <div class="lg:flex  lg:mt-20 md:mt-14 mt-7">
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 1:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Open Source and Pocket Friendly
            </p>
            <p class="md:text-lg text-sm mt-2">
              ERPNext is an open source software, which refers to the fact that
              the source code is available to <br class="hidden lg:block" /> anyone
              who wishes to use it and inspect it, <span class="font-bold"
                >No license required like SAP.</span
              >
            </p>
            <Image
              loading="eager"
              src={reason1}
              alt="reason1"
              class="banner-image w-full md:mt-7 mt-4"
            />
          </div>
        </div>
   

        <!-- reason 2  -->

       
        <div class="lg:flex lg:mt-20 md:mt-14 mt-7">
          <div class="basis-1/4"></div>
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 2:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Frappe Framework
            </p>
            <p class="md:text-lg text-sm mt-2">
              Frappe Framework, on which the ERPNext is built, is a versatile
              and robust web application <br class="hidden lg:block" /> framework.
              It provides a foundational base for developing custom web applications.
              <span class="font-bold"
                >ERPNext <br class="hidden lg:block" /> uses JavaScript for its frontend
                and Python for the Backend.</span
              >
            </p>
            <div class="grid md:grid-cols-2 grid-cols-1 gap-10">
              <div class="flex mt-9">
                <Image
                  loading="eager"
                  class="sm:w-auto self-start mr-7"
                  src={framework}
                  alt="industry-rich"
                />
                <div>
                  <p class="text-base md:text-lg lg:text-xl font-semibold mb-2">
                    Framework
                  </p>
                  <p class="text-sm md:text-sm lg:text-base">
                    Low code, open source, web framework in <br
                      class="hidden lg:block"
                    /> Python and Javascript for the 21st century
                  </p>
                </div>
              </div>
              <div class="flex md:mt-9">
                <Image
                  loading="eager"
                  class="sm:w-auto self-start mr-7"
                  src={api_first}
                  alt="api_first"
                />
                <div>
                  <p class="text-base md:text-lg lg:text-xl font-semibold mb-2">
                    API-First
                  </p>
                  <p class="text-sm md:text-sm lg:text-base">
                    Frappe products prioritize API accessibility, <br
                      class="hidden lg:block"
                    /> enabling ease of integrations with external <br
                      class="hidden lg:block"
                    /> systems
                  </p>
                </div>
              </div>
              <div class="flex">
                <Image
                  loading="eager"
                  class="sm:w-auto self-start mr-7"
                  src={ready_integration}
                  alt="ready_integration"
                />
                <div>
                  <p class="text-base md:text-lg lg:text-xl font-semibold mb-2">
                    Ready Integrations
                  </p>
                  <p class="text-sm md:text-sm lg:text-base">
                    Frappe comes with 130+ out of the box <br
                      class="hidden lg:block"
                    /> integrations with banks, messaging apps, <br
                      class="hidden lg:block"
                    /> e-commerce apps like shopify and more
                  </p>
                </div>
              </div>
              <div class="flex">
                <Image
                  loading="eager"
                  class="sm:w-auto self-start mr-7"
                  src={scalable_r_2}
                  alt="scalable_r_2"
                />
                <div>
                  <p class="text-base md:text-lg lg:text-xl font-semibold mb-2">
                    Scalable
                  </p>
                  <p class="text-sm md:text-sm lg:text-base">
                    Interoperable nature allows for effortless <br
                      class="hidden lg:block"
                    /> scalability to accommodate growth and <br
                      class="hidden lg:block"
                    /> increased demand
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    

        <!-- reason 3 -->
        
       
        <div class="lg:flex lg:mt-20 md:mt-14 mt-7">
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 3:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Easily Customizable / Scalable
            </p>
            <p class="md:text-lg text-sm mt-2">
              The most standout feature of ERPNext is its ability to be
              customized. This feature is important <br
                class="hidden lg:block"
              /> because all businesses have unique processes / requirements. ERPNext’s
              architecture makes it <br class="hidden lg:block" />
              easier to handle large volumes of data of mid size cos.
            </p>
          </div>
        </div>
   
     

        <!-- reason 4 -->
    
         
        <div class="lg:flex lg:mt-20 md:mt-14 mt-7">
          <div class="basis-1/4"></div>
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 4:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              User Friendly Interface
            </p>
            <p class="md:text-lg text-sm mt-2">
              Usability is the success defining factor of any ERP
              Implementation. ERPNext is well known for its <br
                class="hidden lg:block"
              /> User-Friendly interface that is easy to navigate.
            </p>
            <Image
              loading="eager"
              src={user_friendly}
              alt="user_friendly"
              class="banner-image w-full md:mt-7 mt-4"
            />
          </div>
        </div>
    
   

        <!-- reason 5 -->
    
        <div class="lg:flex lg:mt-20 md:mt-14 mt-7">
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 5:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Integrated CRM & Business Functions
            </p>
            <p class="md:text-lg text-sm mt-2">
              CRM is a vital aspect of any modern business operations. ERPNext
              comes with an <span class="font-bold"
                >integrated <br class="hidden lg:block" /> CRM</span
              > module, allowing you to manage customer interactions, sales leads,
              and customer support, <br class="hidden lg:block" />
              seamlessly within the system. Also it helps in streamlining and managing
              processes such as <br class="hidden lg:block" /> Accounts, Inventory,
              Sales, HR, Payroll.
            </p>
            <Image
              loading="eager"
              src={integrated_crm_r6}
              alt="integrated_crm_r6"
              class="banner-image w-full md:mt-7 mt-4"
            />
          </div>
        </div>
      
      

        <!-- reason 6 -->

        <div class="lg:flex lg:mt-20 md:mt-14 mt-7 ">
          <div class="basis-1/4"></div>
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 6:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Integration Capabilities
            </p>
            <p class="md:text-lg text-sm mt-2">
              ERPNext provides smooth integration capabilities, allowing you to
              connect with other essential <br class="hidden lg:block" /> tools such
              as e-commerce platforms, payment gateways, and so much more.
            </p>
            <Image
              loading="eager"
              src={integration_capabilities_r6}
              alt="integration_capabilities_r6"
              class="banner-image w-full md:mt-7 mt-4"
            />
          </div>
        </div>
      

        <!-- reason 7 -->
        <div class="lg:flex lg:mt-20 md:mt-14 mt-7">
          <div class="basis-9/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 7:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Cloud Hosting and Scalability
            </p>
            <p class="md:text-lg text-sm mt-2">
              The parent of ERPNext- Frappe- also provides you with the
              flexibility of Cloud Hosting. Whether <br
                class="hidden lg:block"
              /> you are a small startup or a large enterprise, ERPNext can simply
              accommodate your needs. You <br class="hidden lg:block" />
              can start with a minimal setup and then scale up as your business grows.
            </p>
          </div>
        </div>
     

        <!-- reason 8  -->
   
        <div class="lg:flex lg:mt-20 md:mt-14 mt-7">
          <div class="basis-1/4"></div>
          <div class="basis-8/12">
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 8:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Active Community and Local Support
            </p>
            <p class="md:text-lg text-sm mt-2">
              ERPNext has a thriving Global Community of developers, functional
              experts and users, who <br class="hidden lg:block" /> ensure that the
              system is continuously updated and improved, bugs are being addressed,
              and <br class="hidden lg:block" /> new features have been added and
              updated
            </p>
          </div>
        </div>
     

        <!-- reason 9  -->
       
        <div class="lg:mt-20 md:mt-14 mt-7">
          <div>
            <h3 class="text-[#31393C] font-bold md:text-xl text-lg">
              Reason 9:
            </h3>
            <p class="text-[#3E96F4] font-bold md:text-2xl text-xl">
              Loved by users
            </p>
            <p class="md:text-lg text-sm mt-2">
              more than 10,000 companies across the world are leveraging ERPNext
              for their manufacturing operations!
            </p>
            <Image
              loading="eager"
              src={loved_by_user}
              alt="loved_by_user"
              class="banner-image w-full md:mt-7 mt-4"
            />
          </div>
        </div>
    
      </div>
   </section>

    
 

  <!-- Top Industry Expert  -->
  <section class="section-bg-right1">
  <section>
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="md:text-center sm:text-left mb-0 md:mb-5">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] text-[#31393C] font-bold"
        >
          Don’t believe us.
        </h2>
        <h2
          class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] text-[#3E96F4] font-bold"
        >
          Hear from the top Industry Experts!
        </h2>
        <p class="md:text-center mt-3 md:text-lg text-sm">
          Top industry professionals from zerodha and reliance industries along
          with some <br class="hidden lg:block" /> professional individual ERP conslotants
          share why ERPNext is best.
        </p>
      </div>
   

      <!-- Eric Kimberlerg -->

      <div class="md:flex md:mt-16 mt-10">
        <div class="lg:basis-8/12">
          <iframe
            class="w-full lg:h-[30rem] md:h-[25rem] h-60"
            src="https://www.youtube.com/embed/s6zISBBRSQg"
            title="YouTube Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="md:flex md:mt-8 mt-4">
            <div>
              <Image
                loading="eager"
                src={eric_kimberlerg}
                alt="eric_kimberlerg"
                class="banner-image"
              />
              <p class="font-bold mt-3 md:text-lg text-sm">Eric Kimberlerg</p>
              <p class="md:text-lg text-sm">
                Independent <br /> thought leader
              </p>
            </div>
            <div class="lg:ml-10 md:ml-5 md:mt-0 mt-3">
              <p class="font-bold md:text-lg text-sm mb-2">
                Independent Review of ERPNext | Open Source ERP Software
              </p>
              <p class="md:text-lg text-sm">
                Eric Kimberlerg is the top independent thought leader who talks
                about <br class="hidden lg:block" /> digital transformation and diverse
                digital development platform. This time <br
                  class="hidden lg:block"
                /> around, he reviewed ERPNext. According to him, ERPNext is one
                of <br class="hidden lg:block" /> the popular and emerging ERP systems
                for small- and mid-size businesses. This <br
                  class="hidden lg:block"
                /> open source ERP solution can be a good alternative to NetSuite,
                Quickbooks,<br class="hidden lg:block" /> Odoo, and other ERP systems.
                Let’s find out what he has to say about this <br
                  class="hidden lg:block"
                /> open-source ERP.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Deepak Ingle  -->

      <div class="md:flex md:mt-16 mt-10">
        <div class="lg:basis-2/6"></div>
        <div class="lg:basis-8/12">
          <iframe
            class="w-full lg:h-[30rem] md:h-[25rem] h-60"
            src="https://www.youtube.com/embed/jnoWwSBDQlI"
            title="YouTube Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="md:flex md:mt-8 mt-4">
            <div>
              <Image
                loading="eager"
                src={deepak_ingle}
                alt="deepak_ingle"
                class="banner-image"
              />
              <p class="font-bold mt-3 md:text-lg text-sm">Deepak Ingle</p>
              <Image
                loading="eager"
                src={reliance_industries}
                alt="reliance_industries"
                class="banner-image mt-3"
              />
            </div>
            <div class="lg:ml-10 md:ml-10 md:mt-0 mt-3">
              <p class="font-bold md:text-lg text-sm mb-2">
                Interview with Deepak Ingle (Reliance Industries)
              </p>
              <p class="md:text-lg text-sm">
                Deepak Ingle, an assistant vice president at Reliance
                Industries. He is in <br class="hidden lg:block" /> charge of streamlining
                business operations by choosing the right <br
                  class="hidden lg:block"
                /> technologies. They have been asoaicted with SAP since past 22
                years. But, <br class="hidden lg:block" /> now they are looking to
                migrate to open-source and new-gen technology. <br
                  class="hidden lg:block"
                /> According to him, ERPNext is the future of ERP because it is feature-rich
                and <br class="hidden lg:block" />
                offers variety of built-in modules along with easy customizations,
                <br class="hidden lg:block" /> configurations and development.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Geoffrey Karani -->
      <div class="md:flex md:mt-16 mt-10">
        <div class="lg:basis-8/12">
          <iframe
            class="w-full lg:h-[30rem] md:h-[25rem] h-60"
            src="https://www.youtube.com/embed/Tgclr7xfChI"
            title="YouTube Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="md:flex md:mt-8 mt-4">
            <div>
              <Image
                loading="eager"
                src={geoffrey_karani}
                alt="geoffrey_karani"
                class="banner-image"
              />
              <p class="font-bold mt-3 md:text-lg text-sm">Geoffrey Karani</p>
              <p class="md:text-lg text-sm">
                leading software <br /> developer
              </p>
            </div>
            <div class="lg:ml-10 md:ml-5 md:mt-0 mt-3">
              <p class="font-bold md:text-lg text-sm mb-2">
                Why ERPNext is the best option for your Business
              </p>
              <p class="md:text-lg text-sm">
                Geoffrey Karani is the leading software developer, who reviews
                various <br class="hidden lg:block" /> software in his videos to
                guide users about the software, its benefits, why <br
                  class="hidden lg:block"
                /> they should use it and other relevant stuff to help other become
                the sort- <br class="hidden lg:block" /> after software developer.
                In above video, he discusses about ERPNext and <br
                  class="hidden lg:block"
                /> why this platform is growing in popularity since 2017. To know
                more about <br class="hidden lg:block" /> its benefits, its features
                & beyond, check out the full video.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- seibert media  -->
      <div class="md:flex md:mt-16 mt-8">
        <div class="lg:basis-2/6"></div>
        <div class="lg:basis-8/12">
          <iframe
            class="w-full lg:h-[30rem] md:h-[25rem] h-60"
            src="https://www.youtube.com/embed/fUWa9IxqEXc"
            title="YouTube Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="md:flex md:mt-8 mt-4">
            <div>
              <Image
                loading="eager"
                src={seibert_media}
                alt="seibert_media"
                class="banner-image"
              />
              <p class="font-bold mt-3 md:text-lg text-sm">Seibert Media</p>
            </div>
            <div class="lg:ml-10 md:ml-10 md:mt-0 mt-3">
              <p class="font-bold md:text-lg text-sm mb-2">
                Seibert Media - Journey with ERPNext
              </p>
              <p class="md:text-lg text-sm">
                Seibert Media is the leading software development company. When
                scaling <br class="hidden lg:block" /> thier company and growing
                employee base, they feel that their data is not <br
                  class="hidden lg:block"
                /> properly managed. They need the right ERP software to categorize
                and <br class="hidden lg:block" /> consolidate the data in an organized
                manner. This is where, they came <br class="hidden lg:block" /> across
                the ERPNext. They have chosen this ERP because of greater control
                <br class="hidden lg:block" /> over the system and higher customization
                options. To find out more about <br class="hidden lg:block" /> this
                ERP software from the user iteself, go through the full video.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Kailash nath  -->
      <div class="md:flex md:mt-16 mt-8">
        <div class="lg:basis-8/12">
          <iframe
            class="w-full lg:h-[30rem] md:h-[25rem] h-60"
            src="https://www.youtube.com/embed/4elpYxNVDck"
            title="YouTube Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="md:flex md:mt-8 mt-4">
            <div>
              <Image
                loading="eager"
                src={kailash_nath}
                alt="kailash_nath"
                class="banner-image"
              />
              <p class="font-bold mt-3 md:text-lg text-sm">Kailash Nath</p>
              <p class="md:text-lg text-sm">CTO of Zerodha</p>
              <Image
                loading="eager"
                src={zerodhaa}
                alt="zerodhaa"
                class="banner-image mt-4"
              />
            </div>
            <div class="lg:ml-10 md:ml-10 md:mt-0 mt-3">
              <p class="font-bold md:text-lg text-sm mb-2">
                What CTO of Zerodha thinks of ERPNext?
              </p>
              <p class="md:text-lg text-sm">
                Kailash Nath, CTO of Zerodha(India’s largest online trading
                platform) in talk <br class="hidden lg:block" /> with one of the frappe executive to discuss
                his thoughts on ERPNext. They <br class="hidden lg:block" /> are highly driven by the FOSS(Free
                & open-source) nature of ERPNext. <br class="hidden lg:block" /> According to him, ERPNext
                plays an integral role in journey and growth of <br class="hidden lg:block" /> Zerodha. They
                manage both the customer-centric and even internal <br class="hidden lg:block" /> processes
                through this ERP platform. To listn to full interview about his <br class="hidden lg:block" />
                ERPNext insights, check out the full video.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Schedule a free consultation call with our experts to find out more about this incredible ERP platform. -->
  <section class="py-[0rem] md:py-[2rem] pt-[2rem] md:pt-[4rem] lg:pt-[4rem]">
    <div class="hidden lg:block md:max-w-7xl md:mx-auto md:px-24">
      <div
        class="bg-partner bg-cover bg-no-repeat bg-center md:bg-contain md:bg-right h-96 grid p-16 pt-24 items-center"
      >
        <h2
          class="w-10/12 pr-16 lg:text-2xl xl:text-3xl lg:leading-[2rem] xl:leading-[2.5rem] text-white font-semibold"
        >
          Schedule a free consultation call with our experts to find out more
          about this incredible ERP platform.
        </h2>
        <div
          class="text-white text-base font-semibold flex items-center gap-3 lg:-mt-20 xl:-mt-16 font-inter"
        >
          <div
            class="flex justify-between bg-white rounded-lg lg:px-4 xl:px-5 py-2 w-56"
          >
            <a
              href="/contact-us?page=why-choose-erpnext"
              class="text-[#3E96F4] font-semibold text-base font-inter"
              >Connect now.</a
            >
            <Image
              loading="eager"
              src={right_arrow}
              alt="Drive To Innovation"
              width={6}
              height={12}
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="block lg:hidden md:max-w-7xl md:mx-auto md:px-24 bg-[#3E96F4] pb-10"
    >
      <div class="mx-5">
        <Image loading="eager" src={cta_mobile} alt="cta-mobile" />
        <h2
          class="text-xl md:text-2xl lg:text-3xl !leading-[1.75rem] md:!leading-[2rem] text-white font-semibold"
        >
          Schedule a free consultation call with our experts to find out more
          about this incredible ERP platform.
        </h2>
        <div
          class="text-white text-base font-semibold flex items-center gap-3 mt-3 md:mt-5 font-inter"
        >
          <div class="flex justify-between bg-white rounded-lg px-4 py-2 w-56">
            <a
              href="/contact-us?page=why-choose-erpnext"
              class="text-[#3E96F4] font-semibold text-base font-inter"
              >Connect now.</a
            >
            <Image
              loading="eager"
              src={right_arrow}
              alt="Drive To Innovation"
              width={6}
              height={12}
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Subtle Glimpses of some out-of-the-box features of ERPNext! -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 md:px-24 gap-10 text-center"
    >
      <div class="md:text-center text-left mb-0 md:mb-10 lg:mb-20">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] xl:mx-44 2xl:mx-72 !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] text-[#3E96F4] font-bold"
        >
          Subtle Glimpses of some out-of-the-box features of ERPNext!
        </h2>
      </div>
      <div
        class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 lg:gap-10 md:gap-5 gap-10 mt-0 sm:mt-10 md:mt-0 lg:mt-0 text-[#31393C] justify-items-center"
      >
        <div class="grid justify-items-center mt-8 sm:mt-0 md:mt-0 lg:mt-0">
          <Image
            loading="eager"
            src={mobile_accessibility}
            class="pb-1 md:pb-2 lg:pb-3"
            alt="Mobile Accessibility"
          />
          <div
            class="text-base md:text-lg lg:text-xl text-[#31393C] font-semibold my-1 md:my-2 lg:my-3"
          >
            Mobile Accessibility
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            It offers mobile apps for both Android and iOS, allowing you to
            access critical business data and functions from anywhere, at any
            time.
          </p>
        </div>
        <div class="grid justify-items-center">
          <Image
            loading="eager"
            src={multi_currency}
            class="pb-1 md:pb-2 lg:pb-3"
            alt="Multi Currency"
          />
          <div
            class="text-base md:text-lg lg:text-xl text-[#31393C] font-semibold my-1 md:my-2 lg:my-3"
          >
            Multi-Currency and Multi-Language Support
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            If your business operates in multiple regions or serves customers
            globally, ERPNext supports multi-currency and multi-language
            capabilities.
          </p>
        </div>
        <div class="grid justify-items-center">
          <Image
            loading="eager"
            src={real_time_analytics}
            class="pb-1 md:pb-2 lg:pb-3"
            alt="Real Time Analytics"
          />
          <div
            class="text-base md:text-lg lg:text-xl text-[#31393C] font-semibold my-1 md:my-2 lg:my-3"
          >
            Real-Time Analytics and Reporting
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            The software provides robust reporting and analytics tools, allowing
            you to make data-driven decisions based on real-time information.
          </p>
        </div>
        <div class="grid justify-items-center">
          <Image
            loading="eager"
            src={workflow_automation}
            class="pb-1 md:pb-2 lg:pb-3"
            alt="Workflow Automation"
          />
          <div
            class="text-base md:text-lg lg:text-xl text-[#31393C] font-semibold my-1 md:my-2 lg:my-3"
          >
            Workflow Automation
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            ERPNext includes workflow management tools that enable you to
            automate routine tasks and processes, improving efficiency and
            reducing the risk of errors.
          </p>
        </div>
        <div class="grid justify-items-center">
          <Image
            loading="eager"
            src={security_features}
            class="pb-1 md:pb-2 lg:pb-3"
            alt="Security Features"
          />
          <div
            class="text-base md:text-lg lg:text-xl text-[#31393C] font-semibold my-1 md:my-2 lg:my-3"
          >
            Security Features
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            ERPNext incorporates security measures to protect your data,
            including user permissions, data encryption, and audit trails.
          </p>
        </div>
        <div class="grid justify-items-center">
          <Image
            loading="eager"
            src={supplier_customer_portals}
            class="pb-1 md:pb-2 lg:pb-3"
            alt="Supplier Customer Portals"
          />
          <div
            class="text-base md:text-lg lg:text-xl text-[#31393C] font-semibold my-1 md:my-2 lg:my-3"
          >
            Supplier and Customer Portals
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            You can set up portals for your suppliers and customers to interact
            with your business, making it easier to manage transactions, orders,
            and communication.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Why Choose Sanskar Technolab as your ERPNext Implementation Partner? -->
  <section class="py-[0rem] md:py-[2rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 md:px-24">
      <div class="md:text-center sm:text-left text-[#31393C]">
        <h2
          class="lg:mx-18 xl:mx-28 text-[#3E96F4] text-start md:text-center text-2xl md:text-3xl lg:text-4xl !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] font-semibold"
        >
          Why Choose Sanskar Technolab as your ERPNext Implementation Partner?
        </h2>
      </div>

      <div
        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8 2xl:gap-14 text-[#31393C] mb-5 mt-10 md:my-12 lg:my-16"
      >
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={latest_trends_practices}
            alt="Latest Trends Practices"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
              Updated with Latest Trends and Practices:
            </div>
            <p class="text-xs md:text-sm lg:text-base">
              Sanskar Technolab stays updated with the latest trends and best
              practices in the ERPNext ecosystem to offer best-in-class and
              relevant solutions to our clients. We continuously update our
              knowledge to provide clients with cutting-edge solutions by
              leveraging the latest features of ERPNext.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={highly_customize}
            alt="Highly Customize"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
              Highly Customized Solutions:
            </div>
            <p class="text-xs md:text-sm lg:text-base">
              We are aware that every business has unique requirements. So,
              Sanskar Technolab offers highly customized ERPNext solutions. Our
              team of experts collaborates closely with clients to understand
              their specific workflows and needs and offer tailor-made ERPNext
              configurations that align perfectly with our client's business
              processes and goals.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={costing_varied_pricing_plans}
            alt="Costing Varied Pricing Plans"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
              Affordable Costing & Varied Pricing Plans:
            </div>
            <p class="text-xs md:text-sm lg:text-base">
              Sanskar Technolab understands the importance of cost-effectiveness
              for businesses. So, we offer competitive and affordable pricing
              plans that cater to the different budget ranges of our clients.
              This flexibility allows businesses of all sizes to benefit from
              our ERPNext implementation services within their budget and
              convenient pricing plan.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={experienced_team}
            alt="Experienced Team"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
              Experienced Team of Developers:
            </div>
            <p class="text-xs md:text-sm lg:text-base">
              With a team of experienced and skilled ERPNext developers, Sanskar
              Technolab can handle complex implementation projects efficiently.
              Our expertise ensures a smooth and successful ERPNext deployment
              services for our customers while reducing the risk of delays or
              technical issues during the process.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={serving_various_industries}
            alt="Serving Various Industries"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
              Serving Various Industries:
            </div>
            <p class="text-xs md:text-sm lg:text-base">
              Sanskar Technolab' experience spans across various industries,
              including Manufacturing, Textile, Retail, Construction,
              Healthcare, and more. Our ERPNext development company’s diverse
              industry exposure allows us to understand the specific
              requirements and challenges different sectors face so we can offer
              industry-specific solutions accordingly.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={support_training}
            alt="Support Training"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
              Comprehensive Support and Training:
            </div>
            <p class="text-xs md:text-sm lg:text-base">
              Even after the ERPNext implementation services, there are so many
              things going on! To help you with the same, Sanskar Technolab
              offers comprehensive post-implementation support and training to
              ensure that clients can effectively use and maintain their ERPNext
              system. This ongoing assistance helps clients maximize the
              benefits of ERPNext and overcome any challenges that may arise
              during day-to-day operations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

  <style>
    .bg-partner {
      background-image: url("../../public/Images/join-hand.svg");
    }

    .section-bg-left-challanges {
            position: relative;
        }

        .section-bg-left-challanges::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80rem;
            background-image: radial-gradient(
                ellipse at left,
                rgba(62, 150, 244, 0.15),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            );
            z-index: -1;
            margin-top: 0rem;
        }

        @media (max-width: 640px) {
            .section-bg-left-challanges::before {
                height: 60rem;
                margin-top: 20rem;
            }
        }

        @media (max-width: 768px) {
            .section-bg-left-challanges::before {
                height: 60rem;
                margin-top: 22rem;
            }
        }



    .section-bg-right1::before {
            content: "";
            position: absolute;
            width: 100%;

            height: 120rem;
            background-image: radial-gradient(
                ellipse at right,
                rgba(62, 150, 244, 0.2),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            );
            z-index: -1;
        }

        @media (max-width: 640px) {
            .section-bg-right1::before {
                content: "";
                position: absolute;
                width: 100%;

                height: 0;
                background-image: radial-gradient(
                    ellipse at right,
                    rgba(62, 150, 244, 0.1),
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0)
                );
                z-index: -1;
            }
        }
  </style>
</Layout>